<template>
  <error-page v-if="!isValidHash" message="Invalid Address. Must be 21 byte hex string" />
  <template v-else-if="errMsg">
    <q-page padding>
      <error-card title="Sorry" :message="errMsg" />
    </q-page>
  </template>
  <template v-else>
    <template v-if="!isAddress">
      <!-- <q-chip class="q-mt-sm" :clickable="false" square color="gray">
        {{ address }}
      </q-chip> -->
      <q-btn class="q-mt-sm q-ml-sm" no-caps color="btn-color" @click="onContractState" label="View Contract State" />
      <div class="q-pl-md q-mt-md" v-if="isContractPublic && contractPublicInfo?.address_creator">
        Contract created by:
        <q-btn no-caps no-wrap size="sm" flat dense @click="onTokenErc20(contractPublicInfo?.address_creator)" :label="contractPublicInfo?.address_creator" />
        <br />
        At tx_hash:
        <q-btn no-caps no-wrap size="sm" flat dense @click="onTxHash(contractPublicInfo?.tx_hash)" :label="contractPublicInfo?.tx_hash" /> <br />
      </div>
    </template>
    <!-- <pre>accountInfo: {{ accountInfo }}</pre> -->
    <div class="q-pa-sm" v-if="accountInfo">
      <div class="text-body1">
        <b> Account Info: </b>
        <q-chip :ripple="false" :clickable="false" square color="gray">
          <q-separator vertical color="accent" style="margin-left: -8px; padding: 0 1px" />&nbsp;&nbsp;{{ address }}
          <q-tooltip anchor="top middle" self="bottom middle" class="bg-amber text-black shadow-4" :offset="[10, 10]">
            exists on Shard: {{ accountInfo.account.shard_id }}
          </q-tooltip>
        </q-chip>
      </div>
      <div>
        <template v-for="(vest, idx) in accountInfo.account.data.vestingAccounts.map((v) => deriveVesting(v))" :key="idx">
          <q-separator color="gray" />
          <table-custom
            :title="`MPC Tokens Vesting Group ${idx + 1}`"
            :gridHeader="false"
            :minHeight="'0px'"
            :loading="false"
            maxWidth="600px"
            :rows="[
              { key: 'Start Time', value: new Date(vest.startTime).toISOString() },
              { key: 'Fully Vested', value: `${vest.fullyVested.years} years` },
              {
                key: 'Scheduled',
                value: `Period ${vest.currentPeriod + 1} of ${vest.periods} each releasing ${convertDec(vest.tokensPerPeriod, {
                  decimals: 4,
                  removeTrailingZeros: false,
                })} MPC`,
              },
              { key: 'Total Tokens', value: convertDec(vest.tokens, { decimals: 4, removeTrailingZeros: false }) },
              { key: 'Total Released', value: convertDec(vest.vested, { decimals: 4, removeTrailingZeros: false }) },
              { key: 'Next Release', value: new Date(vest.schedule[vest.currentPeriod]).toISOString() },
            ]"
            :columns="colMpc"
            :vis="['grid_key', 'grid_value']"
          />
        </template>
        <q-btn v-if="canUnvest" class="q-mb-md q-ml-sm" label="Unvest" color="btn-color" @click="onUnvest" />

        <template v-if="rowsCoins.length">
          <table-custom :minHeight="'0px'" :loading="false" :rows="rowsCoins" :columns="colCoins" :vis="['balance', 'gas', 'symbol', 'conversion']" />
        </template>
      </div>
    </div>
    <div class="q-pa-sm">
      <q-tabs
        indicator-color="tab-indicator"
        no-caps
        align="left"
        v-model="tab"
        inline-label
        class="text-black tab-header"
        style="border-bottom: 1px solid #e7e7e7"
      >
        <q-tab v-bind:class="`tab-recent${isMobile ? '-mobile' : ''}`" name="transactions" label="Transactions" />
        <q-tab v-bind:class="`tab-recent${isMobile ? '-mobile' : ''}`" name="erc20" label="MPC20" @click="onTokenErc20Activity" />
        <q-tab v-bind:class="`tab-recent${isMobile ? '-mobile' : ''}`" name="erc721" label="NFTs" @click="onTokenErc721Activity" />
        <q-tab
          v-bind:class="`tab-recent${isMobile ? '-mobile' : ''}`"
          name="contract"
          label="Interact"
          v-if="isContractPublic"
          @click="onContractPublicInteract"
        />
        <q-tab
          v-bind:class="`tab-recent${isMobile ? '-mobile' : ''}`"
          name="contractSystem"
          label="Interact"
          v-if="isSystemContractKnown"
          @click="onContractInteract"
        />
        <q-tab v-bind:class="`tab-recent${isMobile ? '-mobile' : ''}`" name="byoc" label="BYOC" @click="onByoc" v-if="isAddress" />
      </q-tabs>

      <q-tab-panels v-model="tab" animated class="q-mb-md" active-class="tab-active">
        <q-tab-panel name="contractSystem">
          <q-form @submit="onContractSubmit">
            <q-select outlined class="q-mb-xl" v-model="selContractSystem" :options="selContractSystemOptions" label="Invocation Byte" />
            <!-- :option-label="
                (opt) => {
                  const abi = contractInvocations.find((v) => v.invocationByte === selContractSystem).abi
                  const variableName = Object.keys(globalThis).find(key => globalThis[key] === abi[index]);

                  return JSON.stringify(abi)
                }
              " -->
            <div class="q-gutter-md">
              <template v-for="(abi, i) in contractInvocations.find((v) => v.invocationByte === selContractSystem).abi" :key="i">
                <!-- <pre>{{ abi }}</pre> -->
                <template v-if="i !== 0">
                  <q-input dense outlined v-model="contractSystemForm[i]" :hint="abi.field_type" :label="abi.field_name" />
                </template>
              </template>
            </div>
            <q-btn class="q-mt-md" :loading="isContractBroadcasting" type="submit" color="btn-color" label="Submit" />
          </q-form>
        </q-tab-panel>
        <q-tab-panel name="transactions">
          <table-custom
            :loading="loading"
            :rows="rows"
            :columns="columns"
            :vis="vis"
            :csv="{
              name: `Transactions`,
              exportType: 'trx',
              params: {
                address,
                isAddress,
              },
            }"
          />
          <div v-if="isMore" class="full-width row justify-center">
            <q-btn class="row q-mt-md" size="lg" color="btn-color" :disable="!isMore" style="width: 185px" label="View More" no-caps @click="onViewMore" />
          </div>
        </q-tab-panel>
        <q-tab-panel name="contract">
          <template v-if="contractPublicAbi">
            <!-- <pre>{{ JSON.stringify(contractPublicAbi, null, 2) }}</pre> -->
            <div class="text-body2">Select Action:</div>
            <q-select
              class="q-mb-lg"
              color="btn-color"
              outlined
              options-selected-class="teal"
              bottom-slots
              v-model="abiAction"
              :options="contractPublicAbi.contract.functions"
              :option-label="(opt) => opt.name"
            >
              <template v-slot:prepend>
                <q-icon name="las la-dot-circle" />
              </template>
            </q-select>

            <form-interact-action v-if="abiAction" :abi="contractPublicAbi" :address-contract="address" :action-name="abiAction.name" :key="abiAction.name" />
          </template>
        </q-tab-panel>
        <q-tab-panel name="erc20" v-if="aryTokens.length === 0">
          <div class="q-ma-md">
            <div class="text-body2"><b>No Tokens</b></div>
          </div>
        </q-tab-panel>
        <q-tab-panel name="erc20" v-else>
          <div class="q-ma-md">
            <div class="text-body2"><b>Tokens</b></div>
            <q-select
              @update:model-value="onTokenErc20Select"
              v-if="token"
              outlined
              options-selected-class="teal"
              bottom-slots
              :hint="`Contract: ${token.address_contract}`"
              v-model="token"
              :label="token.contractState.name"
              :options="aryTokens"
              :option-value="(opt) => opt.id"
              :option-label="(opt) => `${opt.contractState.balanceConvert} ${opt.contractState.symbol}`"
              stack-label
            >
              <template v-slot:prepend>
                <q-icon name="las la-wallet" />
              </template>
            </q-select>

            <q-btn-dropdown v-if="false" push no-caps color="btn-color">
              <template v-slot:label>
                <div class="row items-center no-wrap">
                  <q-icon left name="las la-wallet" />
                  <div class="text-center">ERC20<br />Tokens</div>
                </div>
              </template>

              <q-list>
                <q-item v-for="(tkn, idx) in aryTokens" :key="idx" clickable v-close-popup @click="onTokenErc20(tkn.address_contract)">
                  <q-item-section>
                    <q-item-label>{{ tkn.contractState.name }}</q-item-label>
                    <q-item-label caption :lines="1"> {{ tkn.contractState.balanceConvert }} {{ tkn.contractState.symbol }} </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
          <!-- <pre>{{ JSON.stringify(token, null, 2) }}</pre> -->
          <!-- display transactions for tokens selected -->
          <q-list bordered separator>
            <q-item>
              <q-item-section>
                <q-item-label>Name</q-item-label>
                <q-item-label caption>{{ token.name }}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-item-label>Total Supply</q-item-label>
                <q-item-label caption>
                  {{ convertDec(token.contractState.total_supply, { decimals: token.contractState.decimals }) }} {{ token.contractState.symbol }}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple>
              <q-item-section @click="onTokenErc20(token.address_creator)">
                <q-item-label>Contract Creator</q-item-label>
                <q-item-label caption>{{ token.address_creator }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple>
              <q-item-section @click="onTokenErc20(token.address_contract)">
                <q-item-label>Contract Address</q-item-label>
                <q-item-label caption>{{ token.address_contract }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
          <table-custom
            :rows="rowsTokenErc20"
            :loading="loadingTokenErc20"
            :columns="columns"
            :vis="vis"
            :csv="{
              name: `ERC20 Activity ${token.contractState.symbol}`,
              exportType: 'erc20',
              params: {
                address,
                address_contract: token.address_contract,
                abi: token.abi,
                decimals: token.contractState.decimals,
              },
            }"
          />
          <div v-if="isMoreTokenErc20" class="full-width row justify-center">
            <q-btn
              class="row q-mt-md"
              size="lg"
              color="btn-color"
              :disable="!isMore"
              style="width: 185px"
              label="View More"
              no-caps
              @click="onViewMoreTokenErc20"
            />
          </div>
        </q-tab-panel>
        <q-tab-panel name="erc721" v-if="aryNfts.length === 0">
          <div class="q-ma-md">
            <div class="text-body2"><b>This Address owns no NFTs</b></div>
          </div>
        </q-tab-panel>
        <q-tab-panel name="erc721" v-else>
          <div class="q-ma-md">
            <div class="text-body2"><b>NFTs</b></div>
            <!-- <pre>{{ token721 }}</pre> -->
            <q-select
              @update:model-value="onTokenErc721Select"
              v-if="token721"
              outlined
              options-selected-class="teal"
              bottom-slots
              :hint="`Contract: ${token721.address_contract}`"
              v-model="token721"
              :label="token721.contractState.name"
              :options="aryNfts"
              :option-value="(opt) => opt.id"
              :option-label="(opt) => `${opt.contractState.aryTokens.length} ${opt.contractState.symbol}`"
              stack-label
            >
              <template v-slot:prepend>
                <q-icon name="las la-wallet" />
              </template>
            </q-select>

            <q-btn-dropdown v-if="false" push no-caps color="btn-color">
              <template v-slot:label>
                <div class="row items-center no-wrap">
                  <q-icon left name="las la-wallet" />
                  <div class="text-center">ERC721<br />Tokens</div>
                </div>
              </template>

              <q-list>
                <q-item v-for="(tkn, idx) in aryNfts" :key="idx" clickable v-close-popup @click="onTokenErc721(tkn.address_contract)">
                  <q-item-section>
                    <q-item-label>{{ tkn.contractState.name }}</q-item-label>
                    <q-item-label caption :lines="1"> {{ tkn.contractState.symbol }} </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
          <q-list bordered separator>
            <q-item>
              <q-item-section>
                <q-item-label>Name</q-item-label>
                <q-item-label caption>{{ token721.contractState.name }}</q-item-label>
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-item-label>Symbol</q-item-label>
                <q-item-label caption>
                  {{ token721.contractState.symbol }}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple>
              <q-item-section @click="onTokenErc721(token721.address_creator)">
                <q-item-label>Contract Creator</q-item-label>
                <q-item-label caption>{{ token721.address_creator }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple>
              <q-item-section @click="onTokenErc721(token721.address_contract)">
                <q-item-label>Contract Address</q-item-label>
                <q-item-label caption>{{ token721.address_contract }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>

          <q-separator class="q-my-lg" />

          <q-list bordered separator>
            <q-item v-for="(tkn, idx) in token721.contractState.aryTokens" :key="idx">
              <q-item clickable v-ripple>
                <q-item-section @click="onLink(tkn.uri)">
                  <q-item-label>Token Id: {{ tkn.key }}</q-item-label>
                  <q-item-label caption>url: {{ tkn.uri.length === 0 ? '(none)' : tkn.uri }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-item>
          </q-list>
          <table-custom
            :rows="rowsTokenErc721"
            :loading="loadingTokenErc721"
            :columns="columns"
            :vis="vis"
            :csv="{
              name: `ERC721 Activity ${token721.contractState.symbol}`,
              exportType: 'erc721',
              params: {
                address,
                address_contract: token721.address_contract,
                abi: token721.abi,
                decimals: token721.contractState.decimals,
              },
            }"
          />
          <div v-if="isMoreTokenErc721" class="full-width row justify-center">
            <q-btn
              class="row q-mt-md"
              size="lg"
              color="btn-color"
              :disable="!isMore"
              style="width: 185px"
              label="View More"
              no-caps
              @click="onViewMoreTokenErc721"
            />
          </div>
        </q-tab-panel>
        <q-tab-panel name="byoc">
          <!-- <table-custom :loading="loadingByoc" :rows="rowsByoc" :columns="colsByoc" :vis="visByoc" /> -->
          <q-table
            :rows="rowsByoc"
            :columns="colsByoc"
            :visible-columns="visByoc"
            row-key="id"
            :bordered="false"
            separator="none"
            hide-bottom
            :rows-per-page-options="[0]"
            :loading="loadingByoc"
            style="box-shadow: none"
          >
            <template v-if="rowsByoc.length > 0" v-slot:top-right>
              <download-csv
                :csv="{
                  name: `BYOC Activity`,
                  exportType: 'byoc',
                  params: {
                    address,
                  },
                }"
              />
            </template>
            <template v-slot:header="props">
              <q-tr :props="props" class="thc">
                <q-th auto-width />
                <q-th v-for="col in props.cols" :key="col.name" :props="props">
                  {{ col.label }}
                </q-th>
              </q-tr>
            </template>
            <template v-slot:body="props">
              <q-tr no-hover :props="props" v-bind:style="{ background: props.rowIndex % 2 === 1 ? '#fafafc' : '' }">
                <q-td auto-width>
                  <q-btn
                    size="md"
                    flat
                    round
                    color="primary"
                    @click="props.expand = !props.expand"
                    :icon="props.expand ? 'las la-chevron-circle-up' : 'las la-chevron-circle-down'"
                  />
                </q-td>
                <q-td v-for="col in props.cols" :key="col.name" :props="props">
                  <template v-if="col.field === 'eth_transaction_hash'">
                    <q-chip v-if="col.value.length" ripple clickable square color="blue-grey-1" @click="onEtherscanLink(col.value, props.row.coin_id)">{{
                      col.value
                    }}</q-chip>
                  </template>
                  <template v-else>
                    <span class="t-cell-class">
                      {{ col.value }}
                    </span>
                  </template>
                </q-td>
              </q-tr>
              <q-tr v-show="props.expand" :props="props">
                <q-td colspan="100%" class="q-pa-md">
                  <table-custom :minHeight="'0px'" :loading="false" :bordered="true" :rows="props.row.inner" :columns="colsByocInner" :vis="visByocInner" />
                </q-td>
              </q-tr>
            </template>
          </q-table>
          <div v-if="isMoreByoc" class="full-width row justify-center">
            <q-btn
              class="row q-mt-md"
              size="lg"
              color="btn-color"
              :disable="!isMoreByoc"
              style="width: 185px"
              label="View More"
              no-caps
              @click="onViewMoreByoc"
            />
          </div>
        </q-tab-panel>
      </q-tab-panels>
    </div>
  </template>
</template>

<script>
import { ref, onBeforeMount } from 'vue'
import { openURL, useQuasar } from 'quasar'
import {
  api,
  getShardName,
  mapTrxData,
  rpcAccount,
  convertDec,
  mapTrxDataErc20,
  mapTrxDataErc721,
  reMapByoc,
  mapCoinNames,
  SYSTEM_CONTRACTS,
} from 'src/boot/preload'
import TableCustom from 'src/components/TableCustom.vue'
import { useRouter } from 'vue-router'
import ErrorPage from 'src/components/ErrorPage.vue'
import ErrorCard from 'src/components/ErrorCard.vue'
import FormInteractAction from 'src/components/FormInteractAction.vue'
import { partisiaCrypto } from 'partisia-crypto'
import { Big } from 'big.js'
import useBreakpoints from 'src/boot/useBreakpoints'
import { fromWei } from 'web3-utils'
import assert from 'assert'
import DownloadCsv from 'src/components/DownloadCsv.vue'
import { AbiParser, JsonValueConverter, RpcReader, StateReader } from '@partisiablockchain/abi-client-ts'
import { useStore } from 'vuex'
import PartisiaSdk from 'partisia-sdk'

// const colMpc = [
//   { name: 'mpc', align: 'left', label: 'mpc tokens', field: 'mpc' },
//   { name: 'staked', align: 'left', label: 'staked', field: 'staked' },
//   // "MPC TOKENS UNLOCKED" "MPC TOKENS VESTING" "MPC TOKENS STAKED"
// ]
const colMpc = [
  { align: 'left', name: 'grid_key', field: 'key' },
  { align: 'left', name: 'grid_value', field: 'value' },
  { name: 'grid_tag', field: 'tag' },
]

const colsByocInner = [
  { name: 'id', align: 'left', label: 'id', field: 'id' },
  { name: 'shard', align: 'left', label: 'shard', field: 'shard_id', format: (val) => getShardName(val) },
  { name: 'block_level', align: 'left', label: 'block_level', field: 'block_level' },
  { name: 'transaction_hash', align: 'left', label: 'transaction_hash', field: 'transaction_hash' },
  { name: 'block_hash', align: 'left', label: 'block_hash', field: 'block_hash' },
  { name: 'timestamp', align: 'left', label: 'timestamp', field: 'block_timestamp', format: (val) => val },
]
const colsByoc = [
  { name: 'id', align: 'left', label: 'id', field: 'id' },
  { name: 'coin_id', align: 'left', label: 'coin', field: 'coin_name' },
  { name: 'deposit_type', align: 'left', label: 'type', field: 'deposit_type' },
  { name: 'nonce', align: 'left', label: 'nonce', field: 'nonce' },
  { name: 'address', align: 'left', label: 'address', field: 'address' },
  {
    name: 'amount',
    align: 'left',
    label: 'amount',
    field: 'amount_convert',
  },
  { name: 'eth_transaction_hash', align: 'left', label: 'transaction', field: 'eth_transaction_hash', format: (val) => (val ? `0x${val}` : '') },
]
const colCoins = [
  // { name: 'symbol', align: 'left', label: 'symbol', field: 'symbol' },
  {
    name: 'balance',
    align: 'left',
    label: 'BYOC Coin',
    field: 'amountConverted',
    // MPC_ROPSTEN was included in error here:
    // curl -X POST https://betareader.partisiablockchain.com/blockchain/accountPlugin/global -d '{"path":[{"type":"field","name":"coins"}]}' -H 'Content-Type: application/json' | jq
    format: (val, row) => val + ' ' + row.coinName,
  },
  { name: 'gas', align: 'left', label: 'Gas Balance', field: 'gas', format: (val) => `${new Big(val).div(1024).div(1024).toFixed(2)} MB` },
  { name: 'conversion', align: 'left', label: 'conversion', field: 'conversion' },
]

export default {
  components: {
    TableCustom,
    ErrorPage,
    ErrorCard,
    FormInteractAction,
    DownloadCsv,
  },
  computed: {
    // getMpcTokenBalance() {
    //   // console.log('this.accountInfo', JSON.stringify(this.accountInfo, null, 2))
    //   const ary = this.accountInfo?.account?.data?.vestingAccounts || []
    //   const amt = ary.reduce((pv, cv, idx) => pv.plus(cv.tokens), new Big(0))
    //   return convertDec(amt, { decimals: 4 })
    // },
  },
  methods: {
    getShardName(id) {
      return getShardName(id)
    },
    deriveVesting(vest) {
      if (process.env.DEV) console.log('vest', JSON.stringify(vest, null, 2))
      const releaseDuration = Number(vest.releaseDuration)
      const releaseInterval = Number(vest.releaseInterval)
      const releasedTokens = Number(vest.releasedTokens)
      const tokenGenerationEvent = Number(vest.tokenGenerationEvent)
      const tokens = Number(vest.tokens)
      // https://www.cloudhadoop.com/java8-chronounit-class-example/
      // Nanos is of seconds:0
      // Micros is of seconds:0
      // Millis is of seconds:0
      // Seconds is of seconds:1
      // Minutes is of seconds:60
      // Hours is of seconds:3600
      // holidays is of seconds:43200
      // Days is of seconds:86400
      // Weeks is of seconds:604800
      // Months is of seconds:2629746
      // Years is of seconds:31556952
      // Decades is of seconds:315569520
      // Centuries is of seconds:3155695200
      // Millennia is of seconds:31556952000
      // Eras is of seconds:31556952000000000
      // Forever is of seconds:9223372036854775807
      const javaYear = 31556952000
      const javaMonth = javaYear / 12
      const javaDay = 86400

      //   "vestingAccounts": [
      // {
      //   "releaseDuration": "126227808000",
      //   "releaseInterval": "7889238000",
      //   "releasedTokens": "0",
      //   "tokenGenerationEvent": "1661904000000",
      //   "tokens": "5500000000"
      // }
      // 126227808000: Four years
      // 126227808000 = 7889238000 *16
      // 1661904000000: Wednesday, August 31, 2022 12:00:00 AM
      const years = releaseDuration / javaYear
      // const months = releaseInterval / javaMonth
      const periods = releaseDuration / releaseInterval
      const schedule = []
      for (let i = 0; i < Math.round(periods); i++) {
        // =($I$4*F5*4)+$F$3
        const v = (i + 1) * releaseInterval + tokenGenerationEvent
        schedule.push(v)
      }
      if (process.env.DEV) console.log('schedule', JSON.stringify(schedule))
      if (process.env.DEV) console.log('fullyVested', releaseDuration + tokenGenerationEvent)
      const idxSchedule = schedule.findIndex((s) => s >= Date.now())
      const currentPeriod = idxSchedule === -1 ? schedule.length - 1 : idxSchedule

      // todo make a better calculation
      this.canUnvest = currentPeriod >= 0

      return {
        tokens,
        periods,
        schedule,
        startTime: tokenGenerationEvent,
        // fullyVested: releaseDuration + tokenGenerationEvent,
        fullyVested: { years },
        tokensPerPeriod: tokens / periods,
        vested: releasedTokens,
        currentPeriod,
      }
    },
  },
  setup() {
    const $q = useQuasar()
    const router = useRouter()
    const store = useStore()
    // redirect to Contract page
    const isValidHash = ref(false)
    const { width, isMobile } = useBreakpoints()

    const tab = ref('transactions')
    const errMsg = ref(null)
    const rows = ref([])
    const loading = ref(true)
    const loadingByoc = ref(true)
    const hash = ref(router.currentRoute.value.params.address)
    const isMore = ref(true)
    const isMoreByoc = ref(true)

    const aryTokens = ref([])
    const loadingTokenErc20 = ref(true)
    const isMoreTokenErc20 = ref(true)
    const rowsTokenErc20 = ref([])
    const token = ref(null)

    const aryNfts = ref([])
    const loadingTokenErc721 = ref(true)
    const isMoreTokenErc721 = ref(true)
    const rowsTokenErc721 = ref([])
    const token721 = ref(null)

    const accountInfo = ref(null)
    const rowsCoins = ref([])
    const rowsByoc = ref([])
    const contractPublicAbi = ref(null)
    const abiAction = ref(null)
    const canUnvest = ref(false)

    const getNftTokenUri = (baseUri, token_uri) => {
      const url_base = baseUri.isSome ? baseUri.innerValue : ''
      const url_path = token_uri.isSome ? token_uri.innerValue : ''
      return url_base + url_path
    }

    const fetchTokensErc721 = async () => {
      try {
        const { data } = await api.get(`/contract/${hash.value}/2`)

        // get all balances
        const aryPromises = []
        data.forEach((val, idx, ary) => aryPromises.push(rpcAccount.getContract(val.address_contract, val.shard_id, true)))

        const aryContractState = await Promise.all(aryPromises)
        // console.log('aryContractState', JSON.stringify(aryContractState, null, 2))

        const getTokenErc721 = (contractState, address) => {
          const aryBalances = contractState.mpc721.tokens
          const aryTokens = aryBalances.filter((b) => b.value.owner === address)
          const tokenId = aryBalances.key
          const baseUri = contractState.mpc721.base_uri
          for (const a of aryTokens) {
            a.uri = getNftTokenUri(baseUri, a.value.token_uri)
          }

          return {
            name: contractState.mpc721.name,
            symbol: contractState.mpc721.symbol,
            supply: contractState.mpc721.supply,
            aryTokens,
            tokenId,
            baseUri,
          }
        }
        const ary = []
        for (let i = 0; i < data.length; i++) {
          if (aryContractState[i]?.data == null) continue
          // const { address_contract, id, abi } = data[i]
          const { serializedContract, abi } = aryContractState[i].data
          const contractAbi = new AbiParser(Buffer.from(abi, 'base64')).parseAbi()
          const reader = new StateReader(Buffer.from(serializedContract.state.data, 'base64'), contractAbi.contract)
          // assuming 0 index for now?
          const struct = reader.readStruct(contractAbi.contract.getStateStruct())
          const contractState = JsonValueConverter.toJson(struct)

          ary.push({
            ...data[i],
            contractState: getTokenErc721(contractState, hash.value),
          })
        }
        if (process.env.DEV) console.log('aryNFTs', JSON.stringify(ary, null, 2))
        aryNfts.value = ary
        if (process.env.DEV) console.log('nft', JSON.stringify(aryNfts.value[0], null, 2))
        token721.value = aryNfts.value[0] || null
      } catch (error) {
        $q.notify({ type: 'negative', message: error.message })
      }
    }

    const fetchTokensErc20 = async () => {
      try {
        const { data } = await api.get(`/contract/${hash.value}/1`)

        // get all balances
        const aryPromises = []
        data.forEach((val, idx, ary) => aryPromises.push(rpcAccount.getContract(val.address_contract, val.shard_id, true)))

        const aryContractState = await Promise.all(aryPromises)
        // console.log('aryContractState', JSON.stringify(aryContractState, null, 2))

        // bit of a hack to keep all the rest of the logic in this page
        const getTokenErc20 = (contractState, address) => {
          const aryBalances = contractState.balances ?? contractState.mpc20?.balances ?? []
          const balance = aryBalances.find((b) => b.key === address)?.value || '0'
          const decimals = Number(contractState.decimals ?? contractState.mpc20?.info?.decimals ?? 0)
          const total_supply = contractState.total_supply ?? contractState?.mpc20?.total_supply

          return {
            name: contractState.name ?? contractState.mpc20?.info?.name,
            symbol: contractState.symbol ?? contractState.mpc20?.info?.symbol,
            decimals,
            balance,
            balanceConvert: convertDec(balance, { decimals: decimals }),
            total_supply,
          }
        }
        const ary = []
        for (let i = 0; i < data.length; i++) {
          if (aryContractState[i]?.data == null) continue
          // const { address_contract, id, abi } = data[i]
          const { serializedContract, abi } = aryContractState[i].data
          const contractAbi = new AbiParser(Buffer.from(abi, 'base64')).parseAbi()
          const reader = new StateReader(Buffer.from(serializedContract.state.data, 'base64'), contractAbi.contract)
          // assuming 0 index for now?
          const struct = reader.readStruct(contractAbi.contract.getStateStruct())
          const contractState = JsonValueConverter.toJson(struct)

          ary.push({
            ...data[i],
            contractState: getTokenErc20(contractState, hash.value),
          })
        }
        if (process.env.DEV) console.log('aryTokens', JSON.stringify(ary, null, 2))
        aryTokens.value = ary
        if (process.env.DEV) console.log('token', JSON.stringify(aryTokens.value[0], null, 2))
        token.value = aryTokens.value[0] || null
      } catch (error) {
        $q.notify({ type: 'negative', message: error.message })
      }
    }

    const displayAsUsdc = (v) => {
      // rowsCoins
      if (accountInfo.value?.coins) {
        const coin = accountInfo.value.coins[1]
        const conversion = new Big(coin.conversionRate.numerator).div(coin.conversionRate.denominator)
        return new Big(v).div(conversion).div(1e6).toFixed(4) + ' USDC'
      } else {
        return new Big(v).div(1024).toFixed(2) + ' KB'
      }
    }

    const displayAsEth = (v) => {
      // rowsCoins
      if (accountInfo.value?.coins) {
        const coin = accountInfo.value.coins[0]
        const conversion = new Big(coin.conversionRate.numerator).div(coin.conversionRate.denominator)
        return new Big(v).div(conversion).div(1e18).toFixed(8) + ' ETH'
      } else {
        return new Big(v).div(1024).toFixed(2) + ' KB'
      }
    }
    const columns = [
      { name: 'id', field: 'id' },
      { name: 'has_error', align: 'center', label: '', field: 'has_error' },
      {
        name: 'hash',
        align: 'left',
        label: 'hash',
        field: 'transaction_hash',
      },
      { name: 'shard', align: 'left', label: 'shard', field: 'shard_id', format: (val) => getShardName(val) },
      { name: 'timestamp', align: 'left', label: 'timestamp', field: 'block_timestamp', format: (val) => val },
      { name: 'from', align: 'center', label: 'from', field: 'address_from' },
      { name: 'to', align: 'center', label: 'to', field: 'to' },
      { name: 'invocation_type', align: 'center', label: 'Type', field: 'invocation_type' },
      { name: 'amount', align: 'right', label: 'amount', field: 'amount' },
      { name: 'gas', align: 'right', label: 'gas', field: 'inner_cost', format: (val) => new Big(val).div(1024).toFixed(2) + ' KB' },
      { name: 'fee', align: 'right', label: '\u2248 fee', field: 'inner_cost', format: (val) => displayAsUsdc(val) },
    ]
    try {
      const buf = Buffer.from(hash.value, 'hex')
      assert(buf.length === 21)
      isValidHash.value = true
      // puts it to lowerCase
      hash.value = buf.toString('hex')
    } catch (error) {
      console.error(error.message)
    }

    // redirect if it is a system contract
    const enumAddress = parseInt(hash.value.substr(0, 2), 16)
    const isAddress = enumAddress === 0
    const isContractPublic = ref(enumAddress === 2)
    const isContractZK = ref(enumAddress === 3)
    const selContractSystem = ref(null)
    const selContractSystemOptions = ref([])
    const contractSystemForm = ref([])
    const contractSystem = SYSTEM_CONTRACTS.find((c) => c.contract === hash.value.toLowerCase())
    const isContractBroadcasting = ref(false)
    const isSystemContractKnown = !!contractSystem
    const contractInvocations = ref([])
    const contractPublicInfo = ref({})
    // public contract beings with 02 so we can deserialize with abi

    // if (SYSTEM_CONTRACTS.find((c) => c.contract === hash.value)) {
    //   router.push({ path: `/contract/${hash.value}` })
    // }
    const getAccountInfo = async () => {
      const account = await rpcAccount.getAccount(hash.value)
      if (account) {
        const { coins } = await rpcAccount.fetchCoins()
        accountInfo.value = { account, coins }
        const ary = []
        // Prevent scientific notation
        Big.PE = 20
        Big.NE = -20
        // accountCoins is a lazy populated list mirroring the coins
        // meaning that this is true accountCoins.length <= coins.length
        for (let i = 0; i < account.data.accountCoins.length; i++) {
          const coinLoc = account.data.accountCoins[i]
          const coinGlb = coins[i]
          const conversion = new Big(coinGlb.conversionRate.numerator).div(coinGlb.conversionRate.denominator)
          const coin_id = i + 1
          const gas = conversion.times(coinLoc.balance)
          const coinProps = mapCoinNames.find((c) => c.id === coin_id)
          ary.push({
            coin_id,
            balance: coinLoc.balance,
            coinName: coinProps?.name || coin_id,
            gas: gas.toString(),
            amountConverted: new Big(coinLoc.balance).times(`1e-${coinProps?.decimals || 0}`).toString(),
            symbol: coinGlb.symbol,
            conversion: conversion.toString(),
          })
        }
        rowsCoins.value = ary
      }
    }

    onBeforeMount(async () => {
      try {
        // attempt to get account balances
        if (isAddress) getAccountInfo()

        // Get recent transactions
        const qs = new URLSearchParams({ n: 20, skip_payload: true }).toString()
        const { data } = await api.get(`/transactions/${isAddress ? 'address' : 'contract'}/${hash.value}?${qs}`)
        if (isContractPublic.value) {
          try {
            const { data } = await api.get(`/contract_public/${hash.value}`)
            contractPublicInfo.value = data
          } catch (error) {
            console.error(error.message)
          }
        }
        rows.value = mapTrxData(data)
        isMore.value = data.length === 20

        // Get Erc20 Tokens
        if (isAddress) {
          await fetchTokensErc20()
          await fetchTokensErc721()
        }
      } catch (error) {
        console.error(error.message)
        errMsg.value = error.message
      } finally {
        loading.value = false
      }
    })

    const fetchTokensErc20Activty = async (address_contract, abi, decimals) => {
      try {
        // Get recent token erc20 activity
        loadingTokenErc20.value = true
        const qs = new URLSearchParams({ n: 20, skip_payload: true }).toString()
        // const { data } = await api.get(`/transactions/address/erc20/${hash.value}/${address_contract}?${qs}`)
        const { data } = await api.get(`/transactions/address/tokens/${hash.value}/${address_contract}/1/?${qs}`)
        rowsTokenErc20.value = mapTrxDataErc20(data, abi, decimals)
        isMoreTokenErc20.value = data.length === 20
      } catch (error) {
        console.error(error.message)
        errMsg.value = error.message
      } finally {
        loadingTokenErc20.value = false
      }
    }
    const fetchTokensErc721Activty = async (address_contract, abi, decimals) => {
      try {
        loadingTokenErc721.value = true
        const qs = new URLSearchParams({ n: 20, skip_payload: true }).toString()
        const { data } = await api.get(`/transactions/address/tokens/${hash.value}/${address_contract}/2/?${qs}`)
        rowsTokenErc721.value = mapTrxDataErc721(data, abi, decimals)
        isMoreTokenErc721.value = data.length === 20
      } catch (error) {
        console.error(error.message)
        errMsg.value = error.message
      } finally {
        loadingTokenErc721.value = false
      }
    }
    return {
      isMobile,
      tab,
      address: hash.value,
      token,
      aryTokens,
      aryNfts,
      isMore,
      isMoreByoc,
      isMoreTokenErc20,
      loadingTokenErc20,
      rowsTokenErc20,
      isMoreTokenErc721,
      loadingTokenErc721,
      rowsTokenErc721,
      token721,
      rowsCoins,
      errMsg,
      accountInfo,
      isValidHash,
      loading,
      loadingByoc,
      canUnvest,
      columns,
      colMpc,
      colCoins,
      rowsByoc,
      colsByoc,
      colsByocInner,
      abiAction,
      contractPublicAbi,
      isContractPublic,
      isSystemContractKnown,
      contractInvocations,
      selContractSystem,
      isContractBroadcasting,
      selContractSystemOptions,
      contractSystemForm,
      isContractZK,
      contractPublicInfo,
      onTokenErc20(address) {
        router.push({ path: `/address/${address}` })
      },
      onTokenErc721(address) {
        router.push({ path: `/address/${address}` })
      },
      onContractState() {
        router.push({ path: `/contract/${hash.value}` })
      },
      onTxHash(tx_hash) {
        router.push({ path: `/transaction/${tx_hash}` })
      },
      visByoc: ref(colsByoc.map((c) => c.name).filter((c) => c !== 'id')),
      visByocInner: ref(colsByocInner.map((c) => c.name).filter((c) => c !== 'id')),
      vis: ref(columns.map((c) => c.name).filter((c) => c !== 'id')),
      rows,
      convertDec,
      isAddress,
      onLink: (url) => {
        if (url.length) openURL(url)
      },
      onEtherscanLink(tx_hash, coin_id) {
        switch (coin_id) {
          case 1:
            openURL(`${process.env.ETHERSCAN_URL}tx/${tx_hash}`)
            break
          case 2:
            openURL(`${process.env.POLYGON_SCAN_URL}tx/${tx_hash}`)
            break
          case 3:
            openURL(`${process.env.BNB_SCAN_URL}tx/${tx_hash}`)
            break

          default:
            break
        }
      },
      onContractPublicInteract: async () => {
        // get the api for the contract
        if (!contractPublicAbi.value) {
          // const { data } = await api.get(`/contract_public/${hash.value}`)
          const { data } = await rpcAccount.getContract(hash.value, rpcAccount.deriveShardId(hash.value), false)
          const { abi } = data
          if (process.env.DEV) console.log('data', JSON.stringify(data, null, 2))

          const abiFile = new AbiParser(Buffer.from(abi, 'base64')).parseAbi()
          // remove first as it is the init function
          abiFile.contract.functions.splice(0, 1)
          abiAction.value = abiFile.contract.functions[0]
          contractPublicAbi.value = abiFile
        }
        if (process.env.DEV) console.log('contractPublicAbi', JSON.stringify(contractPublicAbi.value, null, 2))
      },
      onContractSubmit: async () => {
        try {
          isContractBroadcasting.value = true
          assert(store.getters.sdkClient, 'Must connect your Wallet First')

          // build the payload
          const invocationByte = selContractSystem.value
          const abi = contractInvocations.value.find((v) => v.invocationByte === invocationByte).abi
          const obj = {}
          for (let i = 0; i < abi.length; i++) {
            const { field_name } = abi[i]
            obj[field_name] = contractSystemForm.value[i]
          }
          const payload = partisiaCrypto.structs.serializeToBuffer({ ...obj, invocationByte }, ...abi)

          const sdkClient = store.getters.sdkClient
          const sdk = new PartisiaSdk({ seed: sdkClient.seed, connection: sdkClient.connection })
          const res = await sdk.signMessage({
            contract: hash.value,
            payload: payload.toString('hex'),
            payloadType: 'hex_payload',
            dontBroadcast: false,
          })
          if (res.isFinalOnChain) {
            const transactionEventTrace = await rpcAccount.getTransactionEventTrace(res.trxHash)
            assert(!transactionEventTrace.hasError, transactionEventTrace.errorMessage)
            $q.notify({ actions: [{ icon: 'close', color: 'white' }], type: 'positive', timeout: 0, message: `Successful transaction: ${res.trxHash}` })
          } else {
            $q.notify({
              actions: [{ icon: 'close', color: 'white' }],
              type: 'info',
              timeout: 0,
              message: `Transaction created but not confirmed on chain: ${res.trxHash}`,
            })
          }
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isContractBroadcasting.value = false
        }
      },
      onContractInteract: async () => {
        contractInvocations.value = contractSystem.abi
          .map((v, i, a) =>
            typeof a[i] !== 'undefined'
              ? {
                  invocationByte: i,
                  abi: a[i],
                }
              : undefined
          )
          .filter((v) => v !== undefined)
        if (contractInvocations.value.length > 0) {
          selContractSystem.value = contractInvocations.value[0].invocationByte
          selContractSystemOptions.value = contractInvocations.value.map((v) => v.invocationByte)
        }
      },
      onTokenErc20Select: async (v) => {
        if (process.env.DEV) console.log('onTokenErc20Select', JSON.stringify(v, null, 2))
        tab.value === 'erc20' ? await fetchTokensErc20Activty(v.address_contract, v.abi, v.decimals) : (rowsTokenErc20.value = [])
      },
      onTokenErc20Activity: async () => {
        if (aryNfts.value.length === 0 || rowsTokenErc20.value.length > 0) return
        await fetchTokensErc20Activty(token.value.address_contract, token.value.abi, token.value.contractState.decimals)
      },
      onViewMoreTokenErc20: async () => {
        try {
          loadingTokenErc20.value = true
          const id = rowsTokenErc20.value[rowsTokenErc20.value.length - 1].id
          const qs = new URLSearchParams({ n: 20, id, skip_payload: true }).toString()
          const { data } = await api.get(`/transactions/address/tokens/${hash.value}/${address_contract}/1/?${qs}`)
          rowsTokenErc20.value.push(...mapTrxDataErc20(data, token.value.abi, token.value.decimals))
          isMoreTokenErc20.value = data.length > 0
        } catch (error) {
          console.error(error.message)
        } finally {
          loadingTokenErc20.value = false
        }
      },

      onTokenErc721Select: async (v) => {
        if (process.env.DEV) console.log('onTokenErc721Select', JSON.stringify(v, null, 2))
        tab.value === 'erc721' ? await fetchTokensErc721Activty(v.address_contract, v.abi, v.decimals) : (rowsTokenErc721.value = [])
      },

      onTokenErc721Activity: async () => {
        if (aryTokens.value.length === 0 || rowsTokenErc721.value.length > 0) return
        await fetchTokensErc721Activty(token.value.address_contract, token.value.abi, token.value.contractState.decimals)
      },
      onViewMoreTokenErc721: async () => {
        try {
          loadingTokenErc721.value = true
          const id = rowsTokenErc721.value[rowsTokenErc721.value.length - 1].id
          const qs = new URLSearchParams({ n: 20, id, skip_payload: true }).toString()
          const { data } = await api.get(`/transactions/address/tokens/${hash.value}/${address_contract}/2/?${qs}`)
          rowsTokenErc721.value.push(...mapTrxDataErc721(data, token.value.abi, token.value.decimals))
          isMoreTokenErc721.value = data.length > 0
        } catch (error) {
          console.error(error.message)
        } finally {
          loadingTokenErc721.value = false
        }
      },
      onByoc: async () => {
        if (rowsByoc.value.length > 0) return
        try {
          // Get recent transactions
          const { data } = await api.get(`/byoc/address/${hash.value}?n=20`)
          rowsByoc.value = reMapByoc(data)

          isMoreByoc.value = rowsByoc.value.length === 20
        } catch (error) {
          console.error(error.message)
          errMsg.value = error.message
        } finally {
          loadingByoc.value = false
        }
      },
      onViewMoreByoc: async () => {
        try {
          loadingByoc.value = true
          const id = rowsByoc.value[rowsByoc.value.length - 1].id

          const { data } = await api.get(`/byoc/address/${hash.value}?n=20&id=${id}`)
          rowsByoc.value.push(...reMapByoc(data))

          isMoreByoc.value = data.length > 0
        } catch (error) {
          console.error(error.message)
        } finally {
          loadingByoc.value = false
        }
      },
      onViewMore: async () => {
        try {
          loading.value = true
          const id = rows.value[rows.value.length - 1].id
          const qs = new URLSearchParams({ n: 20, id, skip_payload: true }).toString()
          const { data } = await api.get(`/transactions/${isAddress ? 'address' : 'contract'}/${hash.value}?${qs}`)
          rows.value.push(...mapTrxData(data))
          isMore.value = data.length > 0
        } catch (error) {
          console.error(error.message)
        } finally {
          loading.value = false
        }
      },
      onUnvest: async () => {
        const sdkClient = store.getters.sdkClient
        const sdk = new PartisiaSdk({ seed: sdkClient.seed, connection: sdkClient.connection })

        const frmParams = {
          invocationByte: 6,
        }

        const abi = partisiaCrypto.abi_system.Payload_Vested
        const bufPayload = partisiaCrypto.structs.serializeToBuffer(frmParams, ...abi)
        const res = await sdk.signMessage({
          contract: '01a4082d9d560749ecd0ffa1dcaaaee2c2cb25d881',
          payload: bufPayload.toString('hex'),
          payloadType: 'hex_payload',
          dontBroadcast: false,
        })
      },
    }
  },
}
</script>
<style lang="scss" scoped></style>
