<template>
  <error-page v-if="!isValidHash" message="Invalid Block Hash. Must be 32 byte hex string" />
  <template v-if="loadErr">
    <q-page padding>
      <error-card :message="loadErr" />
    </q-page>
  </template>
  <template v-else>
    <q-page padding>
      <table-custom :loading="isLoading" :rows="rows" :columns="columns" :vis="vis" />
      <table-custom :loading="isLoading" :rows="rowsTxHash" :columns="colTxHash" :vis="['transaction_hash']" />
    </q-page>
  </template>
</template>

<script>
import { defineComponent, ref, onBeforeMount } from 'vue'
import { useRouter } from 'vue-router'
import assert from 'assert'
import { api } from 'src/boot/preload'
import ErrorPage from 'src/components/ErrorPage.vue'
import ErrorCard from 'src/components/ErrorCard.vue'
import TableCustom from 'src/components/TableCustom.vue'
import to from 'to-case'


const colTxHash = [{ align: 'left', name: 'transaction_hash', field: 'transaction_hash', label: 'Transactions' }]
const columns = [
  { align: 'left', name: 'grid_key', field: 'key', label: 'Block Info' },
  { align: 'left', name: 'grid_value', field: 'value' },
  { name: 'grid_tag', field: 'tag' },
]
const vis = ['grid_key', 'grid_value']
export default defineComponent({
  name: 'Block',
  components: {
    ErrorPage,
    ErrorCard,
    TableCustom,
  },
  setup(props, context) {
    const router = useRouter()
    const hash = ref(router.currentRoute.value.params.hash)

    // is hash valid
    const isValidHash = ref(false)
    const isLoading = ref(true)
    const loadErr = ref(null)
    const block = ref(null)
    const rows = ref([])
    const rowsTxHash = ref([])

    try {
      const buf = Buffer.from(hash.value, 'hex')
      assert(buf.length === 32)
      isValidHash.value = true
    } catch (error) {
      console.error(error.message)
    }
    const getTransactionsByBlock = async (shards_id, block_level) => {
      const { data } = await api.get(`/transactions_by_block/${shards_id}/${block_level}`)
      return data
    }

    // lookup the hash
    onBeforeMount(async () => {
      try {
        const { data } = await api.get(`/block/hash/${hash.value}`)
        block.value = data

        // flatten obj to array
        for (const key of Object.keys(data)) {
          if (['id'].includes(key)) continue
          var tag = null
          if (['block_hash', 'block_hash_previous'].includes(key)) {
            tag = 'block_hash'
          } else if (key === 'block_timestamp') {
            tag = 'timestamp'
          } else if (key === 'shard_id') {
            tag = 'shard_id'
          }

          var value = data[key]
          rows.value.push({
            key: to.title(key),
            value,
            tag,
          })
        }

        if (data.transaction_count) {
          const trxs = await getTransactionsByBlock(data.shard_id, data.block_level)
          rowsTxHash.value = trxs
        }

        // console.log('rows', JSON.stringify(rows.value, null, 2))
      } catch (error) {
        loadErr.value = error.message
      } finally {
        isLoading.value = false
      }
    })

    return {
      rows,
      columns,
      vis,
      isValidHash,
      isLoading,
      loadErr,
      hash,
      colTxHash,
      rowsTxHash,
    }
  },
})
</script>
