<template>
  <q-page>
    <div class="chart-box">
      <div v-if="isLoading" class="full-width row justify-center items-center" style="height: 100%">
        <q-spinner color="primary" size="6em" />
      </div>
      <div v-else class="container full-width row no-wrap justify-center items-end">
        <q-btn
          @click="onChartClick(i)"
          v-for="(a, i) in aryBlocks"
          :key="i"
          class="rotate chart-button"
          size="xs"
          dense
          flat
          style=""
          v-bind:style="{ margin: `0 ${spacing}px`, height: calcBtnHeight(a) }"
        >
          <q-tooltip anchor="top middle" self="bottom middle" class="bg-black text-white shadow-4" :offset="[10, 10]">
            Block: {{ a.block_level }} <br />Shard: {{ getShardName(a.shard_id) }} <br />
            Transactions: {{ a.transaction_count }}
          </q-tooltip>
        </q-btn>
      </div>
    </div>
    <!-- <q-img class="img" src="~assets/recent-blocks.svg" :no-spinner="true" width="376px" height="61px" /> -->

    <div class="q-pt-lg recent-wrapper">
      <div class="row full-width justify-content-around">
        <div v-for="(status, i) in status" :key="i" class="col-4 q-pa-sm" v-bind:class="{ 'col-12': isMobile }">
          <div class="box row">
            <div class="col-grow">
              <div class="fit column items-start justify-between q-pa-md">
                <div>Blocks</div>
                <div>
                  {{ Number(status.block_level).toLocaleString('en-US') }}
                </div>
                <div>Shard: {{ getShardName(status.shard_id) }}</div>
              </div>
            </div>
            <div class="col">
              <div class="full-width column justify-center items-end q-pr-md" style="height: 100%">
                <q-icon class="" name="las la-cube" style="color: #ccc; font-size: 5em" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <recent-blocks v-if="!isLoading" :data="aryBlocks" />
    </div>
  </q-page>
</template>

<script>
import { ref, onBeforeMount } from 'vue'
import { mapGetters, useStore } from 'vuex'
import { useRouter } from 'vue-router'
import useBreakpoints from 'src/boot/useBreakpoints'
import { api, getShardName, getStatus } from 'src/boot/preload'
import RecentBlocks from 'src/components/RecentBlocks.vue'

export default {
  components: { RecentBlocks },
  methods: {
    calcBtnHeight(a) {
      const maxCount = Math.max(...this.aryTxCounts)
      // set max a 70% of height
      const height = 570
      return `${height * 0.7 * (a.transaction_count / maxCount)}px`
    },
    getShardName(id) {
      return getShardName(id)
    },
  },
  computed: {
    ...mapGetters(['status']),
    aryTxCounts() {
      return this.aryBlocks.map((b) => b.transaction_count)
    },
  },
  setup() {
    const store = useStore()
    const router = useRouter()
    const isLoading = ref(true)
    const aryBlocks = ref([])
    // make 50 bar evenly spaced
    const { width, isMobile } = useBreakpoints()

    onBeforeMount(async () => {
      try {
        const { data } = await api.get('/blocks/latest?n=40')
        aryBlocks.value = data
      } catch (error) {
        console.error(error.message)
      } finally {
        isLoading.value = false
      }
    })
    const spacing = 8 // Math.floor(width.value / widthBar)
    console.log('spacing', spacing)

    return {
      isLoading,
      width,
      isMobile,
      aryBlocks,
      spacing: ref(spacing),
      onChartClick: (idx) => {
        router.push({ path: `/block/${aryBlocks.value[idx].block_hash}` })
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.img {
  top: 65px;
  left: 65px;
  position: absolute;
}
.chart-box {
  height: 570px;
  background: linear-gradient(rgb(48, 60, 83) 48.95%, rgb(22, 30, 46) 104.82%);
  position: relative;
}
.container {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: flex-end;
  // writing-mode: vertical-lr;

  // width: 100%;
  height: 100%;
  // border: solid red 1px;
}

.rotate {
  font-size: 30px;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.chart-button {
  background: #54637d;
  opacity: 0.54;
  width: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  min-height: 16px;
}
.chart-button:hover {
  background-color: #5956e8;
}

.recent-wrapper {
  margin: 0 50px;
}
@media screen and (max-width: 991px) {
  .recent-wrapper {
    margin: 0;
  }
}

.box {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  height: 113px;
}
.box .column > div:nth-child(1) {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #a3a3ff;
}

.box .column > div:nth-child(2) {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #303864;
}
.box .column > div:nth-child(3) {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #0812c0;
}
</style>
