<template>
  <q-page class="bg" v-bind="{ padding: !isMobile }">
    <!-- <div class="col-12 title full-screen-width">Your wallet</div> -->
    <div class="row full-width justify-center q-pt-xl">
      <div class="col-12 full-screen-width">
        <div class="title">Your wallet</div>
        <div v-if="$dev">{{ addressUser }} {{ isNodeAddress }}</div>
        <div v-if="!isLoggedIn" class="col-12 full-screen-width">
          <q-btn outline color="btn-color" label="Connect Wallet" @click="onConnectSdk" />
        </div>
        <div v-else class="row full-width q-pt-lg">
          <div class="col-3">
            <div class="col-12 title-box q-pa-lg q-mr-sm">
              <div class="title-box-text">
                Your unlocked balance
                <q-btn
                  size="sm"
                  round
                  padding="xs"
                  color="grey-14"
                  flat
                  icon="las la-info-circle"
                  style="margin-top: -4px"
                  @click="tooltipUnlockedBalance = !tooltipUnlockedBalance"
                >
                  <q-tooltip anchor="bottom middle" self="top middle" :offset="[10, 10]">
                    The total amount of tokens you have available for staking is {{ getBalance }} <br />
                    To see more details about your account please visit your address page. This is the total you have unlocked which is the total unvested
                    tokens that you have not staked
                  </q-tooltip>
                </q-btn>
              </div>
              <q-field borderless>
                <template v-slot:prepend>
                  <q-img src="~assets/logo_partisia_community.png" :no-spinner="true" width="36px" height="36px" />
                </template>
                <template v-slot:control>
                  <div class="self-center full-width no-outline title-box-text-amount">{{ formatUnlockedBalance }}</div>
                </template>

                <template v-slot:append>
                  <q-img src="~assets/community_icon_placeholder.png" :no-spinner="true" width="56px" height="56px" style="margin-top: -14px" />
                </template>
              </q-field>
            </div>
          </div>
          <div v-if="!isNodeAddress" class="col-3">
            <div class="col-12 title-box q-pa-lg q-mx-sm">
              <div class="title-box-text">Your total accepted stake</div>
              <q-field borderless>
                <template v-slot:prepend>
                  <q-img src="~assets/logo_partisia_community.png" :no-spinner="true" width="36px" height="36px" />
                </template>
                <template v-slot:control>
                  <div class="self-center full-width no-outline title-box-text-amount">{{ getTotalStake }}</div>
                </template>

                <template v-slot:append>
                  <q-img src="~assets/community_icon_placeholder_02.png" :no-spinner="true" width="56px" height="56px" style="margin-top: -14px" />
                </template>
              </q-field>
            </div>
          </div>
          <div v-if="!isNodeAddress" class="col-3">
            <div class="col-12 title-box q-pa-lg q-mx-sm">
              <div class="title-box-text">Your total pending staked</div>
              <q-field borderless>
                <template v-slot:prepend>
                  <q-img src="~assets/logo_partisia_community.png" :no-spinner="true" width="36px" height="36px" />
                </template>
                <template v-slot:control>
                  <div class="self-center full-width no-outline title-box-text-amount">{{ getTotalPending }}</div>
                </template>

                <template v-slot:append>
                  <q-img src="~assets/community_icon_placeholder_03.png" :no-spinner="true" width="56px" height="56px" style="margin-top: -14px" />
                </template>
              </q-field>
            </div>
          </div>
          <div v-if="!isNodeAddress" class="col-3">
            <div class="col-12 title-box q-pa-lg q-ml-sm">
              <div class="title-box-text">Your total pending retracted</div>
              <q-field borderless>
                <template v-slot:prepend>
                  <q-img src="~assets/logo_partisia_community.png" :no-spinner="true" width="36px" height="36px" />
                </template>
                <template v-slot:control>
                  <div class="self-center full-width no-outline title-box-text-amount">{{ getTotalRetracted }}</div>
                </template>

                <template v-slot:append>
                  <q-img src="~assets/community_icon_placeholder_03.png" :no-spinner="true" width="56px" height="56px" style="margin-top: -14px" />
                </template>
              </q-field>
            </div>
          </div>

          <div v-if="isNodeAddress" class="col-4">
            <div class="col-12 title-box q-pa-lg q-mr-sm">
              <div class="title-box-text">Your Node Operator Stake Accepted</div>
              <q-field borderless>
                <template v-slot:prepend>
                  <q-img src="~assets/logo_partisia_community.png" :no-spinner="true" width="36px" height="36px" />
                </template>
                <template v-slot:control>
                  <div class="self-center full-width no-outline title-box-text-amount">{{ getNodeOperatorStake }}</div>
                </template>

                <template v-slot:append>
                  <q-btn @click="openDialogNode('accepted')" size="lg" round color="grey-14" icon="las la-external-link-alt" />
                </template>
              </q-field>
            </div>
          </div>
          <div v-if="isNodeAddress" class="col-4">
            <div class="col-12 title-box q-pa-lg q-mx-sm">
              <div class="title-box-text">Your Node Operator Stake Pending</div>
              <q-field borderless>
                <template v-slot:prepend>
                  <q-img src="~assets/logo_partisia_community.png" :no-spinner="true" width="36px" height="36px" />
                </template>
                <template v-slot:control>
                  <div class="self-center full-width no-outline title-box-text-amount">{{ getNodeOperatorPending }}</div>
                </template>

                <template v-slot:append>
                  <q-btn @click="openDialogNode('pending')" size="lg" round color="grey-14" icon="las la-external-link-alt" />
                </template>
              </q-field>
            </div>
          </div>
        </div>
        <div class="title q-pt-xl">List of nodes</div>

        <div class="q-pt-lg q-mb-sm reward-period-font-small">Search a Node</div>
        <div class="row full-width justify-between">
          <div class="col-auto">
            <div class="row full-width justify-start">
              <div class="" style="width: 400px">
                <q-input outlined v-model="txtSearch" bg-color="grey-4" label-color="grey" label="Node address" style="max-width: 400px">
                  <template v-slot:append>
                    <q-icon class="cursor-pointer" name="search" />
                  </template>
                </q-input>
              </div>
              <div class="self-center">
                <q-checkbox v-model="cbxStakeOnly" label="Nodes with your stake only" />
              </div>
            </div>
          </div>
          <div class="col-shrink">
            <div class="row q-gutter-x-md no-wrap full-width row no-wrap justify-end">
              <template v-if="rewardPeriod">
                <div class="q-pa-sm reward-period-box">
                  <div>Current reward period</div>
                  <div>{{ rewardPeriod[3] }}</div>
                </div>
                <div class="q-pa-sm reward-period-box">
                  <div>Tokens in Reward Period</div>
                  <div>{{ rewardPeriod[4] }}</div>
                </div>
              </template>
              <div v-else class="q-pa-sm reward-period-box">
                <div>No more scheduled</div>
                <div>Reward Periods</div>
              </div>
              <!-- <div class="q-pa-sm reward-period-box">
                <div>Total period reward</div>
                <div>1234567890</div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row full-width justify-center">
      <div class="col full-screen-width">
        <q-table
          class="q-mt-lg"
          :hide-header="false"
          hide-bottom
          :bordered="true"
          separator="horizontal"
          :rows="rows"
          :columns="columns"
          row-key="id"
          :loading="isLoading"
          :rows-per-page-options="[0]"
          style="box-shadow: none"
        >
          <template v-slot:loading>
            <q-inner-loading showing color="primary" />
          </template>
          <template v-slot:header="props">
            <q-tr :props="props" class="thc-community">
              <q-th v-for="col in props.cols" :key="col.name" :props="props" auto-width>
                <template v-if="col.name === 'performance'">
                  {{ col.label }}
                  <q-btn size="sm" round padding="xs" flat icon="las la-info-circle" style="margin-top: -4px" />
                </template>
                <template v-else-if="col.name === 'acceptance_rate'">
                  {{ col.label }}
                  <q-btn size="sm" round padding="xs" flat icon="las la-info-circle" style="margin-top: -4px" />
                </template>
                <template v-else>
                  {{ col.label }}
                </template>
              </q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr no-hover :props="props" style="height: 70px">
              <!-- <pre>{{ JSON.stringify(props) }}</pre> -->
              <q-td v-for="(col, j) in props.cols" :key="col.name" :props="props" auto-width>
                <span class="t-cell-class" v-bind:class="`t-cell-col-${j + 1}`">
                  <!-- <template v-if="col.name === 'your_stake_status'">
                    <q-chip outline square v-bind="{ color: getStakeStatusColor(col.value) }">
                      {{ col.value }}
                    </q-chip>
                  </template> -->
                  <template v-if="false"></template>
                  <template v-else-if="col.name === 'available_stake'">
                    <q-linear-progress rounded size="25px" :value="Number(col.value) / 50000000000" color="grey-13" track-color="grey-5">
                      <div class="absolute-full flex flex-center">
                        <q-badge color="transparent" text-color="black" style="font-weight: bold">
                          <q-img src="~assets/logo_partisia_community.png" :no-spinner="true" width="14px" height="14px" />
                          &nbsp;
                          <span>{{ formatAvailableStake(col.value) }} / 5M</span>
                          <!-- <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
                            Pending <strong>{{ formatAvailableStake(props.row.pending_stake) }}</strong>
                          </q-tooltip> -->
                        </q-badge>
                      </div>
                    </q-linear-progress>
                  </template>
                  <template v-else-if="col.name === 'your_stake'">
                    <q-img src="~assets/logo_partisia_community.png" :no-spinner="true" width="18px" height="18px" style="margin-top: -2px" />
                    {{ col.value }}
                  </template>
                  <template v-else-if="col.name === 'action'">
                    <div class="row full-width">
                      <q-btn
                        :disable="!isLoggedIn || isNodeAddress"
                        @click="onManageTokens(props.row)"
                        dense
                        no-caps
                        class="btn-action btn-action-green"
                        label="Manage Tokens"
                        text-color="white"
                      />
                    </div>
                  </template>
                  <template v-else-if="col.name === 'node_address'">
                    <div class="truncate-chip-labels">
                      <q-chip square :ripple="false" color="transparent">
                        <div class="ellipsis">
                          {{ col.value }}
                        </div>
                      </q-chip>
                    </div>
                  </template>
                  <template v-else>
                    {{ col.value }}
                  </template>
                </span>
              </q-td>
            </q-tr>
          </template>
        </q-table>
      </div>
    </div>

    <pre v-if="$dev">{{ { addressWithStake, delegatedStakesFromOthers, pendingRetractedDelegatedStakes } }}</pre>
  </q-page>
</template>

<script>
import { ref, onBeforeMount, computed } from 'vue'
import axios from 'axios'
import { Big } from 'big.js'
import { convertDec, rpcAccount, sleep } from 'src/boot/preload'
import { useStore } from 'vuex'
import PartisiaSdk from 'partisia-sdk'
import { useQuasar } from 'quasar'
import DialogManageTokensVue from 'src/components/DialogManageTokens.vue'
import DialogNodeStakesVue from 'src/components/DialogNodeStakes.vue'
import useBreakpoints from 'src/boot/useBreakpoints'

const rewardPeriods = [
  ['2022-06-01', '2022-08-31', '500000', '1 Jun 2022 - 31 Aug 2022', '500,000'],
  ['2022-09-01', '2022-11-30', '500000', '1 Sep 2022 - 30 Nov 2022', '500,000'],
  ['2022-12-01', '2023-02-28', '641186', '1 Dec 2022 - 28 Feb 2023', '641,186'],
  ['2023-03-01', '2023-05-31', '1202224', '1 Mar 2023 - 31 May 2023', '1,202,224'],
  ['2023-06-01', '2023-08-31', '1690627', '1 Jun 2023 - 31 Aug 2023', '1,690,627'],
  ['2023-09-01', '2023-11-30', '2113284', '1 Sep 2023 - 30 Nov 2023', '2,113,284'],
  ['2023-12-01', '2024-02-28', '2476504', '1 Dec 2023 - 28 Feb 2024', '2,476,504'],
  ['2024-03-01', '2024-05-31', '2786067', '1 Mar 2024 - 31 May 2024', '2,786,067'],
  ['2024-06-01', '2024-08-31', '3047261', '1 Jun 2024 - 31 Aug 2024', '3,047,261'],
  ['2024-09-01', '2024-11-30', '3264923', '1 Sep 2024 - 30 Nov 2024', '3,264,923'],
  ['2024-12-01', '2025-02-28', '3443473', '1 Dec 2024 - 28 Feb 2025', '3,443,473'],
  ['2025-03-01', '2025-05-31', '3586951', '1 Mar 2025 - 31 May 2025', '3,586,951'],
  ['2025-06-01', '2025-08-31', '3699044', '1 Jun 2025 - 31 Aug 2025', '3,699,044'],
  ['2025-09-01', '2025-11-30', '3783113', '1 Sep 2025 - 30 Nov 2025', '3,783,113'],
  ['2025-12-01', '2026-02-28', '3842224', '1 Dec 2025 - 28 Feb 2026', '3,842,224'],
  ['2026-03-01', '2026-05-31', '3879168', '1 Mar 2026 - 31 May 2026', '3,879,168'],
  ['2026-06-01', '2026-08-31', '3896486', '1 Jun 2026 - 31 Aug 2026', '3,896,486'],
  ['2026-09-01', '2026-11-30', '3896486', '1 Sep 2026 - 30 Nov 2026', '3,896,486'],
  ['2026-12-01', '2027-02-28', '3720190', '1 Dec 2026 - 28 Feb 2027', '3,720,190'],
  ['2027-03-01', '2027-05-31', '3550711', '1 Mar 2027 - 31 May 2027', '3,550,711'],
  ['2027-06-01', '2027-08-31', '3387884', '1 Jun 2027 - 31 Aug 2027', '3,387,884'],
  ['2027-09-01', '2027-11-30', '3231541', '1 Sep 2027 - 30 Nov 2027', '3,231,541'],
  ['2027-12-01', '2028-02-28', '3081506', '1 Dec 2027 - 28 Feb 2028', '3,081,506'],
  ['2028-03-01', '2028-05-31', '2937603', '1 Mar 2028 - 31 May 2028', '2,937,603'],
  ['2028-06-01', '2028-08-31', '2799651', '1 Jun 2028 - 31 Aug 2028', '2,799,651'],
  ['2028-09-01', '2028-11-30', '2667467', '1 Sep 2028 - 30 Nov 2028', '2,667,467'],
  ['2028-12-01', '2029-02-28', '2540871', '1 Dec 2028 - 28 Feb 2029', '2,540,871'],
  ['2029-03-01', '2029-05-31', '2419679', '1 Mar 2029 - 31 May 2029', '2,419,679'],
  ['2029-06-01', '2029-08-31', '2303711', '1 Jun 2029 - 31 Aug 2029', '2,303,711'],
  ['2029-09-01', '2029-11-30', '2192787', '1 Sep 2029 - 30 Nov 2029', '2,192,787'],
  ['2029-12-01', '2030-02-28', '2086729', '1 Dec 2029 - 28 Feb 2030', '2,086,729'],
  ['2030-03-01', '2030-05-31', '1985364', '1 Mar 2030 - 31 May 2030', '1,985,364'],
  ['2030-06-01', '2030-08-31', '1888517', '1 Jun 2030 - 31 Aug 2030', '1,888,517'],
  ['2030-09-01', '2030-11-30', '1796022', '1 Sep 2030 - 30 Nov 2030', '1,796,022'],
  ['2030-12-01', '2031-02-28', '1707711', '1 Dec 2030 - 28 Feb 2031', '1,707,711'],
  ['2031-03-01', '2031-05-31', '1623423', '1 Mar 2031 - 31 May 2031', '1,623,423'],
  ['2031-06-01', '2031-08-31', '1543000', '1 Jun 2031 - 31 Aug 2031', '1,543,000'],
  ['2031-09-01', '2031-11-30', '1466289', '1 Sep 2031 - 30 Nov 2031', '1,466,289'],
  ['2031-12-01', '2032-02-28', '1393140', '1 Dec 2031 - 28 Feb 2032', '1,393,140'],
  ['2032-03-01', '2032-05-31', '1323406', '1 Mar 2032 - 31 May 2032', '1,323,406'],
]
export default {
  name: 'CommunityStaking',
  setup() {
    const $q = useQuasar()
    const store = useStore()
    const tooltipUnlockedBalance = ref(false)
    const addressWithStake = ref([])
    const delegatedStakesFromOthers = ref([])
    // const delegatedStakesToOthers = ref([])
    const pendingRetractedDelegatedStakes = ref([])
    const isLoading = ref(true)
    const isLoggedIn = computed(() => store.getters.isLoggedIn)
    const addressUser = computed(() => (isLoggedIn.value ? store.getters.sdkClient?.connection?.account?.address : ''))
    const getBalance = ref('0')
    const txtSearch = ref('')
    const cbxStakeOnly = ref(false)

    // get current reward period
    const now = new Date(new Date().toISOString().substr(0, 10)).getTime()
    const rewardPeriod = ref(rewardPeriods.find((x) => now >= new Date(x[0]).getTime() && now <= new Date(x[1]).getTime()))

    const isNodeAddress = computed(() => {
      return addressWithStake.value
        .filter((v) => v.is_node)
        .map((a) => a.address)
        .includes(addressUser.value)
    })

    const refreshRows = async () => {
      try {
        const { data } = await axios.get(process.env.API_COMMUNITY_STAKING)
        const { db_address_with_stake, db_delegated_stakes_from_others } = data
        addressWithStake.value = db_address_with_stake
        delegatedStakesFromOthers.value = db_delegated_stakes_from_others
        await fetchMpcBalance()
      } catch (error) {
        $q.notify({ type: 'negative', message: error.message })
      } finally {
        isLoading.value = false
      }
    }

    onBeforeMount(async () => {
      await refreshRows()
    })

    const fetchMpcBalance = async () => {
      if (!isLoggedIn.value) {
        getBalance.value = '0'
        return
      }
      const account = await rpcAccount.getAccount(addressUser.value)
      if (!account) {
        getBalance.value = '0'
        return
      }
      if (process.env.DEV) console.log('account', JSON.stringify(account, null, 2))
      if (account) {
        const amt = new Big(account?.data?.mpcTokens || '0')
        getBalance.value = convertDec(amt, { decimals: 4 })
        pendingRetractedDelegatedStakes.value = (account?.data?.pendingRetractedDelegatedStakes || []).map((d) => {
          return { address_origin: addressUser.value, time_stamp: Number(d.key), amount: d.value }
        })
      } else {
        getBalance.value = '0'
      }
    }

    store.watch(
      (state, getters) => getters.isLoggedIn,
      async (newValue, oldValue) => {
        if (newValue) {
          await refreshRows()
        } else {
          getBalance.value = '0'
        }
      }
    )
    const refreshAfterDialog = async () => {
      // refresh 4 times just to be extra safe it updates
      for (let i = 0; i < 4; i++) {
        await refreshRows()
        await sleep(2000)
      }
    }
    const { width, isMobile } = useBreakpoints()
    return {
      formatUnlockedBalance: computed(() => {
        if (new Big(getBalance.value.replace(/,/g, '')).lt(0)) {
          return '0'
        } else {
          return getBalance.value
        }
      }),
      tooltipUnlockedBalance,
      txtSearch,
      addressUser,
      rewardPeriod,
      addressWithStake,
      delegatedStakesFromOthers,
      // delegatedStakesToOthers,
      pendingRetractedDelegatedStakes,
      isLoading,
      isLoggedIn,
      getBalance,
      cbxStakeOnly,
      isNodeAddress,
      isMobile,
      getTotalStake: computed(() => {
        return convertDec(
          delegatedStakesFromOthers.value
            .filter((val, idx, ary) => val.address_to === addressUser.value)
            .reduce((pv, cv, idx) => pv.plus(cv.accepted_delegated_stakes), new Big(0))
            .toFixed(0),
          { decimals: 4 }
        )
      }),
      getTotalPending: computed(() => {
        return convertDec(
          delegatedStakesFromOthers.value
            .filter((val, idx, ary) => val.address_to === addressUser.value)
            .reduce((pv, cv, idx) => pv.plus(cv.pending_delegated_stakes), new Big(0))
            .toFixed(0),
          { decimals: 4 }
        )
      }),
      getTotalRetracted: computed(() => {
        return convertDec(
          pendingRetractedDelegatedStakes.value
            .filter((val, idx, ary) => val.address_origin === addressUser.value)
            .reduce((pv, cv, idx) => pv.plus(cv.amount), new Big(0))
            .toFixed(0),
          { decimals: 4 }
        )
      }),
      getNodeOperatorStake: computed(() => {
        return convertDec(
          delegatedStakesFromOthers.value
            .filter((val, idx, ary) => val.address_origin === addressUser.value)
            .reduce((pv, cv, idx) => pv.plus(cv.accepted_delegated_stakes), new Big(0))
            .toFixed(0),
          { decimals: 4 }
        )
      }),
      getNodeOperatorPending: computed(() => {
        return convertDec(
          delegatedStakesFromOthers.value
            .filter((val, idx, ary) => val.address_origin === addressUser.value)
            .reduce((pv, cv, idx) => pv.plus(cv.pending_delegated_stakes), new Big(0))
            .toFixed(0),
          { decimals: 4 }
        )
      }),
      formatAvailableStake: (v) => {
        const amt = convertDec(v, { decimals: 4, removeTrailingZeros: true })
        const counter = amt.split(',').length - 1
        const amtConvert = new Big(v).div('1'.padEnd(1 + 3 * counter, '0'))
        let suffix = ''
        if (counter === 1) {
          suffix = 'K'
        } else if (counter === 2) {
          suffix = 'M'
        }
        return `${convertDec(amtConvert, { decimals: 4, removeTrailingZeros: true })}${suffix}`
      },
      async onConnectSdk() {
        const sdk = new PartisiaSdk()
        await sdk.connect({
          chainId: process.env.CHAIN_ID,
          permissions: ['sign'],
          dappName: process.env.DAPP_NAME,
        })
        await store.dispatch('sdkConnect', { connection: sdk.connection, seed: sdk.seed })
      },
      rows: computed(() => {
        return addressWithStake.value
          .filter((v) => v.is_node)
          .filter((v) => v.address.indexOf(txtSearch.value) !== -1)
          .filter(
            (v) =>
              !cbxStakeOnly.value ||
              delegatedStakesFromOthers.value
                .filter((val, idx, ary) => val.address_to === addressUser.value)
                .map((val) => val.address_origin)
                .includes(v.address)
          )
          .map(({ address, is_node }, idx, ary) => {
            return {
              id: idx,
              node_address: address,
              pending_stake: delegatedStakesFromOthers.value
                .filter((val, idx, ary) => val.address_origin === address)
                .reduce((pv, cv, idx) => pv.plus(cv.pending_delegated_stakes), new Big(0))
                .toFixed(0),
              available_stake: delegatedStakesFromOthers.value
                .filter((val, idx, ary) => val.address_origin === address)
                .reduce((pv, cv, idx) => pv.plus(cv.accepted_delegated_stakes), new Big(0))
                .toFixed(0),
              your_stake: convertDec(
                delegatedStakesFromOthers.value
                  .filter((val, idx, ary) => val.address_origin === address && val.address_to === addressUser.value)
                  .reduce((pv, cv, idx) => pv.plus(cv.accepted_delegated_stakes).plus(cv.pending_delegated_stakes), new Big(0)),
                { decimals: 4, removeTrailingZeros: false }
              ),
              your_stake_accepted: convertDec(
                delegatedStakesFromOthers.value
                  .filter((val, idx, ary) => val.address_origin === address && val.address_to === addressUser.value)
                  .reduce((pv, cv, idx) => pv.plus(cv.accepted_delegated_stakes), new Big(0))
                  .toFixed(0),
                { decimals: 4, removeTrailingZeros: false }
              ),
              your_stake_pending: convertDec(
                delegatedStakesFromOthers.value
                  .filter((val, idx, ary) => val.address_origin === address && val.address_to === addressUser.value)
                  .reduce((pv, cv, idx) => pv.plus(cv.pending_delegated_stakes), new Big(0))
                  .toFixed(0),
                { decimals: 4, removeTrailingZeros: false }
              ),
            }
          })
        // return [
        //   {
        //     id: 1,
        //     node_address: '1234567890',
        //     available_stake: `123.5K / 5M`,
        //     performance: '100%',
        //     acceptance_rate: '90%',
        //     your_stake: '1234567890',
        //     your_stake_status: 'Accepted',
        //   },
        // ]
      }),
      columns: [
        { name: 'node_address', align: 'left', label: 'Node address', field: 'node_address', sortable: true, required: true },
        {
          name: 'available_stake',
          align: 'left',
          label: 'Accepted stake',
          field: 'available_stake',
          sortable: true,
          required: true,
          sortOrder: 'ad', // or 'da'
          sort: (a, b, rowA, rowB) => Number(a) - Number(b),
        },
        // { name: 'performance', align: 'left', label: 'Performance', field: 'performance', sortable: true, required: true },
        {
          name: 'your_stake',
          align: 'left',
          label: 'Your total stake',
          field: 'your_stake',
          sortable: true,
          required: true,
          sort: (a, b, rowA, rowB) => Number(a) - Number(b),
        },
        {
          name: 'your_stake_accepted',
          align: 'left',
          label: 'Accepted',
          field: 'your_stake_accepted',
          sortable: true,
          required: true,
          sort: (a, b, rowA, rowB) => Number(a) - Number(b),
        },
        {
          name: 'your_stake_pending',
          align: 'left',
          label: 'Pending',
          field: 'your_stake_pending',
          sortable: true,
          required: true,
          sort: (a, b, rowA, rowB) => Number(a) - Number(b),
        },
        { name: 'action', align: 'left', label: 'Action', required: false },
      ],
      openDialogNode: (tabType) => {
        $q.dialog({
          persistent: false,
          component: DialogNodeStakesVue,
          componentProps: {
            tabType,
            delegatedStakesFromOthers: delegatedStakesFromOthers.value
              .filter((d) => d.address_origin === addressUser.value)
              .map((val, idx) => {
                return { ...val, idx }
              }),
          },
        })
          .onOk(() => {
            refreshAfterDialog()
          })
          .onCancel(() => {
            refreshAfterDialog()
          })
          .onDismiss(() => {
            refreshAfterDialog()
          })
      },
      onManageTokens: (row) => {
        $q.dialog({
          persistent: false,
          component: DialogManageTokensVue,
          componentProps: {
            nodeAddress: row.node_address,
            address: addressUser.value,
            acceptedStake: row.available_stake,
            yourStake: row.your_stake,
            yourReclaims: pendingRetractedDelegatedStakes.value.filter((d) => d.address_origin === addressUser.value),
          },
        })
          .onOk(() => {
            refreshAfterDialog()
          })
          .onCancel(() => {
            // refreshAfterDialog()
          })
          .onDismiss(() => {
            refreshAfterDialog()
          })
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.bg {
  background: #f3f6fb;
}
.full-screen-width {
  max-width: 1440px;
}
.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 124%;
  color: #0b073f;
}
.title-box {
  background: #ffffff;
  /* Light shadow */

  box-shadow: 0px 32px 64px -32px rgba(11, 7, 63, 0.12);
  border-radius: 8px;
}
.title-box-text {
  height: 14px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;

  color: #0b073f;
}
.title-box-text-amount {
  height: 28px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  color: #0b073f;
}
.thc-community {
  background: #302c60;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: #f3f6fb;
  height: 50px;
}
.thc-community th {
  font-weight: bold;
}
.btn-action {
  width: 114px;
  font-weight: bold;
}
.btn-action-green {
  background: linear-gradient(84.59deg, #4da68b -0.29%, #4ddba8 99.71%);
}
.t-cell-class {
  font-weight: bold;
}
.reward-period-box {
  width: 200px;
  height: 54px;

  border: 1px solid #dfe2ec;
  border-radius: 8px;
}

.reward-period-font-small {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #0b073f;
}

.reward-period-box > div:nth-child(1) {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #0b073f;
}
.reward-period-box > div:nth-child(2) {
  padding-top: 6px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #0b073f;
}
</style>
