<template>
  <template v-if="loadErr">
    <q-page padding>
      <error-card :message="loadErr" />
    </q-page>
  </template>
  <template v-else>
    <q-page padding>
      <div class="text-caption">{{ address }}</div>
      <q-chip :ripple="false" :clickable="false" square style="background-color: #e8f0ff">{{ contractName }}</q-chip>

      <!-- data -->
      <q-separator color="gray" />

      <div class="text-subtitle2">Contract State</div>
      <q-spinner v-if="isLoading" color="primary" size="3em" />
      <pre>{{ dataContract }}</pre>
    </q-page>
  </template>
</template>

<script>
import { ref, onBeforeMount } from 'vue'
import { useRouter } from 'vue-router'
import { api, rpcAccount, SYSTEM_CONTRACTS } from 'src/boot/preload'
import assert from 'assert'
import ErrorCard from 'src/components/ErrorCard.vue'
import axios from 'axios'
import { useQuasar } from 'quasar'
import { AbiParser, JsonValueConverter, StateReader } from '@partisiablockchain/abi-client-ts'

export default {
  components: {
    ErrorCard,
  },
  setup() {
    const $q = useQuasar()
    const router = useRouter()

    const isLoading = ref(true)
    const loadErr = ref(null)
    const dataContract = ref(null)
    const contractName = ref('')

    const address = ref((router.currentRoute.value?.params?.address || '').toLowerCase())

    // const getShardId = async (contract) => {
    //   const system = SYSTEM_CONTRACTS.find((c) => c.contract === contract)
    //   if (system) {
    //     contractName.value = system.name
    //     return system.shard_id
    //   }

    //   const enumAddress = parseInt(contract.substr(0, 2), 16)
    //   if (enumAddress === 2) {
    //     const { data } = await api.get(`/contract_public/${contract}`)
    //     contractName.value = data.is_erc20 ? 'ERC20' : 'Public Contract'
    //     return data.shard_id
    //   }
    // }

    onBeforeMount(async () => {
      try {
        // contract type
        const system = SYSTEM_CONTRACTS.find((c) => c.contract === address.value)
        if (system) {
          contractName.value = system.name
        }
        // get the JSON data
        const res = await rpcAccount.getContract(address.value, rpcAccount.deriveShardId(address.value), true)
        assert(res, 'Contract Does not Exist')
        const { data } = res

        // Also deserialize the contract state
        const { serializedContract, abi, type } = data
        const enumAddress = parseInt(address.value.substr(0, 2), 16)
        switch (enumAddress) {
          case 2:
            try {
              contractName.value = 'Public Contract'
              const { data } = await api.get(`/contract_public/${contract}`)
              if (data.is_erc20) {
                contractName.value = 'ERC20'
              }
              if (data.is_erc721) {
                contractName.value = 'NFT'
              }
            } catch (error) {}
            break
          case 3:
            contractName.value = 'Zero Knowledge Contract'
            break

          default:
            contractName.value = type
            break
        }

        const serializedContractData = serializedContract?.state?.data ?? serializedContract?.openState?.openState?.data
        if (abi?.length && serializedContractData?.length) {
          try {
            console.log('abi', Buffer.from(abi, 'base64').toString('hex'))
            console.log('state', Buffer.from(serializedContractData, 'base64').toString('hex'))

            const contractAbi = new AbiParser(Buffer.from(abi, 'base64')).parseAbi()
            const reader = new StateReader(Buffer.from(serializedContractData, 'base64'), contractAbi.contract)

            console.log('reader', JSON.stringify(contractAbi.contract.structTypes))
            const struct = reader.readStruct(contractAbi.contract.getStateStruct())
            const contractState = JsonValueConverter.toJson(struct)

            dataContract.value = { ...data, deserializeState: contractState }
          } catch (error) {
            $q.notify({ type: 'negative', message: error.message })
            dataContract.value = { ...data }
          }
        } else {
          dataContract.value = { ...data }
        }
        console.log(data)
      } catch (error) {
        loadErr.value = error.message
      } finally {
        isLoading.value = false
      }
    })
    return {
      address,
      isLoading,
      loadErr,
      contractName,
      dataContract,
    }
  },
}
</script>
