<template>
  <q-page padding>
    <div class="text-caption q-mb-md">
      Please read about
      <a target="_blank" href="https://partisiablockchain.gitlab.io/documentation/contract-development.html">Contract Development</a>
      on Partisia before deploying your own smart contract
    </div>
    <q-stepper v-model="step" vertical color="primary" animated>
      <q-step :name="1" title="Connect to Partisia Wallet" icon="link" :done="step > 1">
        <q-stepper-navigation>
          <q-btn class="" color="btn-color" label="Connect Wallet" @click="onConnect" />
        </q-stepper-navigation>
      </q-step>

      <q-step :name="2" title="Upload WASM and ABI" icon="create_new_folder" :done="step > 2">
        <q-form @submit="onFileUploads" class="q-gutter-md">
          <q-file
            stack-label
            outlined
            v-model="frmFileWasm"
            label="WASM"
            accept=".wasm"
            :max-file-size="5 * 1024 * 1024"
            clearable
            lazy-rules
            :rules="[(val) => val || 'Please upload something']"
          >
            <template v-slot:prepend>
              <q-icon name="attach_file" />
            </template>
          </q-file>
          <q-file
            stack-label
            outlined
            v-model="frmFileAbi"
            label="ABI"
            accept=".abi"
            :max-file-size="5 * 1024"
            clearable
            lazy-rules
            :rules="[(val) => val || 'Please upload something']"
          >
            <template v-slot:prepend>
              <q-icon name="attach_file" />
            </template>
          </q-file>

          <q-stepper-navigation>
            <q-btn type="submit" color="btn-color" label="Continue" />
            <q-btn flat @click="step = 1" color="primary" label="Back" class="q-ml-sm" />
          </q-stepper-navigation>
        </q-form>
      </q-step>

      <q-step :name="3" title="Initialize Contract" icon="assignment">
        <q-form @submit="onSubmit" class="q-gutter-md">
          <!-- <div class="text-subtitle2" style="text-transform: uppercase">{{ `${abi.contract.init.name || ''}` }}</div> -->
          <form-interact-root :abi="abi" :fn="abiInit" v-model="aryInitArguments" />
          <q-stepper-navigation>
            <q-btn :loading="isBroadcasting" type="submit" color="btn-color" label="Continue" />
            <q-btn flat @click="step = 2" color="primary" label="Back" class="q-ml-sm" />
          </q-stepper-navigation>
        </q-form>
      </q-step>
      <q-step :name="4" title="Transaction" icon="done">
        <div>{{ result.isFinalOnChain ? 'Successfully broadcast transaction' : 'Warning: Transaction has been broadcasted but is not yet final' }}</div>
        <div>Transaction Hash: {{ result.trxHash }}</div>
        <div>Contract Address: {{ `02${result.trxHash.substr(24, 64)}` }}</div>

        <q-stepper-navigation>
          <q-btn flat @click="step = 3" color="primary" label="Back" class="q-ml-sm" />
        </q-stepper-navigation>
      </q-step>
    </q-stepper>
  </q-page>
</template>

<script>
import { ref, computed } from 'vue'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import { partisiaCrypto } from 'partisia-crypto'
import PartisiaSdk from 'partisia-sdk'
import { rpcAccount } from 'src/boot/preload'
import { AbiParser } from '@partisiablockchain/abi-client-ts'
import serializePublicContract from 'src/boot/serializePublicContract'
import FormInteractRoot from 'src/components/FormInteractRoot.vue'

export default {
  components: {
    FormInteractRoot,
  },
  setup() {
    const $q = useQuasar()
    const store = useStore()
    const step = ref(1)

    const isBroadcasting = ref(false)
    const frmFileWasm = ref(null)
    const frmFileAbi = ref(null)
    const bufFileWasm = ref(null)
    const bufFileAbi = ref(null)
    const aryInitArguments = ref([])
    const result = ref(null)

    store.watch(
      (state, getters) => getters.sdkClient,
      async (newValue, oldValue) => {
        if (newValue == null) {
          step.value = 1
        } else {
          step.value = 2
        }
      }
    )
    const getFileBuffer = async (fileObject) => {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.onloadend = (evt) => {
          resolve(Buffer.from(evt.target.result))
        }
        reader.readAsArrayBuffer(fileObject)
      })
    }
    const abi = computed(() => new AbiParser(bufFileAbi.value).parseAbi())
    const abiInit = computed(() => abi.value?.contract?.init())

    return {
      step,
      isBroadcasting,
      frmFileWasm,
      frmFileAbi,
      aryInitArguments,
      abiInit,
      result,
      abi,
      onConnect: async () => {
        if (!store.getters.sdkClient) {
          await store.dispatch('triggerWalletConnect')
        } else {
          step.value = 2
        }
      },
      onFileUploads: async () => {
        try {
          bufFileAbi.value = await getFileBuffer(frmFileAbi.value)
          bufFileWasm.value = await getFileBuffer(frmFileWasm.value)
          aryInitArguments.value = new Array(abiInit.value.arguments.length)
          if (process.env.DEV) console.log('aryInitArguments', JSON.stringify(aryInitArguments.value, null, 2))

          step.value++
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        }
      },
      onSubmit: async () => {
        try {
          isBroadcasting.value = true
          // build the payload data
          // const init = '00000000000000044245544100000003425441080000000000002710'
          if (process.env.DEV) console.log('aryInitArguments.value', JSON.stringify(aryInitArguments.value, null, 2))

          const args = aryInitArguments.value
          // const init = serializePublicContract(contract.value.contract.init(), contract.value.contract, args).toString('hex')
          const contract = abi.value.contract
          const init = serializePublicContract(abiInit.value, contract, args).toString('hex')
          if (process.env.DEV) console.log('init payload', init.toString('hex'))

          const bufPayload = partisiaCrypto.structs.serializeToBuffer(
            {
              invocationByte: 1,
              init,
              abi: bufFileAbi.value.toString('hex'),
              wasm: bufFileWasm.value.toString('hex'),
            },
            ...partisiaCrypto.abi_system.Payload_PublicDeployContract
          )

          // sign and broadcast with wallet
          const sdkClient = store.getters.sdkClient
          const sdk = new PartisiaSdk({ seed: sdkClient.seed, connection: sdkClient.connection })
          // Cannot convert undefined or null to object
          // Cannot read properties of undefined (reading 'length')

          const account = JSON.parse(JSON.stringify(store.getters.sdkClient.connection.account))
          const nonce = await rpcAccount.getNonce(account.address, account.shard_id)
          const cost = (bufPayload.length * 3 + 410000) * 5

          const serialized = partisiaCrypto.transaction.serializedTransaction(
            { cost, nonce, validTo: Date.now() + 5 * 60 * 1000 }, // 5 minutes
            { contract: '0197a0e238e924025bad144aa0c4913e46308f9a4d' },
            bufPayload
          )
          const res = await sdk.signMessage({
            payload: serialized.toString('hex'),
            payloadType: 'hex',
            dontBroadcast: false,
          })

          result.value = res

          console.log('res', JSON.stringify(res, null, 2))
          step.value++
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isBroadcasting.value = false
        }
      },
    }
  },
}
</script>
