<template>
  <q-page padding>
    <div v-if="!isAbiLoaded">
      <q-form @submit="onAbi">
        <q-input outlined v-model="abi" label="abi" stack-label />
        <q-btn type="submit" label="decode" />
      </q-form>
    </div>

    <div v-else class="q-gutter-md">
      <div class="text-body2">Select Action:</div>
      <q-select
        class="q-mb-lg"
        color="btn-color"
        outlined
        options-selected-class="teal"
        bottom-slots
        v-model="abiAction"
        :options="contractPublicAbi.contract.functions"
        :option-label="(opt) => opt.name"
      >
        <template v-slot:prepend>
          <q-icon name="las la-dot-circle" />
        </template>
      </q-select>
      <form-interact-action
        :abi="contractPublicAbi"
        :address-contract="addressContract"
        :action-name="abiAction.name"
        :key="abiAction.name"
        :gas-fee="txtGasFee"
      />
      <q-input v-model="addressContract" outlined label="Address Contract" />
      <q-input v-model="txtGasFee" outlined label="Gas Fee" />
    </div>
  </q-page>
</template>

<script>
import { ref, getCurrentInstance } from 'vue'
import FormInteractAction from 'src/components/FormInteractAction.vue'
import { AbiParser } from '@partisiablockchain/abi-client-ts'
import { useQuasar } from 'quasar'
import assert from 'assert'

export default {
  components: {
    FormInteractAction,
  },
  setup() {
    const $q = useQuasar()
    const app = getCurrentInstance()
    app.appContext.config.globalProperties.$dev = true

    const isAbiLoaded = ref(false)
    const abi = ref('')
    const addressContract = ref('')
    const txtGasFee = ref('')
    const contractPublicAbi = ref(null)
    const aryArguments = ref([])
    const abiAction = ref(null)

    return {
      abi,
      isAbiLoaded,
      abiAction,
      aryArguments,
      contractPublicAbi,
      txtGasFee,
      addressContract,
      onAbi: () => {
        try {
          let abiFile
          try {
            abiFile = new AbiParser(Buffer.from(abi.value, 'hex')).parseAbi()
          } catch (error) {}
          try {
            abiFile = new AbiParser(Buffer.from(abi.value, 'base64')).parseAbi()
          } catch (error) {}
          assert(abiFile, 'cannot decode this byte string')

          abiAction.value = abiFile.contract.functions[0]
          contractPublicAbi.value = abiFile
          isAbiLoaded.value = true
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        }
      },
    }
  },
}
</script>
