<template>
  <q-page class="">
    <map-box />
    <div class="flex flex-center">
      <blockchain-metrics class="blockchain-metrics" v-bind:class="{ 'blockchain-metrics-mobile': isMobile }" />
    </div>

    <div class="tab-wrapper" v-bind:class="isMobile ? '' : 'q-ma-lg'" v-bind:style="{ 'border-radius': isMobile ? 0 : '16px' }">
      <q-tabs
        indicator-color="tab-indicator"
        no-caps
        align="left"
        v-model="tab"
        inline-label
        class="text-black tab-header"
        style="border-bottom: 1px solid #e7e7e7"
      >
        <q-tab v-bind:class="`tab-recent${isMobile ? '-mobile' : ''}`" name="blocks" label="Recent Blocks" />
        <q-tab v-bind:class="`tab-recent${isMobile ? '-mobile' : ''}`" name="transactions" label="Recent Transactions" />
      </q-tabs>
      <q-tab-panels v-model="tab" animated class="q-mb-md" active-class="tab-active">
        <q-tab-panel name="blocks">
          <recent-blocks />
        </q-tab-panel>
        <q-tab-panel name="transactions">
          <recent-transactions />
        </q-tab-panel>
      </q-tab-panels>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue'
import BlockchainMetrics from 'src/components/BlockchainMetrics.vue'
import RecentBlocks from 'src/components/RecentBlocks.vue'
import RecentTransactions from 'src/components/RecentTransactions.vue'
import MapBox from 'src/components/MapBox.vue'
import useBreakpoints from 'src/boot/useBreakpoints'

export default defineComponent({
  name: 'PageIndex',
  components: {
    BlockchainMetrics,
    RecentBlocks,
    RecentTransactions,
    MapBox,
  },
  setup() {
    const { width, isMobile } = useBreakpoints()

    return {
      width,
      isMobile,
      tab: ref('blocks'),
    }
  },
})
</script>
<style lang="scss" scoped>
.blockchain-metrics {
  position: absolute;
  top: 50px;
  left: 150px;
  border: none;
}
.blockchain-metrics-mobile {
  left: inherit;
}
.tab-wrapper {
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}
.tab-header {
  height: 81px;
}
.tab-recent {
  margin-left: 30px;
}
</style>
