<template>
  <q-page padding>
    <!-- <q-btn @click="onRawPayload" label="raw payload" /> -->
    <q-tabs v-model="tab" class="bg-grey-2 text-teal">
      <q-tab name="mpc_tokens" label="Manage MPC Tokens" />
      <q-tab name="register" label="Register or Update" />
      <q-tab name="operators" label="ORACLE REGISTRATION" />
      <q-tab name="zk_register" label="ZK Registration" />
    </q-tabs>

    <q-tab-panels v-model="tab" animated class="q-mb-md" active-class="tab-active">
      <q-tab-panel name="mpc_tokens">
        <div v-if="!isLoggedIn" class="col-12 full-screen-width">
          <q-btn label="Connect Wallet" color="btn-color" @click="onConnectSdk" />
        </div>
        <template v-else>
          <table-custom
            title="MPC Tokens"
            :gridHeader="false"
            :minHeight="'0px'"
            :loading="false"
            maxWidth="400px"
            :rows="[
              { key: 'Free', value: getMpcFree },
              { key: 'Staked', value: getMpcStaked },
              { key: 'Pending', value: getMpcPending },
            ]"
            :columns="colMpc"
            :vis="['grid_key', 'grid_value']"
          />
          <q-btn class="q-mb-md" label="Stake MPC Tokens" color="btn-color" @click="onStake(0)" />
          <q-btn class="q-mb-md q-ml-sm" label="Unstake MPC Tokens" color="btn-color" @click="onStake(1)" />
          <q-btn class="q-mb-md q-ml-sm" label="Check Unstakes" color="btn-color" @click="onCheckUnstake" />
          <!-- <q-separator class="q-my-md" color="gray" /> -->
        </template>
      </q-tab-panel>
      <q-tab-panel name="register">
        <q-stepper v-model="step" vertical color="primary" animated>
          <q-step :name="1" title="Connect to your Partisia Wallet" icon="link" :done="step > 1">
            Download and setup your Partisia
            <a target="_blank" href="https://chrome.google.com/webstore/detail/partisia-wallet/gjkdbeaiifkpoencioahhcilildpjhgh">Chrome Wallet Extension</a>

            <q-stepper-navigation>
              <q-btn label="Connect Wallet" color="btn-color" @click="onConnectSdk" />
            </q-stepper-navigation>
          </q-step>
          <q-step :name="2" title="Submit Info" icon="add_comment">
            <div>
              Connected with:
              <q-chip :ripple="false" :clickable="false" square style="background-color: #e8f0ff">{{ sdkConnect?.connection?.account?.address }}</q-chip>
            </div>
            <br />
            <q-form class="q-gutter-md" @submit="onSubmitSynaps" style="max-width: 1200px">
              <div class="text-bold">
                Please see the following for Documentation:
                <ul>
                  <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://partisiablockchain.gitlab.io/documentation/operator-9-keys.html"
                      ><b /> Keys for BP config and registration
                    </a>
                  </li>
                  <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://discord.com/channels/819902335567265792/826622869718171679/1009747974357794918"
                      ><b /> How to create Session Id
                    </a>
                  </li>
                </ul>
              </div>
              <q-input
                outlined
                dense
                v-model="frmSessionIdSynaps"
                label="Synaps KYB Session Id"
                hint="Ex: ba80880f-k9743abc-ee78818e-65a83194"
                :rules="[(val) => isValidSessionIdSynaps(val) || 'invalid session id']"
              />

              <br />
              <div>Input your <b>BLS</b> signing key below or generate a new one</div>
              <div class="row">
                <q-input
                  class="col"
                  dense
                  v-model="txtKeyBls"
                  outlined
                  label="BLS Signing Key"
                  :rules="[(val) => isValidBlsKey(val) || 'invalid key']"
                  hint="Ex: 18091c94f6d42e22c51c51ff8352dabaca4f77158cb1e93b629b9ef49ace7ec8"
                />
                <!-- <q-btn class="col-shrink q-ml-md" style="margin-top: 0" outline color="primary q-my-md" label="Generate" @click="onGenerateBls" /> -->
              </div>
              <div class="text-caption" style="color: red">
                Please make sure to store your BLS Signing Key in a safe place
                <br />
                **IMPORTANT - Once you register your keys, it will be permanent. Please record and keep your keys in a safe place
              </div>
              <br />
              <q-input
                dense
                v-model="frmPublicKeyNetwork"
                outlined
                label="Network Public Key"
                :rules="[(val) => isValidNetworkPublicKey(val) || 'invalid public key']"
                hint="Ex: 028f7c3e3f406ec67435e3541dc0356577c915c156d136518588e49bd834989174"
              />
              <q-input
                outlined
                dense
                class="q-mt-sm"
                v-model="frmWebsite"
                label="Website"
                hint="Ex: https://my-node-website.com"
                lazy-rules
                :rules="[(val) => (val && val.length > 0) || 'Please type something']"
              />
              <q-select
                outlined
                dense
                v-model="frmJurisdictionServer"
                use-input
                hide-selected
                fill-input
                input-debounce="0"
                :options="aryCountries"
                @filter="filterFn"
                hint="Ex: Denmark"
                style="padding-bottom: 32px"
                label="Server Jurisdiction"
                :rules="[(val) => val || 'Please type something']"
              >
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class="text-grey"> No results </q-item-section>
                  </q-item>
                </template>
              </q-select>

              <div class="q-pa-md" v-if="txtTransactionHash" style="background-color: rgba(0, 100, 0, 0.4)">
                Successfully submitted Node Registration
                <q-field outlined label="Transaction Hash" stack-label>
                  <template v-slot:control>
                    <div class="self-center full-width no-outline" tabindex="0">
                      {{ txtTransactionHash }}
                    </div>
                  </template>
                </q-field>
              </div>
              <q-stepper-navigation>
                <q-btn :loading="isSubmitting" :disable="isSubmitting" type="submit" color="btn-color" label="Submit" />
                <q-btn flat @click="step = 1" color="primary" label="Back" class="q-ml-sm" />
              </q-stepper-navigation>
            </q-form>
          </q-step>
        </q-stepper>
      </q-tab-panel>
      <q-tab-panel name="operators">
        <b>Oracle nodes</b>
        <br />
        To do oracle services on Partisia Blockchain a node must be confirmed in BP orchestration contract, have a sufficient stake and they need to associate
        at least 250,000 MPC to the Large Oracle contract.

        <q-form @submit="onSubmitStake">
          <q-input
            filled
            dense
            class="q-mt-sm"
            v-model="frmStakeAmount"
            :label="`${frmStake ? 'Stake' : 'Unstake'} Amount`"
            hint="Ex: 250000.0000"
            lazy-rules
            :rules="[(val) => (val && val.length > 0) || 'Please type something']"
          />
          <q-toggle v-model="frmStake" :label="frmStake ? 'Stake' : 'Unstake'" />
          <br />
          <q-btn :loading="isSubmitting" :disable="isSubmitting" type="submit" color="btn-color" label="Submit" />
        </q-form>
        <div class="q-pa-md" v-if="txtTransactionHash" style="background-color: rgba(0, 100, 0, 0.4)">
          Successfully submitted Stake
          <q-field outlined label="Transaction Hash" stack-label>
            <template v-slot:control>
              <div class="self-center full-width no-outline" tabindex="0">
                {{ txtTransactionHash }}
              </div>
            </template>
          </q-field>
        </div>
      </q-tab-panel>
      <q-tab-panel name="zk_register">
        <b>ZK nodes</b>
        <br />
        To do zero knowledge services on Partisia Blockchain a node must be confirmed in BP orchestration contract, have a sufficient stake and have registered
        their https endpoint with the ZK registry contract. Besides that, they need to associate at least 100,000 MPC to the ZK registry contract.
        <br />
        <br />
        The process for nodes to register as ZK nodes will go like this:
        <ul>
          <li>
            You (the node operator) need a `https` endpoint pointing to your `restPort` defined in `config.json` (8080). One method to achieve this is to create
            a reverse proxy forwarding https traffic to your node as `http`.
          </li>
          <li>
            Send a registration tx to node registry contract
            <q-form @submit="onZkEndpoint">
              <q-input
                filled
                dense
                v-model="frmZkEndpoint"
                class="q-mt-sm"
                label="Zk Endpoint"
                hint="Ex: https://my-pbc-node.com:5001"
                :rules="[isValidZkEndpoint]"
              />
              <q-btn :loading="isSubmitting" :disable="isSubmittingZkEndpoint" type="submit" color="btn-color" label="Submit" />
            </q-form>
          </li>
          <li>
            Send an allocation transaction to node registry contract (ZK service require allocation of 100k MPC of staked tokens)
            <q-form @submit="onZkStake">
              <q-input
                filled
                dense
                class="q-mt-sm"
                v-model="frmZkStakeAmount"
                :label="`${frmZkStake ? 'Stake' : 'Unstake'} Amount`"
                hint="Ex: 100000.0000"
                lazy-rules
                :rules="[(val) => (val && val.length > 0) || 'Please type something']"
              />
              <q-toggle v-model="frmZkStake" :label="frmZkStake ? 'Stake' : 'Unstake'" />
              <br />
              <q-btn :loading="isSubmitting" :disable="isSubmittingZkStake" type="submit" color="btn-color" label="Submit" />
            </q-form>
          </li>
        </ul>
      </q-tab-panel>
    </q-tab-panels>
  </q-page>
</template>

<script>
import { ref, computed, onBeforeMount } from 'vue'
import { useStore } from 'vuex'
import { openURL, useQuasar } from 'quasar'
import PartisiaSdk from 'partisia-sdk'
import { rpcAccount, convertDec } from 'src/boot/preload'
import aryISO3166 from 'src/boot/countryISO'
import * as bls from '@noble/bls12-381'
import assert from 'assert'
import { partisiaCrypto } from 'partisia-crypto'
import { Big } from 'big.js'
import axios from 'axios'
import TableCustom from 'src/components/TableCustom.vue'
import DialogStakeTokensVue from 'src/components/DialogStakeTokens.vue'

const requiredStakeAmount = 25000
const colMpc = [
  { align: 'left', name: 'grid_key', field: 'key' },
  { align: 'left', name: 'grid_value', field: 'value' },
  { name: 'grid_tag', field: 'tag' },
]

export default {
  components: {
    TableCustom,
  },
  computed: {
    stakedTokensValid() {
      // Must have requiredStakeAmount MPC staked
      return new Big(this.account?.data?.stakedTokens || 0).gte(requiredStakeAmount * 10000)
    },
  },
  setup() {
    const $q = useQuasar()
    const store = useStore()

    const tab = ref('mpc_tokens')
    const isLoggedIn = computed(() => store.getters.isLoggedIn)
    const step = ref(isLoggedIn.value ? 2 : 1)
    const account = ref(null)
    const txtKeyBls = ref('')
    const txtKeyNetwork = ref('')
    const isSubmitting = ref(false)
    const isSubmittingZkEndpoint = ref(false)
    const isSubmittingZkStake = ref(false)
    const txtTransactionHash = ref('')
    const aryCountries = ref(aryISO3166)

    // const frmId = ref('')
    const frmSessionIdSynaps = ref('')
    const frmName = ref('')
    const frmPublicKeyNetwork = ref('')
    const frmWebsite = ref('')
    const frmAddress = ref('')
    const frmJurisdictionEntity = ref(null)
    const frmJurisdictionServer = ref(null)
    const frmZkEndpoint = ref('')
    const frmZkStakeAmount = ref('')
    const frmStakeAmount = ref('')
    const frmStake = ref(true)
    const frmZkStake = ref(true)

    const setAccount = async () => {
      if (isLoggedIn.value) account.value = await rpcAccount.getAccount(store.getters.sdkClient.connection.account.address)
      else account.value = null
    }

    store.watch(
      (state, getters) => getters.isLoggedIn,
      async (newValue, oldValue) => {
        if (newValue) {
          await setAccount()

          step.value = 2
        } else {
          account.value = null
          step.value = 1
        }
      }
    )

    onBeforeMount(async () => {
      await setAccount()
    })
    return {
      tab,
      step,
      isLoggedIn,
      account,
      convertDec,
      frmStake,
      frmStakeAmount,
      frmZkStake,
      colMpc,
      requiredStakeAmount: ref(requiredStakeAmount),
      isValidNetworkKey: (val) => {
        return partisiaCrypto.wallet.isValidPrivateKey(val)
      },
      getMpcFree: computed(() => {
        const amt = new Big(account.value?.data?.mpcTokens || 0).plus(account.value?.data?.stakedTokens || 0)
        return convertDec(amt, { decimals: 4 })
      }),
      getMpcStaked: computed(() => {
        const amt = account.value?.data?.stakedTokens || 0
        return convertDec(amt, { decimals: 4 })
      }),
      getMpcPending: computed(() => {
        // TODO need to know the properties of pendingUnstakes array
        const ary = account.value?.data?.pendingUnstakes || []
        const amt = ary.reduce((pv, cv, idx) => pv.plus(cv?.amount || cv.value || 0), new Big(0))
        return convertDec(amt, { decimals: 4 })
      }),
      isValidSessionIdSynaps: (val) => {
        try {
          const ary = val.split('-')
          assert(ary.length === 4)
          // TODO better validations later
          return true
        } catch (error) {
          return false
        }
      },
      isValidBlsKey: (privateKey) => {
        try {
          bls.getPublicKey(privateKey)
          return true
        } catch (error) {
          return false
        }
      },
      isValidNetworkPublicKey: (val) => {
        try {
          const buf = Buffer.from(val, 'hex')
          assert(buf.length === 33)
          assert(buf.toString('hex') === val.toLowerCase())
          return true
        } catch (error) {
          return false
        }
      },
      onGenerateNetwork: () => {
        // random 32 bytes
        txtKeyNetwork.value = Buffer.from(partisiaCrypto.utils_buffer.randomBytes(32)).toString('hex')
        const kp = {}
        kp.pub = partisiaCrypto.wallet.privateKeyToPublicKey(txtKeyNetwork.value).toString('hex')
        kp.address = partisiaCrypto.wallet.publicKeyToAddress(kp.pub)
        console.log('kp', JSON.stringify(kp, null, 2))
      },
      txtKeyBls,
      txtKeyNetwork,
      // frmId,
      frmName,
      frmSessionIdSynaps,
      frmPublicKeyNetwork,
      frmWebsite,
      frmAddress,
      frmJurisdictionEntity,
      frmJurisdictionServer,
      frmZkEndpoint,
      frmZkStakeAmount,
      isSubmitting,
      isSubmittingZkEndpoint,
      isSubmittingZkStake,
      txtTransactionHash,
      aryCountries,
      onLink: (link) => {
        openURL(link)
      },
      filterFn(val, update) {
        if (val === '') {
          update(() => {
            aryCountries.value = aryISO3166

            // here you have access to "ref" which
            // is the Vue reference of the QSelect
          })
          return
        }

        update(() => {
          const needle = val.toLowerCase()
          aryCountries.value = aryISO3166.filter((v) => v.label.toLowerCase().indexOf(needle) > -1)
        })
      },
      sdkConnect: computed(() => store.getters.sdkClient),
      onStep2: () => {
        step.value = 3
      },
      async onConnectSdk() {
        try {
          const sdk = new PartisiaSdk()
          await sdk.connect({
            chainId: process.env.CHAIN_ID,
            permissions: ['sign'],
            dappName: process.env.DAPP_NAME,
          })
          await store.dispatch('sdkConnect', { connection: sdk.connection, seed: sdk.seed })
        } catch (error) {
          console.error(error.message)
        }
      },
      onNodeUpdate: async () => {
        try {
          const sdkClient = store.getters.sdkClient
          isSubmitting.value = true
          assert(sdkClient?.connection, 'must connect to wallet first')
          // Build the transaction
          const frmParams = {
            name: frmName.value,
            website: frmWebsite.value,
            streetAddress: frmAddress.value,
            jurisdictionEntity: frmJurisdictionEntity.value.value,
            jurisdictionServer: frmJurisdictionServer.value.value,
          }
          // build the bytes
          const buf = partisiaCrypto.contract_system.Node.nodeUpdate(frmParams)

          const sdk = new PartisiaSdk({ seed: sdkClient.seed, connection: sdkClient.connection })
          const res = await sdk.signMessage({
            contract: '04203b77743ad0ca831df9430a6be515195733ad91',
            payload: buf.toString('hex'),
            payloadType: 'hex_payload',
            dontBroadcast: false,
          })
          console.log('res', JSON.stringify(res, null, 2))

          $q.notify({
            actions: [{ icon: 'close', color: 'white' }],
            type: 'positive',
            position: 'top',
            message: `Successfully submitted Node Registration Update: ${res.trxHash}`,
          })
          txtTransactionHash.value = res.trxHash
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isSubmitting.value = false
        }
      },
      isValidZkEndpoint: (val) => {
        try {
          const url = new URL(val)
          assert(url.protocol === 'https:', 'endpoint must begin with https')
          return true
        } catch (error) {
          return error.message
        }
      },
      onZkEndpoint: async () => {
        try {
          isSubmittingZkEndpoint.value = true
          const sdkClient = store.getters.sdkClient
          assert(sdkClient?.connection, 'must connect to wallet first')

          const sdk = new PartisiaSdk({ seed: sdkClient.seed, connection: sdkClient.connection })

          const frmParams = {
            invocationByte: 0,
            endpoint: frmZkEndpoint.value,
          }

          const abi = partisiaCrypto.abi_system.Payload_ZKRegister
          const bufPayload = partisiaCrypto.structs.serializeToBuffer(frmParams, ...abi)

          const res = await sdk.signMessage({
            contract: '01a2020bb33ef9e0323c7a3210d5cb7fd492aa0d65',
            payload: bufPayload.toString('hex'),
            payloadType: 'hex_payload',
            dontBroadcast: false,
          })
          console.log('res', JSON.stringify(res, null, 2))

          $q.notify({
            actions: [{ icon: 'close', color: 'white' }],
            type: 'positive',
            position: 'top',
            message: `Successfully submitted Endpoint: ${res.trxHash}`,
          })
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isSubmittingZkEndpoint.value = false
        }
      },
      onZkStake: async () => {
        try {
          isSubmittingZkStake.value = true
          const sdkClient = store.getters.sdkClient
          assert(sdkClient?.connection, 'must connect to wallet first')

          const sdk = new PartisiaSdk({ seed: sdkClient.seed, connection: sdkClient.connection })

          const frmParams = {
            invocationByte: frmZkStake.value ? 10 : 11,
            amount: new Big(frmZkStakeAmount.value).times(1e4).toFixed(0),
          }

          const abi = partisiaCrypto.abi_system.Payload_StakeTokens
          const bufPayload = partisiaCrypto.structs.serializeToBuffer(frmParams, ...abi)

          const res = await sdk.signMessage({
            contract: '01a2020bb33ef9e0323c7a3210d5cb7fd492aa0d65',
            payload: bufPayload.toString('hex'),
            payloadType: 'hex_payload',
            dontBroadcast: false,
          })
          console.log('res', JSON.stringify(res, null, 2))

          $q.notify({
            actions: [{ icon: 'close', color: 'white' }],
            type: 'positive',
            position: 'top',
            message: `Successfully submitted Stake: ${res.trxHash}`,
          })
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isSubmittingZkStake.value = false
        }
      },
      onSubmitStake: async () => {
        try {
          isSubmitting.value = true
          const sdkClient = store.getters.sdkClient
          assert(sdkClient?.connection, 'must connect to wallet first')

          const sdk = new PartisiaSdk({ seed: sdkClient.seed, connection: sdkClient.connection })

          const frmParams = {
            invocationByte: frmStake.value ? 10 : 11,
            amount: new Big(frmStakeAmount.value).times(1e4).toFixed(0),
          }

          const abi = partisiaCrypto.abi_system.Payload_OracleAllocate
          const bufPayload = partisiaCrypto.structs.serializeToBuffer(frmParams, ...abi)

          const res = await sdk.signMessage({
            contract: '04f1ab744630e57fb9cfcd42e6ccbf386977680014',
            payload: bufPayload.toString('hex'),
            payloadType: 'hex_payload',
            dontBroadcast: false,
          })
          console.log('res', JSON.stringify(res, null, 2))

          $q.notify({
            actions: [{ icon: 'close', color: 'white' }],
            type: 'positive',
            position: 'top',
            message: `Successfully submitted Stake: ${res.trxHash}`,
          })
          txtTransactionHash.value = res.trxHash
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isSubmitting.value = false
        }
      },
      onRawPayload: async () => {
        const sdkClient = store.getters.sdkClient
        isSubmitting.value = true
        assert(sdkClient?.connection, 'must connect to wallet first')

        const sdk = new PartisiaSdk({ seed: sdkClient.seed, connection: sdkClient.connection })
        const res = await sdk.signMessage({
          contract: '014aeb24bb43eb1d62c0cebf2a1318e63e35e53f96',
          payload:
            '01000000a47b22636f72706f726174655f6964223a302c226e616d65223a22222c2263697479223a22222c22636f756e747279223a22222c22636f756e7472795f6e756d65726963223a2230222c2261646472657373223a22222c22726567697374726174696f6e5f6e756d626572223a22222c2270726f7669646572223a2253796e617073222c2270617274697369615f626c6f636b636861696e5f61646472657373223a22227d0000d235ef1d0ef74bdc292b89e64e83164646e4c960d189399665b0bbf7b3a3841c36c3cc5ebb3fe02741a884ac95c8a40d0534893cca5ee4a6812e74c3eac8ec00000019687474703a2f2f35342e33362e3130352e3132393a39383838000000fa02355ccffad0c0cbfef34e6057aa51737287ca9056ecf721b246f43e4f0a3eca288a59d27999d4bfecb246f7fc126c1b58f5b36f5a9c0470e91d1021375d2146324be45c634b0c1bb5b5c722bf01e5d51109a1ac464274070deeddfdbbb4438b217fdb4bb5f4c27fdd49e2fa760e7b241d12eb443f508cff504c5e5b1d31095c488ceeb6f3346bc7448284fb4ef38b1e533673de7fe1075380d5a17ec430871694d156ededfe0019b09b1dae6be296fd77',
          payloadType: 'hex_payload',
          dontBroadcast: false,
        })
        if (process.env.DEV) console.log('res', JSON.stringify(res, null, 2))
      },
      onGenerateBls: () => {
        // random 32 bytes
        txtKeyBls.value = Buffer.from(bls.utils.randomPrivateKey()).toString('hex')
      },
      onCheckUnstake: async () => {
        try {
          const sdkClient = store.getters.sdkClient
          const sdk = new PartisiaSdk({ seed: sdkClient.seed, connection: sdkClient.connection })

          const frmParams = {
            invocationByte: 5,
          }

          const abi = partisiaCrypto.abi_system.Payload_PendingUnstake
          const bufPayload = partisiaCrypto.structs.serializeToBuffer(frmParams, ...abi)
          const res = await sdk.signMessage({
            contract: '01a4082d9d560749ecd0ffa1dcaaaee2c2cb25d881',
            payload: bufPayload.toString('hex'),
            payloadType: 'hex_payload',
            dontBroadcast: false,
          })
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        }
      },
      onStake: (innvocationEnum) => {
        try {
          assert(account.value?.shard_id != null, 'Account does not exist yet')
          // Open Dialog
          $q.dialog({
            persistent: false,
            component: DialogStakeTokensVue,
            componentProps: {
              shard_id: account.value?.shard_id,
              innvocationEnum,
            },
          })
            .onOk(() => {
              console.log('OK')
            })
            .onCancel(() => {
              console.log('Cancel')
            })
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        }
      },
      onSubmitSynaps: async () => {
        try {
          const sdkClient = store.getters.sdkClient
          isSubmitting.value = true
          assert(sdkClient?.connection, 'must connect to wallet first')

          // get the sessionId
          const getSessionId = async () => {
            const { data } = await axios.get(
              `https://reader.partisiablockchain.com/shards/Shard0/blockchain/contracts/${process.env.CONTRACT}\?requireContractState\=true`
            )
            return data.serializedContract.sessionId
          }

          // get the Synaps data
          const getSynapsData = async () => {
            const { data } = await axios.get(`https://synapse.mpcexplorer.com/synapse/${frmSessionIdSynaps.value}`)
            return data
          }

          const [sessionId, synapsData] = await Promise.all([getSessionId(), getSynapsData()])

          // Build the transaction
          const frmParams = {
            rawRequest: synapsData.result.message,
            signatureOnRawRequest: synapsData.result.signature,
            website: frmWebsite.value,
            producerServerJurisdiction: frmJurisdictionServer.value.value,
          }
          const address = sdkClient.connection.account.address
          const bufPayload = partisiaCrypto.contract_system.Node.nodeRegisterSynapsKYB(
            frmParams,
            address,
            frmPublicKeyNetwork.value,
            txtKeyBls.value,
            sessionId
          )

          if (process.env.DEV) console.log('bufPayload', bufPayload)

          const sdk = new PartisiaSdk({ seed: sdkClient.seed, connection: sdkClient.connection })
          const res = await sdk.signMessage({
            contract: '014aeb24bb43eb1d62c0cebf2a1318e63e35e53f96',
            payload: bufPayload.toString('hex'),
            payloadType: 'hex_payload',
            dontBroadcast: false,
          })
          if (process.env.DEV) console.log('res', JSON.stringify(res, null, 2))

          $q.notify({
            actions: [{ icon: 'close', color: 'white' }],
            type: 'positive',
            position: 'top',
            message: `Successfully submitted Node Registration: ${res.trxHash}`,
          })
          txtTransactionHash.value = res.trxHash
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isSubmitting.value = false
        }
      },
    }
  },
}
</script>
