<template>
  <q-page padding>
    <div class="title">
      More than >
      {{
        status
          .map((s) => s.transaction_count)
          .reduce((pv, cv) => pv + cv, 0)
          .toLocaleString('en-US')
      }}
      transactions found
    </div>
    <recent-transactions />
  </q-page>
</template>

<script>
import { ref, onBeforeMount, computed } from 'vue'
import { useStore } from 'vuex'
import RecentTransactions from 'src/components/RecentTransactions.vue'

export default {
  components: { RecentTransactions },
  setup() {
    const store = useStore()
    onBeforeMount(async () => {})

    return {
      status: computed(() => store.getters.status),
    }
  },
}
</script>
<style lang="scss">
.title {
  font-size: 20px;
  line-height: 23px;
  color: #130f26;
  padding-left: 10px;
}
</style>
