<template>
  <q-page>
    <table-custom :loading="false" :rows="rows" :columns="columns" :vis="vis" :event-traces="aryTraces" />
    <table-custom :loading="false" v-if="rowsPayload.length" class="q-pt-md" :rows="rowsPayload" :columns="columns" :vis="vis" />
    <table-custom
      :loading="isLoadingInnerTransaction"
      v-if="rowsPayloadTransaction.length"
      class="q-pt-md"
      :rows="rowsPayloadTransaction"
      :columns="columns"
      :vis="vis"
    />
  </q-page>
</template>

<script>
const columns = [
  { align: 'left', name: 'grid_key', field: 'key', label: 'Data Info' },
  { align: 'left', name: 'grid_value', field: 'value' },
  { name: 'grid_tag', field: 'tag' },
]
const vis = ['grid_key', 'grid_value']

import { defineComponent, ref, onBeforeMount } from 'vue'
import assert from 'assert'
import { deserializePayloadData, deserializeRpcFn, flattenObject, getInvocationType, postProcessPayloadData, rpcAccount } from 'src/boot/preload'
import TableCustom from 'src/components/TableCustom.vue'
import to from 'to-case'
import { partisiaAbiPublic } from 'partisia-abi-public'
import { AbiParser, FnKinds, JsonRpcConverter, JsonValueConverter, RpcReader } from '@partisiablockchain/abi-client-ts'
import axios from 'axios'

export default {
  name: 'TransactionRpc',
  components: {
    TableCustom,
  },
  props: {
    dataRpc: {
      type: Object,
      required: true,
      /*
      {
        shard_id: 1,
        data: {
          "transactionPayload": "AQAAAAZTaGFyZDHrOEAGPFwryn+U9g5vVOgCSjEK7AAheefYwEFhDFDWcAIDAACdwWAdmg2O9NyiqXXexWq8o7AA8wAAACEZRf0HrfJxoCFQEIQ/IQWXFGfr9JRCitIBQC8xJbGvuLQBAAAABlNoYXJkMQAAAAAAAG0/AAAAAAAAAAEAAAAAAAAABAUA",
          "block": "b657ae3ff2f9f771d77b4198526fcbde66c1cb0fe6d8645922aaedc5a7d772e9",
          "productionTime": 1666946188283,
          "blockTime": 220970,
          "identifier": "2116e739e307040cd4083301c096b5111c5215c8c9c0ecc4e3fcdbc75dffd652",
          "executionSucceeded": true,
          "events": [],
          "finalized": true,
          "isEvent": true
        }
      }
      */
    },
  },
  setup(props, context) {
    const rows = ref([])
    const rowsPayload = ref([])
    const rowsPayloadTransaction = ref([])
    const isLoadingInnerTransaction = ref(false)
    const { dataRpc } = { dataRpc: props.dataRpc.data }

    const payloadBuf = Buffer.from(dataRpc.transactionPayload, 'base64')
    const scValue = partisiaAbiPublic.decodeEvent(payloadBuf)

    const enumType = partisiaAbiPublic.getEventEnumType(scValue)
    rows.value.push({
      key: 'Type',
      value: `${dataRpc.isEvent ? 'Event - ' : ''}${enumType.name}`,
      tag: 'invocation_type',
    })

    rows.value.push({
      key: 'Transaction Hash',
      value: dataRpc.identifier,
      tag: 'transaction_hash',
    })
    rows.value.push({
      key: 'Shard Id',
      value: props.dataRpc.shard_id,
      tag: 'shard_id',
    })

    rows.value.push({
      key: 'Block Level',
      value: dataRpc.blockTime,
    })
    rows.value.push({
      key: 'Block Hash',
      value: dataRpc.block,
      tag: 'block_hash',
    })
    rows.value.push({
      key: 'Block Timestamp',
      value: new Date(dataRpc.productionTime).toISOString(),
    })
    rows.value.push({
      key: 'Finalized',
      value: dataRpc.finalized,
    })

    rows.value.push({
      key: 'Payload Length',
      value: payloadBuf.length,
    })
    rows.value.push({
      key: 'Payload Data',
      value: payloadBuf.toString('hex'),
      tag: 'payload',
    })

    rows.value.push({
      key: 'Has Error',
      value: !dataRpc.executionSucceeded,
    })
    if (!dataRpc.executionSucceeded) {
      rows.value.push({
        key: 'Error Message',
        value: dataRpc?.failureCause?.errorMessage,
      })
    }

    const aryTraces = ref(
      dataRpc.events.map((e) => {
        return {
          tx_hash: e.identifier,
          shard_id: e.destinationShard,
          execution_succeeded: true,
          error_message: '',
        }
      })
    )
    if (aryTraces.value.length > 0) {
      rows.value.push({
        key: 'Trace Count',
        value: aryTraces.value.length,
        tag: 'trace_count',
      })
    }

    const jData = JsonValueConverter.toJson(scValue)
    const objPayload = flattenObject(jData)
    for (const key of Object.keys(objPayload)) {
      var tag = null
      var opts = {}
      if (['address', 'deployAddress'].includes(key)) {
        tag = 'address_hash'
      }

      const keyMask = to.title(to.snake(key))
      rowsPayload.value.push({
        key: keyMask,
        value: objPayload[key],
        tag,
        opts,
      })
    }

    onBeforeMount(async () => {
      if (enumType.name === 'Transaction') {
        try {
          isLoadingInnerTransaction.value = true
          const innerTransaction = partisiaAbiPublic.getEventInnerTransaction(enumType)
          rowsPayloadTransaction.value.push({
            key: 'Address From',
            value: innerTransaction.from.toString('hex'),
            tag: 'address_hash',
          })
          rowsPayloadTransaction.value.push({
            key: 'Header Contract',
            value: innerTransaction.contract.toString('hex'),
            tag: 'address_hash',
          })
          rowsPayloadTransaction.value.push({
            key: 'Cost',
            value: innerTransaction.cost,
          })

          rowsPayloadTransaction.value.push({
            key: 'Payload',
            value: innerTransaction.payload.toString('hex'),
            tag: 'decodeAction',
            opts: { contract: innerTransaction.contract.toString('hex'), eventType: enumType.name },
          })

          // const abiInnerTransaction = Buffer.from(
          //   (await rpcAccount.getContract(innerTransaction.contract.toString('hex'), undefined, false)).data.abi,
          //   'base64'
          // )

          // const ary = deserializeRpcFn(abiInnerTransaction, innerTransaction.payload)
          // for (const a of ary) {
          //   rowsPayloadTransaction.value.push(a)
          // }
        } catch (error) {
          console.error(error.message)
        } finally {
          isLoadingInnerTransaction.value = false
        }
      }
    })

    return {
      rows,
      rowsPayload,
      rowsPayloadTransaction,
      columns,
      vis,
      aryTraces,
      isLoadingInnerTransaction,
    }
  },
}
</script>
