<template>
  <q-page>
    <table-custom :loading="false" :rows="rows" :columns="columns" :vis="vis" :event-traces="aryTraces" />
    <table-custom :loading="false" v-if="rowsPayload.length" class="q-pt-md" :rows="rowsPayload" :columns="columns" :vis="vis" />
  </q-page>
</template>

<script>
import { ref, onBeforeMount } from 'vue'
import assert from 'assert'
import { deserializePayloadData, getInvocationType, postProcessPayloadData } from 'src/boot/preload'
import TableCustom from 'src/components/TableCustom.vue'
import to from 'to-case'

const columns = [
  { align: 'left', name: 'grid_key', field: 'key', label: 'Data Info' },
  { align: 'left', name: 'grid_value', field: 'value' },
  { name: 'grid_tag', field: 'tag' },
]
const vis = ['grid_key', 'grid_value']
export default {
  name: 'TransactionIndexer',
  components: {
    TableCustom,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
    aryTraces: {
      type: Array,
      required: true,
    },
  },
  setup(props, context) {
    const rows = ref([])
    const { data } = { data: props.data }

    // is hash valid
    const rowsPayload = ref([])
    const dataDeserialized = ref(null)

    const isContractPublic = data.is_public_contract

    rows.value.push({
      key: 'Type',
      value: getInvocationType(data.header_contract),
      tag: 'invocation_type',
    })
    // flatten obj to array
    if (data.hasOwnProperty('has_error') && !data.has_error) {
      delete data.error_message
    }
    if (data.hasOwnProperty('trace_count') && data.trace_count === 0) {
      delete data.trace_count
    }
    for (const key of Object.keys(data)) {
      if (['id'].includes(key)) continue
      var tag = null
      var opts = {}
      if (['address_from', 'header_contract'].includes(key)) {
        tag = 'address_hash'
      } else if (['block_timestamp', 'inner_valid_to'].includes(key)) {
        tag = 'timestamp'
      } else if (key === 'shard_id') {
        tag = 'shard_id'
      } else if (key === 'transaction_hash') {
        tag = 'transaction_hash'
      } else if (key === 'block_hash') {
        tag = 'block_hash'
      } else if (key === 'trx_signature') {
        tag = 'trx_signature'
      } else if (isContractPublic && key === 'payload_data') {
        tag = 'decodeAction'
        opts.contract = data.header_contract
      } else if (key === 'payload_data') {
        tag = 'payload'
      } else if (key === 'trace_count') {
        tag = 'trace_count'
      }
      const keyMask = to.title(key.replace('header_', '').replace('inner_', '').replace('cost', 'fee'))
      rows.value.push({
        key: keyMask,
        value: data[key],
        tag,
        opts,
      })
    }

    // Deserialize Payload Data if possible
    const payloadData = Buffer.from(data.payload_data, 'hex')
    const objPayload = deserializePayloadData(payloadData, data.header_contract)
    console.log('objPayload', JSON.stringify(objPayload))

    if (objPayload) {
      // Post Processing
      postProcessPayloadData(objPayload, data.header_contract, data)

      for (const key of Object.keys(objPayload)) {
        var tag = null
        var opts = {}
        if (['address', 'deployAddress'].includes(key)) {
          tag = 'address_hash'
        }
        if (['wasm'].includes(key)) {
          tag = 'file'
        }
        if (['abi'].includes(key)) {
          tag = 'abi'
        }
        if (data.header_contract === '0197a0e238e924025bad144aa0c4913e46308f9a4d' && key === 'init') {
          tag = 'decodeAction'
          opts.abi = objPayload.abi
          opts.contract = data.header_contract
        }

        const keyMask = to.title(to.snake(key))
        rowsPayload.value.push({
          key: keyMask,
          value: objPayload[key],
          tag,
          opts,
        })
      }
    }

    return {
      rows,
      rowsPayload,
      columns,
      vis,
      dataDeserialized,
    }
  },
}
</script>
