<template>
  <error-page v-if="!isValidHash" message="Invalid Transaction Hash. Must be 32 byte hex string" />
  <template v-if="loadErr">
    <q-page padding>
      <error-card :message="loadErr" />
    </q-page>
  </template>
  <template v-else>
    <q-page v-if="isLoading" class="flex flex-center">
      <q-spinner-gears color="grey-14" size="3em" />
    </q-page>
    <template v-else>
      <transaction-indexer v-if="trxType === 'indexer'" :data="trxData" :ary-traces="aryTraces" />
      <transaction-event v-if="trxType === 'rpc_event'" :data-rpc="trxData" />
      <!-- <table-custom :loading="isLoading" :rows="rows" :columns="columns" :vis="vis" :event-traces="aryTraces" />
      <table-custom v-if="rowsPayload.length" class="q-pt-md" :loading="isLoading" :rows="rowsPayload" :columns="columns" :vis="vis" /> -->
      <!-- <pre>{{dataDeserialized}}</pre> -->
    </template>
  </template>
</template>

<script>
import { defineComponent, ref, onBeforeMount } from 'vue'
import { useRouter } from 'vue-router'
import assert from 'assert'
import { api, rpcAccount } from 'src/boot/preload'
import ErrorPage from 'src/components/ErrorPage.vue'
import ErrorCard from 'src/components/ErrorCard.vue'
import { partisiaCrypto } from 'partisia-crypto'
import TransactionIndexer from 'src/pages/TransactionIndexer.vue'
import TransactionEvent from 'src/pages/TransactionEvent.vue'

const columns = [
  { align: 'left', name: 'grid_key', field: 'key', label: 'Data Info' },
  { align: 'left', name: 'grid_value', field: 'value' },
  { name: 'grid_tag', field: 'tag' },
]
const vis = ['grid_key', 'grid_value']
export default defineComponent({
  name: 'Transaction',
  components: {
    ErrorPage,
    ErrorCard,
    TransactionIndexer,
    TransactionEvent,
  },
  setup(props, context) {
    const router = useRouter()
    const hash = ref(router.currentRoute.value.params.hash)

    const trxType = ref('')
    const trxData = ref({})

    // is hash valid
    const isValidHash = ref(false)
    const isLoading = ref(true)
    const loadErr = ref(null)
    const rows = ref([])
    const rowsPayload = ref([])
    const dataDeserialized = ref(null)
    const aryTraces = ref([])

    try {
      const buf = Buffer.from(hash.value, 'hex')
      assert(buf.length === 32)
      isValidHash.value = true
    } catch (error) {
      console.error(error.message)
    }

    // lookup the hash
    onBeforeMount(async () => {
      try {
        const getTransactionFromRpc = () => {
          return new Promise((resolve, reject) => {
            rpcAccount
              .getTransaction(hash.value)
              .then((res) => {
                if (res == null) {
                  return reject({ message: 'Transaction Does Not Exist' })
                }
                if (res.data.isEvent) {
                  return resolve({ dataType: 'rpc_event', data: res })
                } else {
                  // convert from rpc to indexer format
                  const payloadBuf = Buffer.from(res.data.transactionPayload, 'base64')
                  const { signature, inner, header, payload } = partisiaCrypto.transaction.deserializeTransactionPayload(payloadBuf, true)

                  aryTraces.value = res.data.events.map((e) => {
                    return {
                      tx_hash: e.identifier,
                      shard_id: e.destinationShard,
                      execution_succeeded: true,
                      error_message: '',
                    }
                  })
                  return resolve({
                    dataType: 'indexer',
                    data: {
                      id: 0,
                      transaction_hash: res.data.identifier,
                      shard_id: res.shard_id,
                      block_level: res.data.blockTime,
                      block_hash: res.data.block,
                      block_timestamp: res.data.productionTime,
                      trx_signature: signature,
                      address_from: res.data.from,
                      header_contract: header.contract,
                      header_payload_length: header.payload_length,
                      inner_nonce: inner.nonce,
                      inner_valid_to: inner.validTo,
                      inner_cost: inner.cost,
                      payload_data: payload,
                      is_event_trace: res.data.isEvent,
                      is_public_contract: parseInt(header.contract.substr(0, 2), 16) === 2,
                      trace_count: res.data.events.length,
                      has_error: !res.data.executionSucceeded,
                      error_message: res.data?.failureCause?.errorMessage,
                    },
                  })
                }

                // alert(partisiaAbiPublic.getEventEnumType(scValue).name)
              })
              .catch((error) => {
                return reject(error?.response?.data || error)
              })
          })
        }
        const getTransaction = async () => {
          return new Promise((resolve, reject) => {
            api
              .get(`/transaction/${hash.value}`)
              .then(({ data }) => {
                if (data.is_event_trace) {
                  // if it is a is_event_trace then get from rpc directly
                  return resolve(getTransactionFromRpc())
                } else {
                  // TODO remove as this is only for testing
                  // return resolve(getTransactionFromRpc())

                  return resolve({ dataType: 'indexer', data })
                }
              })
              .catch((error) => {
                console.error(error?.response?.status, error?.response?.data?.message)
                // get it from rpc directly
                resolve(getTransactionFromRpc())
                // if (error?.response?.status === 500) {
                // } else {
                //   reject(error?.response?.data || error)
                // }
              })
          })
        }
        const { dataType, data } = await getTransaction()
        trxType.value = dataType
        trxData.value = data
      } catch (error) {
        loadErr.value = error.message
      } finally {
        isLoading.value = false
      }
    })

    return {
      trxType,
      trxData,
      rows,
      rowsPayload,
      aryTraces,
      columns,
      vis,
      isValidHash,
      isLoading,
      loadErr,
      hash,
      dataDeserialized,
    }
  },
})
</script>
