<template>
  <template v-if="loadErr">
    <q-page padding>
      <error-card :message="loadErr" />
    </q-page>
  </template>
  <template v-else>
    <q-page padding>
      <div v-for="(committee, i) in rows.committees" :key="i">
        <div class="title">Committee {{ i + 1 }}</div>
        <table-custom :loading="isLoading" :rows="committee.activeCommittee" :columns="columns" :vis="columns.map((c) => c.field)" />
      </div>
    </q-page>
  </template>
</template>

<script>
import { defineComponent, ref, onBeforeMount } from 'vue'
import { useRouter } from 'vue-router'
import { getValidatorsAll } from 'src/boot/preload'
import ErrorCard from 'src/components/ErrorCard.vue'
import TableCustom from 'src/components/TableCustom.vue'

const columns = [
  { align: 'left', name: 'identity', field: 'identity', label: 'Identity' },
  // { align: 'left', name: 'producerBlsKey', field: 'producerBlsKey', label: 'Producer Bls Key' },
  { align: 'left', name: 'producerKey', field: 'producerKey', label: 'Producer Key' },
]
const vis = ['grid_key', 'grid_value']
export default defineComponent({
  name: 'Block',
  components: {
    ErrorCard,
    TableCustom,
  },
  setup(props, context) {
    const router = useRouter()
    const hash = ref(router.currentRoute.value.params.hash)

    // is hash valid
    const isLoading = ref(true)
    const loadErr = ref(null)
    const rows = ref([])

    // lookup the hash
    onBeforeMount(async () => {
      try {
        const aryValidators = await getValidatorsAll()
        console.log(JSON.stringify(aryValidators, null, 2))
        rows.value = aryValidators
      } catch (error) {
        loadErr.value = error.message
      } finally {
        isLoading.value = false
      }
    })

    return {
      rows,
      columns,
      vis,
      isLoading,
      loadErr,
      hash,
    }
  },
})
</script>
<style lang="scss">
.title {
  font-size: 20px;
  line-height: 23px;
  color: #130f26;
  padding-left: 10px;
}
</style>
