<template>
  <div v-if="res === null">
    <q-spinner color="primary" size="1em" />
  </div>
  <div v-else>{{ res }}</div>
</template>

<script>
import { ref, onBeforeMount } from 'vue'
import { getValidators } from 'src/boot/preload'

export default {
  // name: 'ComponentName',
  setup() {
    const res = ref(null)

    onBeforeMount(async () => {
      try {
        const aryValidators = await getValidators()
        // console.log('aryValidators',aryValidators)
        // res.value = aryValidators.committees?.map((x) => x?.activeCommittee?.length).reduce((pv, cv, idx) => pv + cv, 0)
        res.value = aryValidators.serializedContract.committee.length
      } catch (error) {
        console.error(error.message)
        res.value = 'unable to load'
      }
    })
    return { res }
  },
}
</script>
