<template>
  <div v-if="val == null">
    <q-spinner color="primary" size="1em" />
  </div>
  <div v-else>{{ Number(val).toLocaleString('en-US') }}</div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: {
    val: {
      type: Number,
      required: false,
    },
  },

  setup(props) {
    return {}
  },
}
</script>
