<template>
  <!-- <div class="box-outer" v-bind:style="{ height: isLoading ? '520px' : '' }"> -->
  <div class="box-outer" v-bind:style="{ 'max-width': isMobile ? `${width - 40}px` : '' }">
    <div class="row full-width box-header">
      <div class="q-ma-md">Partisia Blockchain Metrics</div>
    </div>
    <div class="row full-width q-pa-sm">
      <div class="box col-12 q-pa-sm">
        <div class="fit column items-start justify-between q-pa-sm">
          <div>Global Validators</div>
          <global-validators />
          <div>&nbsp;</div>
        </div>
      </div>
      <div class="box col-6 q-pa-sm">
        <div class="fit column items-start justify-between q-pa-sm">
          <div>Total Blocks</div>
          <total :val="totalBlocks" />
          <div>&nbsp;</div>
        </div>
      </div>
      <div class="box col-6 q-pa-sm">
        <div class="fit column items-start justify-between q-pa-sm">
          <div>Total Transactions</div>
          <total :val="totalTransactions" />
          <div>&nbsp;</div>
        </div>
      </div>
      <div v-for="(status, i) in status" :key="i" class="box col-6 q-pa-sm">
        <div class="fit column items-start justify-between q-pa-sm">
          <div>Blocks</div>
          <div>
            {{ Number(status.block_level).toLocaleString('en-US') }}
          </div>
          <div>Shard: {{ getShardName(status.shard_id) }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, getCurrentInstance, onBeforeMount, computed } from 'vue'
import { useStore, mapGetters } from 'vuex'
import { useQuasar } from 'quasar'
import GlobalValidators from 'src/components/Metrix/GlobalValidators.vue'
import Total from 'src/components/Metrix/Total.vue'
import { api, getShardName } from 'src/boot/preload'
import useBreakpoints from 'src/boot/useBreakpoints'

export default {
  components: {
    GlobalValidators,
    Total,
  },
  computed: {},
  methods: {
    getShardName(id) {
      return getShardName(id)
    },
  },
  setup(props, context) {
    const $q = useQuasar()
    const app = getCurrentInstance()
    const store = useStore()
    // const api = app.appContext.config.globalProperties.$api
    const { width, isMobile } = useBreakpoints()

    onBeforeMount(async () => {})

    return {
      width,
      isMobile,
      status: computed(() => store.getters.status),
      totalBlocks: computed(() => store.getters.status.map((b) => b.block_level).reduce((pv, cv, idx) => pv + cv, 0)),
      totalTransactions: computed(() => store.getters.status.map((b) => b.transaction_count).reduce((pv, cv, idx) => pv + cv, 0)),
    }
  },
}
</script>
<style lang="scss" scoped>
.box-header {
  background: #010131;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.box-outer {
  width: 378px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 6px;
}
.box {
  // width: 165px;
  height: 113px;
  // background-color: yellow;
  // margin-bottom: 12px;
}
.box > div:first-child {
  background-color: #fafafc;
}
.box .column > div:nth-child(1) {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #a3a3ff;
}

.box .column > div:nth-child(2) {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #303864;
}
.box .column > div:nth-child(3) {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #0812c0;
}
</style>
