<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin full-width">
      <q-card-section>
        <pre>{{ JSON.stringify(json, null, 2) }}</pre>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { useDialogPluginComponent } from 'quasar'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'

export default {
  props: {
    json: { type: Object, required: true },
  },
  emits: [...useDialogPluginComponent.emits],
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()
    const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()

    return {
      dialogRef,
      onDialogHide,

      onClose: () => {
        onDialogCancel()
      },
    }
  },
}
</script>
