<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section>
        <div class="text-h6"><template v-if="innvocationEnum === 0">Stake</template><template v-else>Unstake</template> MPC Tokens</div>
        <q-separator class="q-my-md" inset />
        <q-form @submit="onSubmit">
          <q-input filled v-model="frmAmount" label="Amount MPC" lazy-rules :rules="[(val) => (val && val.length > 0) || 'Please type something']" />
          <q-separator class="q-my-lg" />
          <div class="row full-width">
            <q-btn class="col q-mr-sm" icon="close" flat label="Cancel" color="secondary" @click="onClose" />
            <q-btn class="col q-ml-sm" :disable="isRequesting" :loading="isRequesting" icon="las la-link" label="Submit" type="submit" color="btn-color" />
          </div>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { useDialogPluginComponent } from 'quasar'
import { ref, getCurrentInstance } from 'vue'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import { Big } from 'big.js'
import { partisiaCrypto } from 'partisia-crypto'
import { rpcAccount } from 'src/boot/preload'
import PartisiaSdk from 'partisia-sdk'

export default {
  props: {
    shard_id: { type: Number, required: true },
    innvocationEnum: { type: Number, required: true },
  },
  emits: [...useDialogPluginComponent.emits],
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()
    const app = getCurrentInstance()
    const api = app.appContext.config.globalProperties.$api
    const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()
    const isRequesting = ref(false)
    const frmAmount = ref('')

    return {
      dialogRef,
      frmAmount,
      onDialogHide,
      isRequesting,

      onClose: () => {
        onDialogCancel()
      },
      onSubmit: async () => {
        try {
          // verify the input
          let amount
          try {
            console.log('frmAmount.value', frmAmount.value)
            amount = new Big(frmAmount.value).times(10000).toFixed(0)
          } catch (error) {
            throw new Error('Invalid MPC Token amount')
          }

          // Connect if not already
          if (!store.getters.sdkClient) {
            const sdk = new PartisiaSdk()
            await sdk.connect({
              chainId: process.env.CHAIN_ID,
              permissions: ['sign'],
              dappName: process.env.DAPP_NAME,
            })
            await store.dispatch('sdkConnect', { connection: sdk.connection, seed: sdk.seed })
          }

          isRequesting.value = true
          // finally submit the transaction
          // Build the transaction
          const frmParams = {
            invocationByte: props.innvocationEnum,
            amount,
          }
          const abi = partisiaCrypto.abi_system.Payload_StakeTokens
          const bufPayload = partisiaCrypto.structs.serializeToBuffer(frmParams, ...abi)
          // console.log('bufPayload', bufPayload)

          const account = JSON.parse(JSON.stringify(store.getters.sdkClient.connection.account))
          const nonce = await rpcAccount.getNonce(account.address, props.shard_id)
          const shardUrl = rpcAccount.getShardUrl(props.shard_id)
          console.log('nonce', nonce)
          console.log('shardUrl', shardUrl)

          // build the bytes
          const serialized = partisiaCrypto.transaction.serializedTransaction(
            { cost: 6000, nonce, validTo: Date.now() + 5 * 60 * 1000 }, // 5 minutes
            { contract: '01a4082d9d560749ecd0ffa1dcaaaee2c2cb25d881' },
            bufPayload
          )
          console.log('serialized', serialized)
          const sdk = new PartisiaSdk({ seed: store.getters.sdkClient.seed, connection: store.getters.sdkClient.connection })
          const res = await sdk.signMessage({
            payload: serialized.toString('hex'),
            payloadType: 'hex',
            dontBroadcast: false,
          })
          console.log('res', JSON.stringify(res, null, 2))
          onDialogOK()
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isRequesting.value = false
        }
      },
    }
  },
}
</script>
