<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin box-bg">
      <q-card-section v-if="['stake_success', 'reclaim_success'].includes(dashboardType)">
        <div class="q-pa-lg">
          <q-img src="~assets/success_check.png" :no-spinner="true" width="64px" height="64px" />
          <div class="title q-my-md">Congratulations!</div>
          <div class="q-my-xs">
            <template v-if="dashboardType === 'stake_success'">
              You have successfully sent
              <q-img src="~assets/logo_partisia_community.png" :no-spinner="true" width="16px" height="16px" style="margin-top: -2px" />
              &nbsp;<b>{{ txtAmount }}</b> to the Node. This amount will remain as Pending until the Node accepts it.
            </template>
            <template v-else-if="dashboardType === 'reclaimed'">
              You have successfully moved {{ dashboardType === 'stake_success' ? 'staked' : 'reclaimed' }} from Staked to Reclaimed. This amount will be locked
              for 7 days at which point you can 'Unstake Withdraw' the amount
            </template>
          </div>
          <div class="row no-wrap q-gutter-x-xs">
            <div style="white-space: nowrap">Transaction hash</div>
            <div class="ellipsis">
              <router-link target="_blank" :to="`/transaction/${trxHash}`">
                <b>{{ trxHash }}</b>
              </router-link>
            </div>
          </div>
          <div class="row full-width q-mt-md">
            <q-btn @click="onDialogOK" no-caps class="full-width btn-action btn-action-green" label="Return to dashboard" text-color="white" />
          </div>
        </div>
      </q-card-section>
      <q-card-section v-else-if="['stake_error', 'reclaim_error'].includes(dashboardType)">
        <div class="q-pa-lg">
          <q-img src="~assets/error_x.png" :no-spinner="true" width="64px" height="64px" />
          <div class="title q-my-md">Your transaction has been rejected</div>
          <div class="q-my-xs">
            {{ trxError }}
          </div>
          <div class="row no-wrap q-gutter-x-xs">
            <div style="white-space: nowrap">Transaction hash</div>
            <div class="ellipsis">
              <router-link target="_blank" :to="`/transaction/${trxHash}`">
                <b>{{ trxHash }}</b>
              </router-link>
            </div>
          </div>
          <div class="row full-width q-mt-md">
            <q-btn @click="onDialogOK" no-caps class="full-width btn-action btn-action-green" label="Return to dashboard" text-color="white" />
          </div>
        </div>
      </q-card-section>
      <q-card-section v-else-if="dashboardType === 'stake'">
        <q-form @submit="onStake">
          <div class="title q-pb-md">Stake</div>

          <q-field outlined label="Node Address" stack-label>
            <template v-slot:control>
              <div class="self-center full-width no-outline">{{ nodeAddress }}</div>
            </template>
          </q-field>

          <div class="q-mt-lg">
            <div>MPC Staked into Node</div>
            <q-linear-progress rounded size="35px" :value="Number(acceptedStake) / 50000000000" color="grey-13" track-color="grey-5">
              <div class="absolute-full flex flex-center">
                <q-badge color="transparent" text-color="black" style="font-weight: bold">
                  <q-img src="~assets/logo_partisia_community.png" :no-spinner="true" width="14px" height="14px" />
                  &nbsp;
                  <span>{{ convertDec(acceptedStake, { decimals: 4 }) }} / {{ convertDec(5000000) }}</span>
                </q-badge>
              </div>
            </q-linear-progress>
          </div>

          <div class="q-mt-lg">
            <q-input
              outlined
              hint="Specify the amount you want to stake"
              v-model="txtAmount"
              mask="#.####"
              fill-mask="0"
              reverse-fill-mask
              lazy-rules
              :rules="[isValidAmount]"
            >
              <template v-slot:append>
                <q-badge class="q-pa-sm cursor-pointer" align="middle" color="black" text-color="cyan" @click="onMax">MAX</q-badge>
              </template>
            </q-input>
          </div>

          <div class="row no-wrap q-gutter-x-xs q-px-lg q-mt-md">
            <div style="white-space: nowrap">You are staking</div>
            <div style="white-space: nowrap">
              <b>{{ txtAmount }}</b>
            </div>
            <div style="white-space: nowrap">to the node</div>
            <div class="ellipsis">
              <b>{{ nodeAddress }}</b>
            </div>
          </div>

          <div class="row full-width q-mt-md">
            <q-btn type="submit" :loading="isRequesting" no-caps class="full-width btn-action btn-action-green" label="Confirm" text-color="white" />
          </div>
          <!-- <q-inner-loading :showing="isRequesting">
            <q-spinner-gears size="50px" color="grey-14" />
          </q-inner-loading> -->
        </q-form>
        <!-- 
        <q-input label="Address From" v-model="txtAddressAccept" />
        <div class="q-gutter-md">
          <q-btn @click="onStake" label="Stake" />
          <q-btn @click="onReclaim" label="Reclaim" />
          <q-btn @click="onReduce" label="Reduce" />
          <q-btn @click="onUnstake" label="Unstake" />
          <q-btn @click="onAccept" label="Accept" />
        </div> -->
      </q-card-section>
      <q-card-section v-else-if="dashboardType === 'reclaim'">
        <q-form @submit="onReclaim">
          <div class="title q-pb-md">Reclaim</div>

          <div class="row full-with">
            <div class="col-6 box-field q-px-sm">
              <q-field borderless label-color="grey-14" label="Node Address" stack-label>
                <template v-slot:control>
                  <div class="self-center full-width no-outline ellipsis">{{ nodeAddress }}</div>
                </template>
              </q-field>
            </div>
            <div class="col-6 box-field q-px-sm">
              <q-field borderless label-color="grey-14" label="Your Stake" stack-label>
                <template v-slot:prepend>
                  <q-img src="~assets/logo_partisia_community.png" :no-spinner="true" width="26px" height="26px" />
                </template>
                <template v-slot:control>
                  <div class="self-center full-width no-outline">{{ yourStake }}</div>
                </template>
              </q-field>
            </div>
          </div>

          <div class="q-mt-lg">
            <q-input
              outlined
              hint="Specify the amount you want to reclaim"
              v-model="txtAmount"
              mask="#.####"
              fill-mask="0"
              reverse-fill-mask
              lazy-rules
              :rules="[isValidReclaim]"
            >
              <template v-slot:append>
                <q-badge class="q-pa-sm cursor-pointer" align="middle" color="black" text-color="cyan" @click="onMaxReclaim">MAX</q-badge>
              </template>
            </q-input>
          </div>

          <div class="row no-wrap q-gutter-x-xs q-px-lg q-mt-md">
            <div style="white-space: nowrap">You are reclaiming</div>
            <div style="white-space: nowrap">
              <b>{{ txtAmount }}</b>
            </div>
            <div style="white-space: nowrap">from the node</div>
            <div class="ellipsis">
              <b>{{ nodeAddress }}</b>
            </div>
          </div>

          <div class="row full-width q-mt-md">
            <q-btn type="submit" :loading="isRequesting" no-caps class="full-width btn-action btn-action-green" label="Confirm" text-color="white" />
          </div>
        </q-form>
      </q-card-section>
      <q-card-section v-else-if="dashboardType === 'reclaim_withdraw'">
        <q-form @submit="onUnstake">
          <div class="title q-pb-md">Unstake Withdraw</div>

          <div v-if="yourReclaims.length === 0">You do not have any reclaims pending</div>
          <q-list v-else bordered separator>
            <q-item v-for="(reclaim, idx) in yourReclaims" :key="idx">
              <q-item-section>
                <q-item-label>{{ convertDec(reclaim.amount, { decimals: 4, removeTrailingZeros: false }) }} MPC</q-item-label>
                <q-item-label caption lines="2">
                  Available:
                  <br />
                  {{ new Date(reclaim.time_stamp).toISOString() }}
                </q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-badge rounded :color="now > reclaim.time_stamp ? 'green' : 'red'" />
              </q-item-section>
            </q-item>
          </q-list>
          <div class="row no-wrap q-gutter-x-xs q-mt-md">
            <div style="white-space: nowrap">You will reclaim</div>
            <div style="white-space: nowrap">
              <b>{{ convertDec(txtReclaimAmount, { decimals: 4, removeTrailingZeros: false }) }}</b> MPC
            </div>
          </div>
          <q-btn
            type="submit"
            no-caps
            :disable="Number(txtReclaimAmount) === 0"
            :loading="isRequesting"
            text-color="white"
            class="btn-action btn-action-green full-width q-mt-md"
            label="Reclaim The Unlocked Tokens"
          />
        </q-form>
        <pre v-if="$dev">{{ yourReclaims }}</pre>
      </q-card-section>
      <q-card-section v-else>
        <div class="title q-pb-md">Manage your tokens</div>
        <div class="row full-width q-gutter-md">
          <q-btn @click="dashboardType = 'stake'" no-caps no-wrap color="white" text-color="black" class="btn-box">
            <div class="column flex flex-center">
              <q-img src="~assets/community_icon_stake.png" :no-spinner="true" width="64px" height="64px" />
              <div class="q-pt-md">Stake</div>
            </div>
          </q-btn>
          <q-btn @click="dashboardType = 'reclaim'" no-caps no-wrap color="white" text-color="black" class="btn-box">
            <div class="column flex flex-center">
              <q-img src="~assets/community_icon_reclaim.png" :no-spinner="true" width="64px" height="64px" />
              <div class="q-pt-md">Reclaim</div>
            </div>
          </q-btn>
          <!-- <q-btn @click="onReduce" no-caps no-wrap color="white" text-color="black" class="btn-box">
            <div class="column flex flex-center">
              <q-img src="~assets/community_icon_reduce.png" :no-spinner="true" width="64px" height="64px" />
              <div class="q-pt-md">Node Reduce</div>
            </div>
          </q-btn> -->
          <q-btn @click="dashboardType = 'reclaim_withdraw'" no-caps no-wrap color="white" text-color="black" class="btn-box">
            <div class="column flex flex-center">
              <q-img src="~assets/community_icon_unstake.png" :no-spinner="true" width="64px" height="64px" />
              <div class="q-pt-md">Unstake<br />Withdraw</div>
            </div>
          </q-btn>

          <!-- <div class="">
            <div class="column flex flex-center box">
              <div class="cursor-pointer" @click="onStake">
                <q-img src="~assets/community_icon_stake.png" :no-spinner="true" width="64px" height="64px" />
              </div>
              <div class="q-pt-md">Stake</div>
            </div>
          </div> -->
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { ref, getCurrentInstance, onBeforeMount, computed } from 'vue'
import { useDialogPluginComponent } from 'quasar'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import { Big } from 'big.js'
import { partisiaCrypto } from 'partisia-crypto'
import { convertDec, rpcAccount, sleep } from 'src/boot/preload'
import assert from 'assert'
import PartisiaSdk from 'partisia-sdk'

export default {
  props: {
    address: {
      type: String,
      required: true,
    },
    nodeAddress: {
      type: String,
      required: true,
    },
    acceptedStake: {
      type: String,
      required: true,
    },
    yourStake: {
      type: String,
      required: true,
    },
    yourReclaims: {
      type: Array,
      required: true,
    },
  },
  emits: [...useDialogPluginComponent.emits],
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()
    const app = getCurrentInstance()
    const api = app.appContext.config.globalProperties.$api
    const dashboardType = ref('')
    const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()
    const isRequesting = ref(false)
    const txtAmount = ref('0')
    const txtAddressAccept = ref('')
    const mpc = ref('0')
    const trxHash = ref('')
    const trxError = ref('')
    const now = ref(new Date().getTime())
    const txtReclaimAmount = computed(() => {
      // check if anything is possible to claim
      return props.yourReclaims
        .filter((d) => now.value > d.time_stamp)
        .reduce((pv, cv, idx) => pv.plus(cv.amount), new Big(0))
        .toFixed(0)
    })

    onBeforeMount(async () => {
      const account = await rpcAccount.getAccount(props.address)
      mpc.value = account?.data?.mpcTokens || '0'
    })

    const sdkClient = store.getters.sdkClient
    const sdk = new PartisiaSdk({ seed: sdkClient.seed, connection: sdkClient.connection })

    const sendToWallet = async (invocationByte, abi) => {
      const frmParams = {
        invocationByte,
        address: txtAddressAccept.value || props.address,
        nodeAddress: props.nodeAddress,
        amount: new Big(txtAmount.value).times(1e4).toFixed(0),
      }

      // const bufPayload = partisiaCrypto.structs.serializeToBuffer(frmParams, ...abi)
      // const res = await sdk.signMessage({
      //   contract: '01a4082d9d560749ecd0ffa1dcaaaee2c2cb25d881',
      //   payload: bufPayload.toString('hex'),
      //   payloadType: 'hex_payload',
      //   dontBroadcast: false,
      // })
      const bufPayload = partisiaCrypto.structs.serializeToBuffer(frmParams, ...abi)
      // build the bytes
      const nonce = await rpcAccount.getNonce(store.getters.sdkClient.connection.account.address)
      const serialized = partisiaCrypto.transaction.serializedTransaction(
        { cost: 20000, nonce, validTo: Date.now() + 5 * 60 * 1000 }, // 5 minutes
        { contract: '01a4082d9d560749ecd0ffa1dcaaaee2c2cb25d881' },
        bufPayload
      )

      const res = await sdk.signMessage({
        payload: serialized.toString('hex'),
        payloadType: 'hex',
        dontBroadcast: false,
      })
      console.log(JSON.stringify(res, null, 2))
      trxHash.value = res.trxHash

      // loop until we get indexer result
      while (true) {
        try {
          const { data } = await api.get(`/transaction/${trxHash.value}`)
          if (data.has_error) {
            trxError.value = data.error_message
          }
          break
        } catch (error) {
          console.log('indexer doesnt see trx yet. continue to poll', error.message)
          await sleep(2000)
        }
      }
    }
    return {
      convertDec,
      mpc,
      now,
      dashboardType,
      dialogRef,
      txtAmount,
      trxHash,
      trxError,
      txtReclaimAmount,
      onDialogHide,
      onDialogCancel,
      onDialogOK,
      isRequesting,
      txtAddressAccept,
      onMax: () => {
        const max = Math.min(mpc.value, 50000000000 - props.acceptedStake)
        txtAmount.value = max
      },
      onMaxReclaim: () => {
        txtAmount.value = props.yourStake
      },
      isValidAmount: () => {
        try {
          const amt = new Big(txtAmount.value).times(1e4)
          // const amt = new Big(val)
          assert(amt.gt(0), 'Cannot send 0')
          assert(amt.lte(mpc.value), 'You do not have enough balance')
        } catch (error) {
          return error.message.replace('[big.js] ', '')
        }
      },
      isValidReclaim: () => {
        try {
          const amt = new Big(txtAmount.value).times(1e4)
          // const amt = new Big(val)
          assert(amt.gt(0), 'Cannot reclaim 0')
          assert(amt.lte(new Big(props.yourStake.replace(/,/g, '') || 0).times(1e4).toFixed(0)), 'You do not have enough staked')
        } catch (error) {
          return error.message.replace('[big.js] ', '')
        }
      },
      onClose: () => {
        onDialogCancel()
      },
      onStake: async () => {
        try {
          isRequesting.value = true
          await sendToWallet(24, partisiaCrypto.abi_system.Payload_CommunityStakingStakeAmount)
          dashboardType.value = trxError.value ? 'stake_error' : 'stake_success'
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isRequesting.value = false
        }
      },
      onReclaim: async () => {
        try {
          isRequesting.value = true
          await sendToWallet(25, partisiaCrypto.abi_system.Payload_CommunityStakingReclaimAmount)
          dashboardType.value = trxError.value ? 'reclaim_error' : 'reclaim_success'
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isRequesting.value = false
        }
      },
      onUnstake: async () => {
        try {
          // add a txtAmount value of reclaim
          // assert(ary.length > 0, 'nothing is available yet to reclaim. Come back later')
          isRequesting.value = true
          await sendToWallet(5, partisiaCrypto.abi_system.Payload_PendingUnstake)
          txtAmount.value = convertDec(txtReclaimAmount.value, { decimals: 4 })
          dashboardType.value = trxError.value ? 'reclaim_error' : 'reclaim_success'
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isRequesting.value = false
        }
      },
      // onAccept: async () => {
      //   await sendToWallet(27, partisiaCrypto.abi_system.Payload_CommunityStakingAcceptAmount)
      // },
      // onReduce: async () => {
      //   await sendToWallet(28, partisiaCrypto.abi_system.Payload_CommunityStakingReduceAmount)
      // },
    }
  },
}
</script>
<style lang="scss" scoped>
.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 124%;
  color: #0b073f;
}
.box-bg {
  min-height: 280px;
  width: 515px;
  background: #f3f6fb;
  box-shadow: 0px 32px 64px -32px rgba(11, 7, 63, 0.64);
  border-radius: 16px;
}
.btn-box {
  width: 140px;
  height: 168px;
  border-radius: 8px;
  background: #ffffff;
}
.btn-action-green {
  background: linear-gradient(84.59deg, #4da68b -0.29%, #4ddba8 99.71%);
}
.box-field {
  border: 2px solid #dfe2ec;
}
.box-field:nth-child(1) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.box-field:nth-child(2) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
</style>
