<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <q-card class="q-dialog-plugin box-bg">
      <q-card-section v-if="trxHash.length > 0">
        <div class="q-pa-lg">
          <q-img src="~assets/success_check.png" :no-spinner="true" width="64px" height="64px" />
          <div class="title q-my-md">Congratulations!</div>
          <div class="q-my-xs">
            You have successfully {{ stakeSelected.type }}
            <q-img src="~assets/logo_partisia_community.png" :no-spinner="true" width="16px" height="16px" style="margin-top: -2px" />
            &nbsp;<b>{{ txtAmount }}</b>
          </div>
          <div class="row no-wrap q-gutter-x-xs">
            <div style="white-space: nowrap">Transaction hash</div>
            <div class="ellipsis">
              <router-link target="_blank" :to="`/transaction/${trxHash}`">
                <b>{{ trxHash }}</b>
              </router-link>
            </div>
          </div>
          <div class="row full-width q-mt-md">
            <q-btn @click="onDialogOK" no-caps class="full-width btn-action btn-action-green" label="Return to dashboard" text-color="white" />
          </div>
        </div>
      </q-card-section>
      <q-card-section class="q-pt-lg" v-else-if="!isDashboard">
        <q-form @submit="onAction">
          <div class="title q-pb-md">{{ stakeSelected.type }}</div>

          <div class="box-field q-px-sm">
            <q-field borderless label-color="grey-14" label="User Address" stack-label>
              <template v-slot:control>
                <div class="self-center full-width no-outline">{{ stakeSelected.stake.address_to }}</div>
              </template>
            </q-field>
          </div>

          <div class="q-mt-lg">
            <q-input
              outlined
              :hint="`Specify the amount you want to ${stakeSelected.type}`"
              v-model="txtAmount"
              mask="#.####"
              fill-mask="0"
              reverse-fill-mask
              lazy-rules
              :rules="[isValidAmount]"
            >
              <template v-slot:append>
                <q-badge class="q-pa-sm cursor-pointer" align="middle" color="black" text-color="cyan" @click="onMax">MAX</q-badge>
              </template>
            </q-input>
          </div>

          <div class="row no-wrap q-gutter-x-xs q-px-lg q-mt-md">
            <div style="white-space: nowrap">You will {{ stakeSelected.type }}</div>
            <div style="white-space: nowrap">
              <b>{{ txtAmount }}</b>
            </div>
            <div style="white-space: nowrap">from the node</div>
            <div class="ellipsis">
              <b>{{ stakeSelected.stake.address_to }}</b>
            </div>
          </div>

          <div class="row full-width q-mt-md">
            <q-btn type="submit" :loading="isRequesting" no-caps class="full-width btn-action btn-action-green" label="Confirm" text-color="white" />
          </div>
        </q-form>
        <pre v-if="$dev">{{ stakeSelected }}</pre>
      </q-card-section>
      <template v-else>
        <q-tabs v-model="tabStakeType" no-caps inline-label class="shadow-2" active-color="primary" indicator-color="black" align="justify">
          <q-tab class="text-black" name="accepted" label="Active Stakes" />
          <q-tab class="text-black" name="pending" label="Staking Requests" />
        </q-tabs>
        <q-separator />

        <q-tab-panels v-model="tabStakeType" animated style="min-height: 250px">
          <q-tab-panel name="accepted">
            <div class="title q-pb-md">Active Stakes</div>
            <div v-if="stakesActive.length === 0">You do not have any Active Stakes</div>
            <q-list v-else bordered separator>
              <q-item v-for="stakes in stakesActive" :key="stakes.idx">
                <q-item-section>
                  <q-item-label>{{ convertDec(stakes.accepted_delegated_stakes, { decimals: 4, removeTrailingZeros: false }) }} MPC</q-item-label>
                  <q-item-label caption lines="1">{{ stakes.address_to }}</q-item-label>
                </q-item-section>

                <q-item-section side>
                  <q-btn @click="onReject(stakes.idx)" size="sm" no-caps text-color="white" class="btn-action btn-action-green" label="Release" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-tab-panel>

          <q-tab-panel name="pending">
            <div class="title q-pb-md">Staking Requests</div>
            <div v-if="stakesPending.length === 0">You do not have any Staking Requests</div>
            <q-list v-else bordered separator>
              <q-item v-for="stakes in stakesPending" :key="stakes.idx">
                <q-item-section>
                  <q-item-label>{{ convertDec(stakes.pending_delegated_stakes, { decimals: 4, removeTrailingZeros: false }) }} MPC</q-item-label>
                  <q-item-label caption lines="1">{{ stakes.address_to }}</q-item-label>
                </q-item-section>

                <q-item-section side>
                  <q-btn @click="onAccept(stakes.idx)" size="sm" no-caps text-color="white" class="btn-action btn-action-green" label="Accept" />
                </q-item-section>
              </q-item>
            </q-list>
          </q-tab-panel>
        </q-tab-panels>
      </template>
      <pre v-if="$dev">{{ delegatedStakesFromOthers }}</pre>
    </q-card>
  </q-dialog>
</template>

<script>
import { ref, getCurrentInstance, computed } from 'vue'
import { useDialogPluginComponent } from 'quasar'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import assert from 'assert'
import { convertDec, rpcAccount, sleep } from 'src/boot/preload'
import { partisiaCrypto } from 'app/../partisia-libs/partisia-crypto/lib'
import Big from 'big.js'
import PartisiaSdk from 'partisia-sdk'

export default {
  props: {
    tabType: {
      type: String,
      default: 'accepted',
    },
    delegatedStakesFromOthers: {
      type: Array,
      required: true,
    },
  },
  emits: [...useDialogPluginComponent.emits],
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()
    const app = getCurrentInstance()
    const api = app.appContext.config.globalProperties.$api
    const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()

    const tabStakeType = ref(props.tabType)
    const loginEmail = ref('')
    const loginPassword = ref('')

    const registerEmail = ref('')
    const registerPassword = ref('')
    const registerPasswordRepeat = ref('')
    const registerReferralCode = ref('')
    const isRequesting = ref(false)
    const isDashboard = ref(true)
    const stakeSelected = ref({})
    const txtAmount = ref('0')
    const trxHash = ref('')

    const sdkClient = store.getters.sdkClient
    const sdk = new PartisiaSdk({ seed: sdkClient.seed, connection: sdkClient.connection })

    return {
      trxHash,
      txtAmount,
      stakeSelected,
      isDashboard,
      tabStakeType,
      loginEmail,
      loginPassword,
      dialogRef,
      convertDec,
      onDialogOK,
      onDialogHide,
      registerEmail,
      registerPassword,
      registerPasswordRepeat,
      registerReferralCode,
      isRequesting,
      stakesActive: computed(() => props.delegatedStakesFromOthers.filter((d) => d.accepted_delegated_stakes !== '0')),
      stakesPending: computed(() => props.delegatedStakesFromOthers.filter((d) => d.pending_delegated_stakes !== '0')),
      onClose: () => {
        onDialogCancel()
      },
      onMax: () => {
        txtAmount.value = stakeSelected.value.maxAmount
      },
      onAction: async () => {
        try {
          isRequesting.value = true
          const frmParams = {
            invocationByte: stakeSelected.value.type === 'accept' ? 27 : 28,
            address: stakeSelected.value.stake.address_to,
            amount: new Big(txtAmount.value).times(1e4).toFixed(0),
          }
          const abi =
            stakeSelected.value.type === 'accept'
              ? partisiaCrypto.abi_system.Payload_CommunityStakingAcceptAmount
              : partisiaCrypto.abi_system.Payload_CommunityStakingReduceAmount

          // const bufPayload = partisiaCrypto.structs.serializeToBuffer(frmParams, ...abi)
          // const res = await sdk.signMessage({
          //   contract: '01a4082d9d560749ecd0ffa1dcaaaee2c2cb25d881',
          //   payload: bufPayload.toString('hex'),
          //   payloadType: 'hex_payload',
          //   dontBroadcast: false,
          // })
          const bufPayload = partisiaCrypto.structs.serializeToBuffer(frmParams, ...abi)
          // build the bytes
          const nonce = await rpcAccount.getNonce(store.getters.sdkClient.connection.account.address)
          const serialized = partisiaCrypto.transaction.serializedTransaction(
            { cost: 20000, nonce, validTo: Date.now() + 5 * 60 * 1000 }, // 5 minutes
            { contract: '01a4082d9d560749ecd0ffa1dcaaaee2c2cb25d881' },
            bufPayload
          )

          const res = await sdk.signMessage({
            payload: serialized.toString('hex'),
            payloadType: 'hex',
            dontBroadcast: false,
          })
          console.log(JSON.stringify(res, null, 2))

          // loop until we get indexer result
          let resData
          while (true) {
            try {
              const { data } = await api.get(`/transaction/${res.trxHash}`)
              resData = data
              break
            } catch (error) {
              console.log('indexer doesnt see trx yet. continue to poll', error.message)
              await sleep(2000)
            }
          }
          console.log(JSON.stringify(resData, null, 2))
          assert(!resData.has_error, resData.error_message)
          trxHash.value = res.trxHash
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message, timeout: 0, textColor: 'white', actions: [{ icon: 'close', color: 'white' }] })
        } finally {
          isRequesting.value = false
        }
      },
      isValidAmount: () => {
        try {
          const amt = new Big(txtAmount.value).times(1e4)
          assert(amt.gt(0), 'Cannot send 0')
          assert(amt.lte(stakeSelected.value.maxAmount), 'Exceeds Max')
        } catch (error) {
          return error.message.replace('[big.js] ', '')
        }
      },
      onReject: (idx) => {
        const maxAmount = props.delegatedStakesFromOthers[idx].accepted_delegated_stakes
        stakeSelected.value = {
          type: 'release',
          stake: props.delegatedStakesFromOthers[idx],
          maxAmount,
        }
        isDashboard.value = false
      },
      onAccept: (idx) => {
        const maxAmount = props.delegatedStakesFromOthers[idx].pending_delegated_stakes
        stakeSelected.value = {
          type: 'accept',
          stake: props.delegatedStakesFromOthers[idx],
          maxAmount,
        }
        isDashboard.value = false
      },
    }
  },
}
</script>
<style lang="scss" scoped>
.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 124%;
  color: #0b073f;
  text-transform: capitalize;
}
.box-bg {
  min-height: 280px;
  width: 515px;
  background: #f3f6fb;
  box-shadow: 0px 32px 64px -32px rgba(11, 7, 63, 0.64);
  border-radius: 16px;
}
.btn-action-green {
  background: linear-gradient(84.59deg, #4da68b -0.29%, #4ddba8 99.71%);
}
.box-field {
  border: 2px solid #dfe2ec;
}
.box-field:nth-child(1) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.box-field:nth-child(2) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
</style>
