<template>
  <q-btn :loading="isDownloading" :disable="isDownloading" color="btn-color" icon-right="archive" label="Export to CSV" no-caps @click="onDownloadCsv(csv)" />
</template>

<script>
import { ref } from 'vue'
import { useQuasar } from 'quasar'
import { api, mapTrxData, mapTrxDataErc20, mapTrxDataErc721, reMapByoc } from 'src/boot/preload'
import { exportData } from 'src/boot/exportCSV'

export default {
  props: {
    csv: {
      type: Object,
      default: new Object(),
    },
  },
  setup() {
    const $q = useQuasar()
    const isDownloading = ref(false)

    return {
      isDownloading,
      onDownloadCsv: async (csv) => {
        try {
          isDownloading.value = true
          const limit = Number(process.env.QUERY_LIMIT)
          const { params } = csv
          const qs = { n: limit, skip_payload: true, id: null }
          let rows = []
          switch (csv.exportType) {
            case 'trx':
              while (true) {
                const { data } = await api.get(
                  `/transactions/${params.isAddress ? 'address' : 'contract'}/${params.address}?${new URLSearchParams(qs).toString()}`
                )
                rows = rows.concat(mapTrxData(data))
                if (data.length < limit) break
                qs.id = data[data.length - 1]?.id
              }

              break
            case 'erc20':
              while (true) {
                const { data } = await api.get(`/transactions/address/tokens/${params.address}/${params.address_contract}/1?${new URLSearchParams(qs).toString()}`)
                rows = rows.concat(mapTrxDataErc20(data, params.abi, params.decimals))
                if (data.length < limit) break
                qs.id = data[data.length - 1]?.id
              }

              break
            case 'erc721':
              while (true) {
                const { data } = await api.get(`/transactions/address/tokens/${params.address}/${params.address_contract}/2?${new URLSearchParams(qs).toString()}`)
                rows = rows.concat(mapTrxDataErc721(data, params.abi, params.decimals))
                if (data.length < limit) break
                qs.id = data[data.length - 1]?.id
              }

              break
            case 'byoc':
              while (true) {
                const { data } = await api.get(`/byoc/address/${params.address}?${new URLSearchParams(qs).toString()}`)
                rows = rows.concat(reMapByoc(data))
                // rows = rows.concat(data)
                if (data.length < limit) break
                qs.id = data[data.length - 1]?.id
              }

              break

            // This is undefined exportType so just return
            default:
              return
          }

          // build the csv file
          const replacer = (key, value) => (value === null ? '' : value) // specify how you want to handle null values here
          const header = Object.keys(rows[0]).filter((r) => r !== 'inner')
          const content = [
            header.join(','), // header row first
            ...rows.map((row) => header.map((fieldName) => JSON.stringify(row[fieldName], replacer)).join(',')),
          ]

          // more logic if it is byoc
          // create another table with only the inner data
          if (csv.exportType === 'byoc') {
            for (const row of rows) {
              content.push([])
              const headerByoc = Object.keys(row.inner[0])
              content.push(headerByoc.join(','))
              for (const r of row.inner) {
                console.log(r)
                content.push([headerByoc.map((fieldName) => JSON.stringify(r[fieldName], replacer)).join(',')])
              }
            }
          }

          const status = exportData(content.join('\r\n'), csv.name)
          if (status !== true) {
            $q.notify({
              message: 'Browser Denied File Download',
              color: 'negative',
              icon: 'warning',
            })
          }
        } catch (error) {
          $q.notify({
            message: error.message,
            color: 'negative',
            icon: 'warning',
          })
        } finally {
          isDownloading.value = false
        }
      },
    }
  },
}
</script>
