<template>
  <q-card class="my-card bg-accent text-white" square>
    <q-card-section>
      <div class="text-h6">{{ title || 'Error Occured' }}</div>
      <div class="text-subtitle2">{{ message }}</div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: false,
    },
    message: {
      type: String,
      required: true,
    },
  },
  setup() {
    return {}
  },
}
</script>
