<template>
  <div class="fullscreen bg-blue text-white text-center q-pa-md flex flex-center">
    <div>
      <!-- <div style="font-size: 3vh">Error Loading</div>
      <div class="text-h4" style="opacity: 0.4">{{ message }}</div> -->
      <div style="font-size: 3vh">Planed Maintenance</div>
      <div class="text-h4" style="opacity: 0.4">Please come back in 5-10 minutes. Thank you</div>
      <!-- <q-btn @click="window.location.reload(true)" class="q-mt-xl" color="white" text-color="blue" unelevated to="/" label="Click Here to Refresh" no-caps /> -->
    </div>
  </div>
</template>

<script>
export default {
  props: {
    message: {
      type: String,
      required: true,
    },
  },
}
</script>
