<template>
  <q-form @submit="onSubmit" class="q-gutter-y-md">
    <div class="text-subtitle2" style="text-transform: uppercase">{{ fnAbi.name }}</div>
    <form-interact-root :abi="abi" :fn="fnAbi" v-model="aryArguments" />

    <q-btn v-if="!sdkClient" outline color="btn-color" label="Connect Wallet" @click="onConnectSdk" />
    <q-btn v-else :loading="isBroadcasting" type="submit" color="btn-color" label="Transact" />
    <pre v-if="result" class="q-mt-lg">{{ JSON.stringify(result, null, 2) }}</pre>
  </q-form>
</template>

<script>
import { ref, computed } from 'vue'
import { useStore } from 'vuex'
import { useQuasar } from 'quasar'
import assert from 'assert'
import { partisiaCrypto } from 'partisia-crypto'
import PartisiaSdk from 'partisia-sdk'
import { RpcReader } from '@partisiablockchain/abi-client-ts'
import serializePublicContract from 'src/boot/serializePublicContract'
import FormInteractRoot from './FormInteractRoot.vue'
import { rpcAccount } from 'src/boot/preload'

export default {
  components: {
    FormInteractRoot,
  },
  props: {
    actionName: {
      type: String,
      required: true,
    },
    abi: {
      type: Object,
      required: true,
    },
    addressContract: {
      type: String,
      required: true,
    },
    gasFee: {
      type: String,
      default: '',
    },
  },
  setup(props, context) {
    const $q = useQuasar()
    const store = useStore()

    const result = ref(null)
    const fnAbi = ref(props.abi.contract.getFunctionByName(props.actionName))
    if (process.env.DEV) console.log('fnAbi', JSON.stringify(fnAbi.value, null, 2))

    const isBroadcasting = ref(false)
    const aryArguments = ref([])
    return {
      aryArguments,
      isBroadcasting,
      fnAbi,
      result,
      sdkClient: computed(() => store.getters.sdkClient),
      async onConnectSdk() {
        const sdk = new PartisiaSdk()
        await sdk.connect({
          chainId: process.env.CHAIN_ID,
          permissions: ['sign'],
          dappName: process.env.DAPP_NAME,
        })
        await store.dispatch('sdkConnect', { connection: sdk.connection, seed: sdk.seed })
      },
      onSubmit: async () => {
        try {
          isBroadcasting.value = true

          // build the payload data
          if (process.env.DEV) console.log('aryArguments', JSON.stringify(aryArguments.value, null, 2))
          const bufPayload = serializePublicContract(fnAbi.value, props.abi.contract, aryArguments.value)
          if (process.env.DEV) console.log('bufPayload', bufPayload.toString('hex'))

          // sign and broadcast with wallet
          const sdk = new PartisiaSdk({ seed: store.getters.sdkClient.seed, connection: store.getters.sdkClient.connection })

          let res
          if (props.gasFee.length > 0) {
            const nonce = await rpcAccount.getNonce(store.getters.sdkClient.connection.account.address)
            const serialized = partisiaCrypto.transaction.serializedTransaction(
              { cost: props.gasFee, nonce, validTo: Date.now() + 5 * 60 * 1000 }, // 5 minutes
              { contract: props.addressContract },
              bufPayload
            )

            res = await sdk.signMessage({
              payload: serialized.toString('hex'),
              payloadType: 'hex',
              dontBroadcast: false,
            })
          } else {
            res = await sdk.signMessage({
              contract: props.addressContract,
              payload: bufPayload.toString('hex'),
              payloadType: 'hex_payload',
              dontBroadcast: false,
            })
          }

          console.log('res', JSON.stringify(res, null, 2))
          $q.notify({ type: 'positive', message: 'successfully sent transaction' })

          result.value = res
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isBroadcasting.value = false
        }
      },
    }
  },
}
</script>
