<template>
  <!-- DISABLED for OPTIONAL parent -->
  <template v-bind:style="{ display: disable ? 'none' : 'block' }">
    <!-- TYPE PRIMITIVE -->
    <template v-if="isPrimitive">
      <div v-if="$dev" class="text-subtitle2">fieldPrimitive: {{ fieldPrimitive }}</div>
      <form-interact-primitive :check-rules="!disable" v-model="fieldPrimitive" :name="field.name" :typeIndex="field.type.typeIndex" />
    </template>

    <!-- TYPE STRUCT -->
    <template v-else-if="field.type.typeIndex === TypeIndex.Named">
      <div v-if="$dev" class="text-subtitle2">Struct Beg</div>
      <!-- <pre v-if="$dev">field: {{ field }}</pre> -->
      <!-- <pre v-if="$dev">struct: {{ struct }}</pre> -->
      <pre v-if="$dev">{{ struct.name }} args: {{ aryArgumentsStruct }}</pre>
      <q-card flat bordered class="my-card bg-grey-1">
        <q-card-section>
          <div class="text-h6">{{ field.name }}</div>
          <div class="text-subtitle2">{{ struct.name }} (struct)</div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <template v-for="(fieldStruct, idx) in struct.fields" :key="idx">
            <!-- <pre v-if="$dev">{{ fieldStruct.name }} arg: {{ aryArgumentsStruct[idx] }}</pre> -->
            <form-interact-inputs :disable="disable" :field="fieldStruct" v-model="aryArgumentsStruct[idx]" :abi="abi" />
          </template>
        </q-card-section>
      </q-card>
      <div v-if="$dev" class="text-subtitle2">Struct End</div>
    </template>

    <!-- TYPE OPTIONAL -->
    <template v-else-if="field.type.typeIndex === TypeIndex.Option">
      <q-card flat bordered class="my-card bg-grey-1">
        <q-card-section>
          <q-toggle v-model="fieldOptionalEnable" :label="`${field.name} (optional)`" />
        </q-card-section>
        <q-separator />
        <q-card-section>
          <form-interact-inputs
            :field="{ name: field.name, type: field.type.valueType }"
            v-model="fieldOptionalValue"
            :abi="abi"
            :disable="!fieldOptionalEnable"
          />
        </q-card-section>
      </q-card>
    </template>

    <!-- TYPE VEC -->
    <template v-else-if="field.type.typeIndex === TypeIndex.Vec">
      <div class="q-ml-md q-py-md">
        <q-list bordered>
          <q-item-label header>{{ field.name }} (vector)</q-item-label>

          <q-separator spaced />
          <q-item v-if="fieldVec.length === 0">
            <q-item-label caption lines="1">Click below to add items into vector</q-item-label>
          </q-item>

          <!-- <pre>{{ JSON.stringify(fieldVec) }}</pre> -->
          <!-- <q-item :clickable="false" v-for="idx in fieldVec.length" :key="idx"> -->
          <q-item :clickable="false" v-for="(vec, idx) in fieldVec" :key="idx">
            <div class="row items-center no-wrap full-width">
              <div class="col">
                <form-interact-inputs :disable="disable" :field="{ name: field.name, type: field.type.valueType }" v-model="fieldVec[idx]" :abi="abi" />
              </div>

              <!-- <div class="col-auto">
                <q-btn color="grey-7" round flat icon="close" @click="onVecRemove(idx)" style="margin-top: -18px" />
              </div> -->
            </div>
          </q-item>
        </q-list>
        <q-btn color="grey-7" outline no-caps icon="add" label="add new item" @click="onVecAdd" />
        <q-btn color="grey-7" outline no-caps icon="close" label="remove last item" @click="onVecRemove(fieldVec.length - 1)" />
      </div>
    </template>
    <template v-else> NOT IMPLEMENTED: {{ field.type }}</template>
  </template>
</template>

<script>
import { ref, getCurrentInstance, nextTick, computed, watch } from 'vue'
import assert from 'assert'
import { RpcReader, TypeIndex } from '@partisiablockchain/abi-client-ts'
import { isPrimitiveType } from 'src/boot/serializePublicContract'
import { partisiaCrypto } from 'partisia-crypto'
import FormInteractPrimitive from './FormInteractPrimitive.vue'

export default {
  components: {
    FormInteractPrimitive,
  },
  emits: ['update:modelValue'],
  props: {
    modelValue: Object,
    field: {
      type: Object,
      required: true,
    },
    abi: {
      type: Object,
      required: true,
    },
    disable: {
      type: Boolean,
      default: false,
    },
    forceFromParent: {
      type: Number,
      default: 0,
    },
  },
  watch: {
    // fieldStruct: function (val) {
    //   const valObj = { val, typeIndex: this.field.type.typeIndex }
    //   alert('struct update')
    //   this.$emit('update:modelValue', valObj)
    // },
    // fieldPrimitive: function (val) {
    //   const valObj = { val: this.field.type.typeIndex === TypeIndex.bool ? JSON.parse(val) : val, typeIndex: this.field.type.typeIndex }
    //   this.$emit('update:modelValue', valObj)
    //   // if (this.field.type.typeIndex === TypeIndex.Named) {
    //   //   alert(JSON.stringify(val))
    //   //   this.aryArgumentsStruct.values[0] = val
    //   // } else {
    //   //   // https://stackoverflow.com/questions/66634859/vue3-v-model-objects-are-not-reactive
    //   //   this.$emit('update:fieldPrimitive', val)
    //   // }
    //   // update this parent form from child value
    //   // console.log('aryArgumentsStruct', this.aryArgumentsStruct)
    // },
  },
  setup(props, context) {
    const app = getCurrentInstance()
    const getTypeInner = (type) => {
      // if it has a valueType for things like Vec
      return type.valueType.typeIndex
    }
    const getStruct = (idx) => {
      const aryStructs = props.abi.contract.namedTypes
      return aryStructs[idx]
    }

    // If the input is a Vec type
    const fieldPrimitive = ref(null)
    const fieldVec = ref([])
    const fieldOptionalEnable = ref(false)
    const fieldOptionalValue = ref(null)
    const struct = computed(() => (props.field.type.typeIndex === TypeIndex.Named ? getStruct(props.field.type.index) : null))
    const isPrimitive = computed(() => isPrimitiveType(props.field.type.typeIndex))

    const aryArgumentsStruct = ref(props.field.type.typeIndex === TypeIndex.Named ? new Array(struct.value.fields.length) : null)

    watch(
      fieldPrimitive,
      (valNew, valOld) => {
        if (isPrimitiveType(props.field.type.typeIndex)) {
          const val = { valPrimitive: props.field.type.typeIndex === TypeIndex.bool ? JSON.parse(valNew) : valNew, typeIndex: props.field.type.typeIndex }
          context.emit('update:modelValue', val)
        }
      },
      {
        immediate: true,
        deep: true,
      }
    )
    watch(
      aryArgumentsStruct,
      (valNew, valOld) => {
        if (props.field.type.typeIndex === TypeIndex.Named) {
          const val = { valStruct: valNew, typeIndex: props.field.type.typeIndex }
          context.emit('update:modelValue', val)
        }
      },
      {
        immediate: true,
        deep: true,
      }
    )
    watch(
      fieldOptionalEnable,
      (valNew, valOld) => {
        if (props.field.type.typeIndex === TypeIndex.Option) {
          const val = {
            valOptional: !fieldOptionalEnable.value ? null : fieldOptionalValue.value,
            typeIndex: props.field.type.typeIndex,
          }
          context.emit('update:modelValue', val)
        }
      },
      {
        immediate: true,
        deep: true,
      }
    )
    watch(
      fieldOptionalValue,
      (valNew, valOld) => {
        if (props.field.type.typeIndex === TypeIndex.Option) {
          const val = { valOptional: !fieldOptionalEnable.value ? null : valNew, typeIndex: props.field.type.typeIndex }
          context.emit('update:modelValue', val)
        }
      },
      {
        immediate: true,
        deep: true,
      }
    )
    watch(
      fieldVec,
      (valNew, valOld) => {
        if (props.field.type.typeIndex === TypeIndex.Vec) {
          const val = { valVec: valNew, typeIndex: props.field.type.typeIndex }
          context.emit('update:modelValue', val)
        }
      },
      {
        immediate: true,
        deep: true,
      }
    )

    return {
      struct,
      aryArgumentsStruct,
      fieldPrimitive,
      fieldVec,
      fieldOptionalEnable,
      fieldOptionalValue,
      getTypeInner,
      TypeIndex: TypeIndex,
      isPrimitive,
      onVecAdd: () => {
        fieldVec.value.push(null)
      },
      onVecRemove: (idx) => {
        fieldVec.value.splice(idx, 1)
        const val = { valVec: fieldVec.value, typeIndex: props.field.type.typeIndex }
        context.emit('update:modelValue', val)
      },
    }
  },
}
</script>
<style lang="scss" scoped></style>
