<template>
  <pre v-if="$dev">ROOT aryArgumentsRoot: {{ JSON.stringify(aryArgumentsRoot, null, 2) }}</pre>
  <template v-for="(field, idx) in fn.arguments" :key="idx">
    <!-- See action view for how to deal with Vec and Bool -->
    <form-interact-inputs :field="fn.arguments[idx]" v-model="aryArgumentsRoot[idx]" :abi="abi" />
  </template>
</template>

<script>
import { ref, computed, watch } from 'vue'
import FormInteractInputs from 'src/components/FormInteractInputs.vue'

export default {
  emits: ['update:modelValue'],
  components: {
    FormInteractInputs,
  },
  props: {
    modelValue: Object,
    abi: {
      type: Object,
      required: true,
    },
    fn: {
      type: Object,
      required: true,
    },
  },
  setup(props, context) {
    const aryArgumentsRoot = ref(new Array(props.fn.arguments.length))
    // const aryArgumentsRoot = ref([])
    watch(
      aryArgumentsRoot,
      (valNew, valOld) => {
        context.emit('update:modelValue', valNew)
      },
      {
        immediate: true,
        deep: true,
      }
    )

    return {
      aryArgumentsRoot,
    }
  },
}
</script>
