<template>
  <!-- primitives are Text or Boolean -->

  <!-- TYPE BOOLEAN -->
  <template v-if="typeIndex === TypeIndex.bool">
    <pre v-if="$dev">{{ JSON.stringify({ fieldText, modelValue }) }}</pre>
    <div>
      <q-toggle @update:model-value="onUpdateValue" v-model="fieldBool" :label="name" />
    </div>
  </template>

  <!-- TYPE everything else (string or number) -->
  <template v-else>
    <pre v-if="$dev">{{ JSON.stringify({ fieldText, modelValue }) }}</pre>
    <q-input
      @change="onUpdateValue"
      v-model="fieldText"
      outlined
      :label="name"
      bottom-slots
      dense
      lazy-rules
      :rules="[(val) => !checkRules || isInputValid(val)]"
    >
      <template v-slot:hint> type: {{ TypeIndex[typeIndex] }}</template>
    </q-input>
  </template>
</template>

<script>
import { ref, getCurrentInstance, nextTick, computed } from 'vue'
import { useQuasar } from 'quasar'
import assert from 'assert'
import { RpcReader, TypeIndex } from '@partisiablockchain/abi-client-ts'
import { isNumericType, isPrimitiveType } from 'src/boot/serializePublicContract'
import { partisiaCrypto } from 'partisia-crypto'

export default {
  emits: ['update:modelValue'],
  props: {
    modelValue: String,
    typeIndex: {
      type: Number,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    checkRules: {
      type: Boolean,
      default: true,
    },
  },
  setup(props, context) {
    const $q = useQuasar()

    const fieldBool = ref(false)
    const fieldText = ref('')

    // console.log('modelValue', JSON.stringify(props.modelValue))
    const onUpdateValue = (_val) => {
      const val = props.typeIndex === TypeIndex.bool ? fieldBool.value.toString() : fieldText.value
      // context.emit('change', JSON.stringify(val))
      context.emit('update:modelValue', val)
    }

    // // init the field
    if (props.modelValue === null) onUpdateValue()

    return {
      TypeIndex: TypeIndex,
      fieldBool,
      fieldText,
      onUpdateValue,
      isInputValid: (val) => {
        try {
          assert(val && val.length > 0, 'Please type something')
          const type = props.typeIndex
          if (type === TypeIndex.Address) {
            assert(partisiaCrypto.wallet.isValidAddress(val), 'Invalid Address')
            return true
          } else if (isNumericType(type)) {
            const num = Number(val)
            assert(!isNaN(num), 'Not a valid number')
            assert(val.indexOf('.') === -1, 'No Decimals allowed for Integers')
            if (TypeIndex[type].substr(0, 1) === 'u') {
              assert(num >= 0, 'Must be positive number')
            }
          }
        } catch (error) {
          return error.message
        }
      },
    }
  },
}
</script>
