<template>
  <div ref="map" class="map-wrapper"></div>
</template>

<script>
import { defineComponent, onMounted, ref, getCurrentInstance } from 'vue'
import mapboxgl from 'mapbox-gl'

const dataMap = {
  type: 'FeatureCollection',
  features: [
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-97.822, 37.751] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-118.3693, 33.8697] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [2.3387, 48.8582] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-118.2578, 34.0549] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-97.822, 37.751] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [25, 46] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-118.2578, 34.0549] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [51.4231, 35.6961] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [18.0922, 42.6481] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-97.822, 37.751] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-97.822, 37.751] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [139.7459, 35.5826] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [11.1617, 49.405] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [17.0176, 51.0957] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-105.2366, 39.9947] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [11.1617, 49.405] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-76.629, 39.3516] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-76.629, 39.3516] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-97.822, 37.751] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-105.2366, 39.9947] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [30.5233, 50.45] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [11.1617, 49.405] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [13.3985, 52.5174] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [103.8549, 1.2996] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-71.1607, 42.6508] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-74.0029, 40.7145] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [37.6068, 55.7386] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [30.5233, 50.45] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [103.6839, 1.314] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [11.1617, 49.405] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [103.8549, 1.2996] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-105.2366, 39.9947] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [11.1617, 49.405] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [4.9167, 52.35] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [11.1617, 49.405] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [19.0963, 49.7608] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [11.1617, 49.405] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [37.6068, 55.7386] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-2.2167, 53.4] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-97.822, 37.751] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-97.822, 37.751] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [33.5224, 44.5888] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [11.1617, 49.405] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [103.6839, 1.314] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [35.0328, 48.4602] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-79.3716, 43.6319] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-97.822, 37.751] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-77.4728, 39.0481] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-97.822, 37.751] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [21.0362, 52.2394] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-105.2366, 39.9947] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [11.6074, 48.1089] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-97.822, 37.751] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [11.1617, 49.405] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-97.822, 37.751] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [11.1617, 49.405] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [4.9392, 52.352] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-97.822, 37.751] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [9.491, 51.2993] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [24, 56] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [6.0961, 49.7867] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-96.8336, 32.7908] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [139.7459, 35.5826] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-105.2366, 39.9947] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-75.1074, 40.4262] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [11.1617, 49.405] } },
    { type: 'Feature', properties: {}, geometry: { type: 'Point', coordinates: [-97.822, 37.751] } },
  ],
}

export default {
  // name: 'ComponentName',
  setup() {
    // https://docs.mapbox.com/mapbox-gl-js/guides/install/#quickstart
    // https://docs.mapbox.com/mapbox-gl-js/guides/
    // https://account.mapbox.com/
    const app = getCurrentInstance()
    const lat = ref(30)
    const lng = ref(0)
    const zoom = ref(1.6)
    onMounted(() => {
      mapboxgl.accessToken = process.env.MAPBOX_ACCESS_TOKEN
      const map = new mapboxgl.Map({
        container: app.refs.map,
        style: process.env.MAPBOX_STYLE,
        // style: 'mapbox://styles/mapbox/streets-v11', // style URL
        center: [lng.value, lat.value],
        zoom: zoom.value,
      })
      if (process.env.DEV) {
        console.log('map', map)
      }
      map.on('load', () => {
        console.log('map on load')
        map.addSource('locations', {
          type: 'geojson',
          data: dataMap,
        })

        map.addLayer({
          id: 'locations-layer',
          type: 'circle',
          source: 'locations',
          paint: {
            'circle-radius': 3,
            'circle-color': '#05f29b',
          },
        })
      })
      map.on('move', () => {
        lng.value = map.getCenter().lng.toFixed(4)
        lat.value = map.getCenter().lat.toFixed(4)
        zoom.value = map.getZoom().toFixed(2)
      })
    })
    return {
      lat,
      lng,
      zoom,
    }
  },
}
</script>
<style lang="scss" scoped>
.map-wrapper {
  width: 100%;
  height: 750px;
}
</style>
