<template>
  <div v-bind:class="{ 'q-pa-sm': !isMobile }">
    <table-custom v-if="!isMobile" :loading="loading" :rows="rows" :columns="columns" :vis="vis" />
    <template v-else>
      <div v-for="(row, idx) in rows" :key="idx" class="q-pb-md">
        <table-custom
          :bordered="true"
          :loading="loading"
          :grid-header="false"
          min-height="0"
          :rows="getMobileRow(row)"
          :columns="colMobile"
          :vis="['grid_key', 'grid_value']"
        />
      </div>
    </template>
  </div>
  <div class="full-width row justify-center">
    <q-btn class="row q-mt-md" size="lg" color="btn-color" style="width: 185px" label="View More" no-caps @click="onViewMore" />
  </div>
</template>

<script>
import { ref, onBeforeMount } from 'vue'
import { useStore } from 'vuex'
import { api, getShardName } from 'src/boot/preload'
import TableCustom from 'src/components/TableCustom.vue'
import useBreakpoints from 'src/boot/useBreakpoints'

const columns = [
  { name: 'id', field: 'id' },
  { name: 'shard', align: 'left', label: 'shard', field: 'shard_id', format: (val) => getShardName(val) },
  {
    name: 'height',
    required: true,
    label: 'height',
    align: 'left',
    field: 'block_level',
    format: (val) => `${Number(val).toLocaleString('en-US')}`,
  },
  { name: 'timestamp', align: 'left', label: 'timestamp', field: 'block_timestamp', format: (val) => new Date(val).toISOString() },
  { name: 'transactions', align: 'center', label: 'transactions', field: 'transaction_count' },
  {
    name: 'hash',
    align: 'left',
    label: 'hash',
    field: 'block_hash',
  },
]

const colMobile = [
  { align: 'left', name: 'grid_key', field: 'key' },
  { align: 'left', name: 'grid_value', field: 'value' },
  { name: 'grid_tag', field: 'tag' },
]

export default {
  props: {
    data: {
      type: Array,
      required: false,
    },
  },
  components: {
    TableCustom,
  },
  setup(props) {
    const store = useStore()
    const rows = ref([])
    const loading = ref(true)
    const { width, isMobile } = useBreakpoints()

    onBeforeMount(async () => {
      try {
        if (props.data) {
          rows.value = props.data
        } else {
          const { data } = await api.get('/blocks/latest?n=20')
          rows.value = data
        }
      } catch (error) {
        console.error(error.message)
      } finally {
        loading.value = false
      }
    })
    store.watch(
      (state, getters) => getters.blocks,
      (newValue, oldValue) => {
        // if (process.env.DEV) console.log('new block', JSON.stringify(newValue[0], null, 2))

        rows.value.unshift(newValue[0])
      }
    )

    return {
      loading,
      columns,
      width,
      isMobile,
      colMobile,
      vis: ref(columns.map((c) => c.name).filter((c) => c !== 'id')),
      rows,
      getMobileRow: (row) => {
        const ary = [
          { key: 'Shard Id', value: row.shard_id, tag: 'shard_id' },
          { key: 'Block Level', value: row.block_level, tag: 'block_level' },
          { key: 'Hash', value: row.block_hash, tag: 'block_hash' },
          { key: 'Timestamp', value: row.block_timestamp, tag: 'timestamp' },
          { key: 'Transactions', value: row.transaction_count },
        ]

        return ary
      },
      onViewMore: async () => {
        try {
          loading.value = true
          const id = rows.value[rows.value.length - 1].id

          const { data } = await api.get(`/blocks/latest?n=20&id=${id}`)
          rows.value.push(...data)
        } catch (error) {
          console.error(error.message)
        } finally {
          loading.value = false
        }
      },
    }
  },
}
</script>
<style lang="scss" scoped></style>
