<template>
  <div v-bind:class="{ 'q-pa-sm': !isMobile }">
    <table-custom v-if="!isMobile" :loading="loading" :rows="rows" :columns="columns" :vis="vis" />
    <template v-else>
      <div v-for="(row, idx) in rows" :key="idx" class="q-pb-md">
        <table-custom
          :bordered="true"
          :loading="loading"
          :grid-header="false"
          :min-height="0"
          :rows="getMobileRow(row)"
          :columns="colMobile"
          :vis="['grid_key', 'grid_value']"
        />
      </div>
    </template>
  </div>
  <div class="full-width row justify-center">
    <q-btn class="row q-mt-md" size="lg" color="btn-color" style="width: 185px" label="View More" no-caps @click="onViewMore" />
  </div>
</template>

<script>
import { ref, onBeforeMount } from 'vue'
import { api, getShardName, mapTrxData } from 'src/boot/preload'
import TableCustom from 'src/components/TableCustom.vue'
import { format } from 'timeago.js'
import useBreakpoints from 'src/boot/useBreakpoints'

const colMobile = [
  { align: 'left', name: 'grid_key', field: 'key' },
  { align: 'left', name: 'grid_value', field: 'value' },
  { name: 'grid_tag', field: 'tag' },
]

export default {
  components: {
    TableCustom,
  },
  methods: {},
  setup() {
    const rows = ref([])
    const loading = ref(true)
    const { width, isMobile } = useBreakpoints()

    const columns = [
      { name: 'id', field: 'id' },
      {
        name: 'hash',
        align: 'left',
        label: 'hash',
        field: 'transaction_hash',
      },
      { name: 'shard', align: 'left', label: 'shard', field: 'shard_id', format: (val) => getShardName(val) },
      { name: 'timestamp', align: 'left', label: 'timestamp', field: 'block_timestamp', format: (val) => val }, //formatTimeAgo(new Date(val))
      { name: 'from', align: 'center', label: 'from', field: 'address_from' },
      { name: 'to', align: 'center', label: 'to', field: 'to' },
      { name: 'invocation_type', align: 'center', label: 'Type', field: 'invocation_type' },
      { name: 'amount', align: 'left', label: 'amount', field: 'amount', format: (val) => (val != null ? Number(val).toLocaleString('en-US') : '') },
      { name: 'fee', align: 'left', label: 'fee', field: 'inner_cost' },
    ]
    const formatTimeAgo = (d) => {
      return format(d.getTime())
    }
    onBeforeMount(async () => {
      try {
        const qs = new URLSearchParams({ n: 20, skip_payload: true }).toString()
        const { data } = await api.get(`/transactions/latest?${qs}`)
        rows.value = mapTrxData(data)
      } catch (error) {
        console.error(error.message)
      } finally {
        loading.value = false
      }
    })
    return {
      loading,
      columns,
      rows,
      width,
      isMobile,
      colMobile,
      vis: ref(columns.map((c) => c.name).filter((c) => c !== 'id')),
      getMobileRow: (row) => {
        const ary = [
          { key: 'Shard Id', value: row.shard_id, tag: 'shard_id' },
          { key: 'Block Level', value: row.block_level, tag: 'block_level' },
          { key: 'Hash', value: row.transaction_hash, tag: 'transaction_hash' },
          { key: 'Timestamp', value: row.block_timestamp, tag: 'timestamp' },
          { key: 'From', value: row.address_from, tag: 'address_hash' },
          { key: 'To', value: row.to, tag: 'address_hash' },
          { key: 'Type', value: row.invocation_type, tag: 'invocation_type' },
        ]

        return ary
      },
      onViewMore: async () => {
        try {
          loading.value = true
          const id = rows.value[rows.value.length - 1].id
          const qs = new URLSearchParams({ n: 20, id, skip_payload: true }).toString()
          const { data } = await api.get(`/transactions/latest?${qs}`)
          rows.value.push(...mapTrxData(data))
        } catch (error) {
          console.error(error.message)
        } finally {
          loading.value = false
        }
      },
    }
  },
}
</script>
<style lang="scss" scoped></style>
