<template>
  <q-table
    :hide-header="!gridHeader"
    hide-bottom
    :bordered="bordered"
    table-header-class="thc"
    separator="none"
    :rows="rows"
    :columns="columns"
    row-key="id"
    :loading="loading"
    :rows-per-page-options="[0]"
    :visible-columns="vis"
    v-bind:style="{ 'min-height': minHeight, 'max-width': maxWidth }"
    style="box-shadow: none"
  >
    <template v-if="csv.name && rows.length > 0" v-slot:top-right>
      <download-csv :csv="csv" />
    </template>
    <template v-slot:loading>
      <q-inner-loading showing color="primary" />
    </template>
    <template v-slot:body="props">
      <q-tr no-hover :props="props" v-bind:style="{ background: props.rowIndex % 2 === 1 ? '#fafafc' : '' }">
        <!-- <pre>{{ JSON.stringify(props) }}</pre> -->
        <q-td v-for="(col, j) in props.cols" :key="col.name" :props="props">
          <span class="t-cell-class" v-bind:class="`t-cell-col-${j + 1}`">
            <template v-if="col.field === 'block_hash' || (props?.row?.tag === 'block_hash' && col.name === 'grid_value')">
              <router-link :to="`/block/${col.value}`">{{ ellipseHash(col.value) }}</router-link>
            </template>
            <template v-else-if="col.field === 'transaction_hash' || (props?.row?.tag === 'transaction_hash' && col.name === 'grid_value')">
              <router-link :to="`/transaction/${col.value}`">{{ ellipseHash(col.value) }}</router-link>
            </template>
            <template
              v-else-if="
                ['address_from', 'address', 'header_contract', 'to', 'from'].includes(col.field) ||
                (props?.row?.tag === 'address_hash' && col.name === 'grid_value')
              "
            >
              <router-link :to="`/address/${col.value}`">{{ ellipseAddress(col.value) }}</router-link>
            </template>
            <template v-else-if="['block_timestamp'].includes(col.field) || (props?.row?.tag === 'timestamp' && col.name === 'grid_value')">
              {{ new Date(col.value).toISOString() }}
            </template>
            <template v-else-if="['invocation_type'].includes(col.field) || (props?.row?.tag === 'invocation_type' && col.name === 'grid_value')">
              <q-chip :ripple="false" :clickable="false" square style="background-color: #e8f0ff">{{ titleCase(col.value) }}</q-chip>
            </template>
            <template v-else-if="props?.row?.tag === 'shard_id' && col.name === 'grid_value'">
              {{ getShardName(col.value) }}
            </template>
            <template v-else-if="props?.row?.tag === 'trx_signature' && col.name === 'grid_value'">
              {{ ellipseSig(col.value) }}
              <!-- <q-tooltip anchor="top middle" self="bottom middle" class="bg-amber text-black shadow-4" :offset="[10, 10]"> {{ col.value }} </q-tooltip> -->
            </template>
            <template v-else-if="props?.row?.tag === 'block_level' && col.name === 'grid_value'">
              {{ Number(col.value).toLocaleString('en-US') }}
            </template>
            <template v-else-if="props?.row?.tag === 'payload' && col.name === 'grid_value'">
              <q-badge class="q-pa-none" color="grey-3">
                <div class="truncate-chip-labels">
                  <q-chip color="transparent" square :clickable="false" :ripple="false">
                    <div class="ellipsis">
                      {{ col.value }}
                    </div>
                  </q-chip>
                  <q-icon size="xs" name="las la-copy" color="grey-14" @click="onCopy(col.value)" class="cursor-pointer q-pr-sm" />
                </div>
              </q-badge>
              <!-- <span style="white-space: break-spaces; line-break: anywhere">{{ col.value.substr(0, 1000) }}{{ col.value.length > 1000 ? '...' : '' }}</span> -->
            </template>
            <template v-else-if="props?.row?.tag === 'file' && col.name === 'grid_value'">
              <q-btn label="Download Wasm" color="btn-color" no-caps @click="onDownloadFileWasm(col.value)" />
            </template>
            <template v-else-if="props?.row?.tag === 'abi' && col.name === 'grid_value'">
              <q-btn label="Download Abi" color="btn-color" no-caps @click="onDownloadFileAbi(col.value)" />
              <q-btn class="q-ml-md" label="Decode Abi" color="btn-color" no-caps @click="onDecodeAbi(col.value)" />
            </template>
            <template v-else-if="props?.row?.tag === 'trace_count' && col.name === 'grid_value'">
              <q-card class="relative-position transparent" flat>
                <q-card-section class="q-pa-none">
                  <q-expansion-item v-if="col.value > 0" :label="String(col.value)" caption="Click to expand transactions" @before-show="onExpand">
                    <q-list separator>
                      <q-item v-for="(trace, idx) in aryTraces" :key="idx" clickable v-ripple :to="`/transaction/${trace.tx_hash}`">
                        <q-item-section>
                          <!-- <pre v-if="$dev">{{ trace }}</pre> -->
                          <q-item-label>{{ ellipseHash(trace.tx_hash) }}</q-item-label>
                          <q-item-label v-if="!trace.execution_succeeded" caption>{{ trace.error_message }}</q-item-label>
                        </q-item-section>
                        <q-item-section side>
                          <q-badge rounded :color="trace.execution_succeeded ? 'green' : 'red'" />
                        </q-item-section>
                      </q-item>
                    </q-list>
                  </q-expansion-item>
                  <q-inner-loading :showing="isLoadingTraces">
                    <q-spinner-gears size="50px" color="grey-14" />
                  </q-inner-loading>
                </q-card-section>
              </q-card>
            </template>
            <template v-else-if="props?.row?.tag === 'decodeAction' && col.name === 'grid_value'">
              <q-badge class="q-pa-none" color="grey-3">
                <div class="truncate-chip-labels">
                  <q-chip color="transparent" square ripple clickable @click="onDecodeAction(col.value, props.row.opts)">
                    <div class="ellipsis">
                      {{ col.value }}
                      <q-tooltip anchor="top middle" self="bottom middle" class="bg-amber text-black shadow-4">Click to Decode Payload</q-tooltip>
                    </div>
                  </q-chip>
                  <q-icon size="xs" name="las la-copy" color="grey-14" @click="onCopy(col.value)" class="cursor-pointer q-pr-sm" />
                </div>
              </q-badge>
            </template>
            <template v-else-if="props?.row?.tag === 'rpc_payload_arguments' && col.name === 'grid_value'">
              <pre style="font-size: 0.75em">{{ col.value }}</pre>
            </template>
            <template v-else-if="col.field === 'has_error'">
              <q-icon v-if="col.value" name="las la-exclamation-triangle" color="red" size="md" />
              <q-tooltip anchor="top middle" self="bottom middle" class="bg-amber text-black shadow-4" :offset="[10, 10]">
                {{ props?.row?.error_message }}
              </q-tooltip>
            </template>

            <template v-else>
              {{ col.value }}
            </template>
          </span>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
import { ref, computed } from 'vue'
import { api, getAbi, getShardName, mapTrxDataErc20, reMapByoc, rpcAccount } from 'src/boot/preload'
import { useQuasar, copyToClipboard } from 'quasar'
import DownloadCsv from 'src/components/DownloadCsv.vue'
import { saveAs } from 'file-saver'
import DialogJsonDisplay from 'src/components/DialogJsonDisplay.vue'
import to from 'to-case'
import { AbiParser, FnKinds, JsonRpcConverter, RpcReader } from '@partisiablockchain/abi-client-ts'
import assert from 'assert'
import { partisiaCrypto } from 'partisia-crypto'

export default {
  props: {
    csv: {
      type: Object,
      default: new Object(),
    },
    bordered: {
      type: Boolean,
      default: false,
    },
    maxWidth: {
      type: String,
      default: '',
    },
    minHeight: {
      type: String,
      default: '500px',
    },
    gridHeader: {
      type: Boolean,
      default: true,
    },
    loading: {
      type: Boolean,
      required: true,
    },
    columns: {
      type: Array,
      required: true,
    },
    vis: {
      type: Array,
      required: true,
    },
    rows: {
      type: Array,
      required: true,
    },
    eventTraces: {
      type: Array,
      default: () => [],
      deep: true,
    },
  },
  components: {
    DownloadCsv,
  },
  methods: {
    getShardName(id) {
      return getShardName(id)
    },
  },
  setup(props, context) {
    const $q = useQuasar()
    const aryTraces = ref([])

    const isLoadingTraces = ref(false)
    const ellipseHash = (a) => {
      // Ex: mpjPqi31Fzs3PY...JlcyzE
      return `${a.substr(0, 14)}...${a.substr(58)}`
    }
    const ellipseSig = (a) => {
      // Ex: mpjPqi31Fzs3PY...JlcyzE
      return `${a.substr(0, 24)}...${a.substr(110)}`
    }
    const ellipseAddress = (a) => {
      // Ex: 4dfa940def17f...e8af
      return `${a.substr(0, 13)}...${a.substr(38)}`
    }

    return {
      ellipseHash,
      ellipseSig,
      ellipseAddress,
      aryTraces,
      isLoadingTraces,
      onDownloadFileWasm: (hex) => {
        try {
          const binBuffer = new Blob([Buffer.from(hex, 'hex')])
          saveAs(binBuffer, 'contract.wasm', { type: 'application/wasm' })
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        }
      },
      onDownloadFileAbi: (hex) => {
        try {
          const binBuffer = new Blob([Buffer.from(hex, 'hex')])
          saveAs(binBuffer, 'contract.abi', { type: 'text/plain' })
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        }
      },
      onDecodeAbi: (abiHex) => {
        try {
          const abiFile = new AbiParser(Buffer.from(abiHex, 'hex')).parseAbi()
          // Open Dialog
          $q.dialog({
            persistent: false,
            component: DialogJsonDisplay,
            componentProps: {
              json: abiFile,
            },
          })
            .onOk(() => {
              console.log('OK')
            })
            .onCancel(() => {
              console.log('Cancel')
            })
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        }
      },
      onDecodeAction: async (payloadHex, args) => {
        try {
          // get the abi if not passed into the args
          // const abiHex = args.abi || (await api.get(`/contract_public/${args.contract}`)).data.abi
          let json
          if (parseInt(args.contract.substr(0, 2), 16) === 2 || args.contract === '0197a0e238e924025bad144aa0c4913e46308f9a4d') {
            const abiHex = args.abi || Buffer.from((await rpcAccount.getContract(args.contract, undefined, false)).data.abi, 'base64').toString('hex')

            assert(abiHex?.length > 0, `contract has no abi that can be used to deserialize this payload`)

            // put abi in arg object so that if click again it will not have to do another request
            args.abi = abiHex

            // deserialize action payload into object model
            const abiFile = new AbiParser(Buffer.from(abiHex, 'hex')).parseAbi()
            const rpc = new RpcReader(
              Buffer.from(payloadHex, 'hex'),
              abiFile,
              args.contract === '0197a0e238e924025bad144aa0c4913e46308f9a4d' ? FnKinds.init : args.eventType === 'Callback' ? FnKinds.callback : FnKinds.action
            ).readRpc()
            json = JsonRpcConverter.toJson(rpc)
          } else {
            json = partisiaCrypto.structs.deserializePayloadData(Buffer.from(payloadHex, 'hex'), args.contract)
            assert(json, `contract has no abi that can be used to deserialize this payload`)
          }

          // Open Dialog
          $q.dialog({
            persistent: false,
            component: DialogJsonDisplay,
            componentProps: {
              json,
            },
          })
            .onOk(() => {
              console.log('OK')
            })
            .onCancel(() => {
              console.log('Cancel')
            })
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        }
      },
      onExpand: async () => {
        try {
          if (props.eventTraces.length > 0) {
            aryTraces.value = props.eventTraces
            return
          }
          isLoadingTraces.value = true
          if (aryTraces.value.length === 0) {
            // get the traces
            const tx_base = props.rows.find((r) => r.tag === 'transaction_hash').value
            const { data } = await api.get(`/transactions/traces/${tx_base}`)
            aryTraces.value = data
          }
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isLoadingTraces.value = false
        }
      },
      titleCase(v) {
        return to.title(v)
      },
      onCopy: async (v) => {
        await copyToClipboard(v)
        $q.notify({ type: 'positive', message: 'copied to clipboard' })
      },
    }
  },
}
</script>
