// app global css in SCSS form
@font-face {
  font-family: Ubuntu;
  src: url(./fonts/ubuntu-v15-latin/ubuntu-v15-latin-regular.woff);
}
@font-face {
  font-family: Ubuntu;
  src: url(./fonts/ubuntu-v15-latin/ubuntu-v15-latin-700.woff);
  font-weight: bold;
}
@font-face {
  font-family: Montserrat;
  src: url(./fonts/montserrat-v25-latin/montserrat-v25-latin-regular.woff);
}
@font-face {
  font-family: Montserrat;
  src: url(./fonts/montserrat-v25-latin/montserrat-v25-latin-700.woff);
  font-weight: bold;
}
a {
  text-decoration: none;
}

.text-block-color {
  color: rgba (84, 99, 125, 0.54);
}
.bg-block-color {
  background-color: (84, 99, 125, 0.54);
}
// for mobile
.mobile-body .q-drawer {
  margin-top: 60px;
}
.text-tab-indicator {
  color: #05f29b !important;
}
.bg-btn-color {
  background-color: #0812c0 !important;
  color: white !important;
  border-radius: 8px;
}

.bg-right-menu {
  background-color: #000029;
}

.header-tab > .q-tab__indicator {
  padding-bottom: 3px;
}

// .q-tab--active {
//   color: red;
// }
.tab-recent.q-tab--active .q-tab__label {
  opacity: 1;
}
.tab-recent-mobile.q-tab--active .q-tab__label {
  opacity: 1;
}
.tab-recent .q-tab__label {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #03031c;
  opacity: 0.3;
}
.tab-recent-mobile .q-tab__label {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #03031c;
  opacity: 0.3;
}
.thc {
  font-family: Ubuntu;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #03031c;
  opacity: 0.6;

  background: #f2f2ff;
  border-radius: 4px;
  text-transform: uppercase;
}
.thc th {
  font-weight: bold;
}
.t-cell-class {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #03031c;
}
.mobile-body .t-cell-class {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #03031c;
}
.mobile-body .t-cell-class.t-cell-col-1 {
  text-transform: uppercase;
  opacity: 0.6;
  font-weight: bold;
}

.truncate-chip-labels > .q-chip{
  max-width: 140px;
}