<template>
  <router-view />
</template>
<script>
import { defineComponent, onBeforeMount } from 'vue'
import { useStore } from 'vuex'
import compareVersions from 'compare-versions'

export default defineComponent({
  name: 'App',
  setup() {
    const store = useStore()

    onBeforeMount(async () => {
      const appVersion = process.env.VERSION

      const migrateVersion = localStorage.getItem('migrate_version')
      const migrate = JSON.parse(localStorage.getItem(`migrate_${appVersion}`) || false)

      console.log('migrateVersion', migrateVersion)
      console.log('migrated', migrate)

      const runMigrations = async (migrateVersion, migrate) => {
        const appVersion = process.env.VERSION
        if (migrateVersion === appVersion && migrate) {
          // Version is current and updated; Nothing to do
          console.log('Version is current and up to date')
          return
        }
        if (migrateVersion == null && migrate === false) {
          // This means that it is a first time run
          console.log('first time run')

          await store.dispatch('sdkClear')

          localStorage.setItem('migrate_version', appVersion)
          localStorage.setItem(`migrate_${appVersion}`, true)
          return
        }

        if (migrateVersion !== appVersion) {
          console.log(`migrate from ${migrateVersion} to ${appVersion}`)

          // any version before 1.0.9 reset everything
          if (compareVersions.compare(migrateVersion, '1.0.17', '<')) {
            await store.dispatch('sdkClear')
          }

          // set the migrate versions
          localStorage.setItem('migrate_version', appVersion)
          localStorage.setItem(`migrate_${appVersion}`, true)
        }
      }
      await runMigrations(migrateVersion, migrate)
    })
  },
})
</script>
