<template>
  <template v-if="loadError">
    <error-loading :message="loadError" />
  </template>
  <q-layout :key="keyMainLayout" v-else view="hHh lpR fFf" v-bind:class="{ 'mobile-body': isMobile }">
    <q-header bordered class="header" v-bind:class="{ 'header-mobile': isMobile, 'header-desktop': !isMobile }">
      <q-toolbar>
        <q-toolbar-title class="header full-width row no-wrap justify-between items-center" v-bind:class="{ 'header-mobile': isMobile }">
          <div class="row no-wrap items-center cursor-pointer" @click=";[$key.increment(), onRouter('/')]">
            <q-img src="~assets/PB_Logo.png" :no-spinner="true" width="36px" height="36px" />
            <div class="q-px-md">Partisia<br />Blockchain</div>
            <template v-if="!['md', 'lg', 'xl'].includes(breakpoint)">
              <q-separator vertical color="white" />
              <div class="q-px-md">
                Explorer <br />
                <span class="text-caption">{{ version }}</span>
              </div>
            </template>
          </div>
          <div v-if="!isMobile" class="row">
            <div v-bind:style="{ 'max-width': ['md', 'lg', 'xl'].includes(breakpoint) ? '550px' : '800px' }">
              <q-tabs indicator-color="tab-indicator" v-model="tab" no-caps class="" outside-arrows>
                <!-- <q-route-tab class="header-tab" :to="{ path: '/' }" exact name="overview" label="Overview" /> -->
                <q-tab
                  class="header-tab"
                  @click="openLink(`${$testnet ? 'https://testnet-bridge.mpcexplorer.com/' : 'https://bridge.mpcexplorer.com/'}`)"
                  name="bridge"
                  label="BYOC"
                />
                <!-- <q-route-tab class="header-tab" :to="{ path: '/community' }" name="community" label="Community Staking" /> -->
                <q-tab
                  class="header-tab"
                  @click="openLink(`${$testnet ? 'https://browser.testnet.partisiablockchain.com' : 'https://browser.partisiablockchain.com'}`)"
                  name="community"
                  label="Community Staking"
                />
                <q-route-tab class="header-tab" :to="{ path: '/transactions' }" name="transactions" label="Transactions" />
                <q-route-tab class="header-tab" :to="{ path: '/blocks' }" name="blocks" label="Blocks" />
                <q-route-tab class="header-tab" :to="{ path: '/node-register' }" name="node-register" label="Node Register" />
                <q-route-tab class="header-tab" :to="{ path: '/deploy-contract' }" name="deploy-contract" label="Deploy Contract" />
                <q-route-tab class="header-tab" :to="{ path: '/validators' }" name="validators" label="Validators" />
              </q-tabs>
            </div>
          </div>
          <div v-if="!isMobile" class="row">
            <div class="row">
              <div class="col-grow">
                <q-form @submit="onSearch">
                  <q-input
                    v-model="txtSearch"
                    type="text"
                    label-color="white"
                    label="Search..."
                    dark
                    borderless
                    class="q-px-md"
                    :style="{ 'background-color': 'rgba(255,255,255,0.1)' }"
                  >
                    <template v-slot:append>
                      <q-icon class="cursor-pointer" @click="onSearch" name="search" />
                    </template>
                  </q-input>
                </q-form>
              </div>
              <div class="col self-center">
                <q-btn v-if="!account" class="q-py-md" size="sm" no-wrap flat icon="las la-user" label="Login" @click="onConnect" />
                <q-btn-dropdown v-else class="q-py-md" size="sm" no-wrap flat :label="truncateWithEllipses(account.address, 8)">
                  <q-list>
                    <q-item clickable v-close-popup @click="onViewActivity">
                      <q-item-section>
                        <q-item-label>View Activity</q-item-label>
                      </q-item-section>
                    </q-item>

                    <q-item clickable v-close-popup @click="onDisconnect">
                      <q-item-section>
                        <q-item-label>Logout</q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-btn-dropdown>
              </div>
            </div>
            <!-- <q-input type="text" color="white" label-color="white" :style="{ 'background-color': 'rgba(255,255,255,0.1)' }" filled label="Search..." /> -->
          </div>
        </q-toolbar-title>
        <q-btn v-if="isMobile" flat round :icon="rightDrawerOpen ? 'close' : 'menu'" @click="toggleRightDrawer" />
      </q-toolbar>
    </q-header>
    <!-- <q-drawer v-model="rightDrawerOpen" side="right" overlay bordered> -->
    <q-drawer
      v-model="rightDrawerOpen"
      side="right"
      overlay
      behavior="mobile"
      class="bg-right-menu"
      :width="width"
      dark
      bordered
      no-swipe-open
      no-swipe-backdrop
    >
      <div class="full-width row justify-center q-px-md">
        <div class="full-width q-mt-lg">
          <q-list dark separator class="mobile-menu">
            <q-item>
              <q-item-section>
                <q-form @submit="onSearch">
                  <q-input
                    rounded
                    v-model="txtSearch"
                    type="text"
                    label-color="white"
                    label="Search..."
                    dark
                    borderless
                    class="q-px-md q-mb-lg"
                    :style="{ 'background-color': 'rgba(255,255,255,0.1)', width: '100%' }"
                  >
                    <template v-slot:append>
                      <q-icon class="cursor-pointer" @click="onSearch" name="search" />
                    </template>
                  </q-input>
                </q-form>
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple to="/" exact active-class="right-menu-item-active">
              <q-item-section>
                <q-item-label>Overview</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple to="/validators" exact active-class="right-menu-item-active">
              <q-item-section>
                <q-item-label>Validators</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple to="/transactions" exact active-class="right-menu-item-active">
              <q-item-section>
                <q-item-label>Transactions</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-ripple to="/blocks" exact active-class="right-menu-item-active">
              <q-item-section>
                <q-item-label>Blocks</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
      </div>
    </q-drawer>
    <q-page-container>
      <router-view :key="$route.fullPath" />
    </q-page-container>

    <div v-if="!isMobile" class="footer-wrapper q-px-md q-pt-xl q-mt-xl">
      <div class="full-width row no-wrap justify-evenly">
        <div class="col-6">
          <div class="row no-wrap items-center footer-img">
            <q-img src="~assets/PB_Logo.png" :no-spinner="true" width="36px" height="36px" />
            <div class="q-px-md">Partisia<br />Blockchain</div>
          </div>
          <div class="q-py-lg">
            <div class="q-gutter-md">
              <q-btn
                class="footer-social"
                icon="lab la-linkedin-in"
                @click="openLink('https://www.linkedin.com/company/privacy-blockchain/?viewAsMember=true')"
              />
              <q-btn class="footer-social" icon="lab la-twitter" @click="openLink('https://twitter.com/partisiampc')" />
              <q-btn class="footer-social" icon="lab la-telegram" @click="openLink('https://t.me/partisiampc')" />
              <q-btn class="footer-social" icon="lab la-medium" @click="openLink('https://medium.com/partisia-blockchain')" />
            </div>
          </div>

          <div>
            <q-form @submit="onSubscribe">
              <div class="row full-width no-wrap">
                <q-input
                  v-model="txtSubscribeEmail"
                  placeholder="your@email.com"
                  dark
                  borderless
                  class="q-px-md col-grow"
                  :style="{ 'background-color': 'rgba(255,255,255,0.1)', 'border-radius': '8px' }"
                />
                <q-btn :loading="isSubscribing" :disable="isSubscribing" label="Subscribe" no-caps size="lg" class="footer-subscribe q-mx-lg" />
              </div>
            </q-form>
          </div>
          <div class="row full-width items-end" style="height: 150px">
            <div>Block Explorer All Rights Reserved © {{ new Date().getFullYear() }}</div>
          </div>
        </div>
        <div class="col-auto">
          <div class="full-width row no-wrap">
            <div class="footer-width">
              <q-list padding>
                <q-item clickable v-ripple class="q-mb-lg" to="mailto:accounts@pbc.foundation">
                  <q-item-section class="footer-title">Yellow Paper</q-item-section>
                </q-item>
                <q-item clickable v-ripple @click="openLink('https://www.partisiablockchain.com/developer')">
                  <q-item-section>Developers</q-item-section>
                </q-item>
                <q-item clickable v-ripple @click="openLink('https://www.partisiablockchain.com/ecosystem')">
                  <q-item-section>Ecosystem</q-item-section>
                </q-item>
              </q-list>
            </div>
            <div class="footer-width">
              <q-list padding>
                <q-item clickable v-ripple class="q-mb-lg" @click="openLink('https://partisia.com/partisia-blockchain-whitepaper/')">
                  <q-item-section class="footer-title">White Paper</q-item-section>
                </q-item>
                <q-item clickable v-ripple @click="openLink('https://www.partisiablockchain.com/validators')">
                  <q-item-section>Validators</q-item-section>
                </q-item>
                <q-item clickable v-ripple @click="openLink('https://www.partisiablockchain.com/resources')">
                  <q-item-section>Resources</q-item-section>
                </q-item>
                <q-item clickable v-ripple @click="openLink('https://www.partisiablockchain.com/foundation')">
                  <q-item-section>Foundation</q-item-section>
                </q-item>
              </q-list>
            </div>
            <div class="footer-width">
              <q-list padding>
                <q-item class="q-mb-lg">
                  <q-item-section class="footer-title">&nbsp;</q-item-section>
                </q-item>
                <q-item clickable v-ripple @click="openLink('https://medium.com/partisia-blockchain')">
                  <q-item-section>Blog</q-item-section>
                </q-item>
                <q-item clickable v-ripple @click="openLink('https://www.partisiablockchain.com/community')">
                  <q-item-section>Community</q-item-section>
                </q-item>
                <q-item clickable v-ripple @click="openLink('https://partisiablockchain.gitlab.io/documentation/bpinclusion.html')">
                  <q-item-section><span style="white-space: nowrap">Node Registration</span> Documentation</q-item-section>
                </q-item>
              </q-list>
            </div>
          </div>
          <div class="row full-width items-end justify-end" style="height: 100px">
            <div class="q-mr-lg cursor-pointer" @click="openLink('https://www.partisiablockchain.com/terms')">Terms of Use</div>
            <div class="cursor-pointer" @click="openLink('https://www.partisiablockchain.com/about')">About</div>
          </div>
        </div>
      </div>
    </div>
  </q-layout>
</template>

<script>
import { defineComponent, ref, computed, getCurrentInstance } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'
import ErrorLoading from 'src/components/ErrorLoading.vue'
import useBreakpoints from 'src/boot/useBreakpoints'
import { openURL, useQuasar } from 'quasar'
import axios from 'axios'
import PartisiaSdk from 'partisia-sdk'
import { truncateWithEllipses } from 'src/boot/preload'

export default defineComponent({
  name: 'MainLayout',

  components: {
    ErrorLoading,
  },
  setup() {
    const $q = useQuasar()
    const store = useStore()
    const router = useRouter()
    const app = getCurrentInstance()
    const { width, isMobile, breakpoint } = useBreakpoints()

    const keyMainLayout = ref(1)
    app.appContext.config.globalProperties.$key = {
      value: keyMainLayout,
      increment() {
        console.log(app.appContext.config.globalProperties.$dev)
        if (app.appContext.config.globalProperties.$dev) keyMainLayout.value++
      },
    }

    const rightDrawerOpen = ref(false)
    const txtSubscribeEmail = ref('')
    const isSubscribing = ref(false)
    const txtSearch = ref('')

    const onConnect = async () => {
      try {
        const sdk = new PartisiaSdk()
        await sdk.connect({
          chainId: process.env.CHAIN_ID,
          permissions: ['sign'],
          dappName: process.env.DAPP_NAME,
        })
        await store.dispatch('sdkConnect', { connection: sdk.connection, seed: sdk.seed })
      } catch (error) {
        $q.notify({ type: 'negative', position: 'top', message: error.message })
      }
    }
    store.watch(
      (state, getters) => getters.onWalletConnect,
      (newValue, oldValue) => {
        onConnect()
      }
    )

    return {
      keyMainLayout,
      width,
      isMobile,
      breakpoint,
      txtSearch,
      isSubscribing,
      txtSubscribeEmail,
      loadError: ref(store.getters.loadError),
      rightDrawerOpen,
      version: process.env.VERSION,
      truncateWithEllipses,
      onViewActivity: () => {
        router.push({ path: `/address/${store.getters.sdkClient?.connection?.account?.address}` })
      },
      onDisconnect: async () => {
        // const sdk = store.
        await store.dispatch('sdkClear')
      },
      onConnect,
      account: computed(() => store.getters.sdkClient?.connection?.account),
      toggleRightDrawer() {
        rightDrawerOpen.value = !rightDrawerOpen.value
      },
      tab: ref('overview'),
      onRouter: (path) => {
        router.push(path)
      },
      openLink: (url) => {
        openURL(url)
      },
      openEmail: (mailto) => {
        document.location = mailto
      },
      onSearch: () => {
        console.log(txtSearch.value)
        if (txtSearch.value.length == 42) {
          router.push({ path: `/address/${txtSearch.value}` })
          txtSearch.value = ''
        } else {
          router.push({ path: `/transaction/${txtSearch.value}` })
          txtSearch.value = ''
        }
      },
      onSubscribe: async () => {
        try {
          isSubscribing.value = true
          const { data } = await axios.post('https://docver.partisiablockchain.com/subscribe', { email: txtSubscribeEmail.value })
          $q.notify({ type: 'positive', message: 'successfully subscribed' })
        } catch (error) {
          $q.notify({ type: 'negative', message: error.message })
        } finally {
          isSubscribing.value = false
        }
      },
    }
  },
})
</script>

<style lang="scss" scoped>
.header {
  background: #000029;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.header-desktop {
  height: 79px;
}
.header-mobile {
  height: 60px;
}
.header-tab {
  padding-top: 23px;
  padding-bottom: 23px;
}
.mobile-menu .q-item {
  height: 66px;
  font-size: 16px;
  line-height: 18px;
}
.right-menu-item-active {
  color: #05f29b !important;
}
.footer-wrapper {
  background-color: #000029;
  height: 400px;
  color: white;
}
.footer-width {
  width: 150px;
}
.footer-wrapper .q-item {
  // text-align: center;
  font-size: 16px;
  line-height: 150%;
  color: #969aac;
}
.footer-wrapper .footer-title {
  color: white;
}
.footer-img {
  font-size: 20px;
  line-height: 23px;
}
.footer-subscribe {
  background: #0812c0;
  box-shadow: 0px 2px 4px rgba(0, 0, 41, 0.24);
  border-radius: 8px;
  width: 150px;
}
.footer-social {
  background: #0812c0;
  border-radius: 3px;
  width: 25px;
  height: 25px;
}
</style>
